n8n_workflows/booking_agent.json
{"updatedAt":"2026-07-07T13:42:34.822Z","createdAt":"2026-06-19T12:27:14.263Z","id":"PvqSTZXj9kHwKkkl","name":"booking_agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 14,\n  \"sender\": \"5491123912507\",\n  \"id_alumno\": 2,\n  \"message\": \"Quería una clase para el jueves\",\n  \"message_id\": \"wamid.HBgNNTQ5MTEyMzkxMjUwNxUCABIYFDNBN0JEN0Q5NTIwMERFNUFGOTJEAA==\",\n  \"date_time\": \"2026-06-19T14:42:50.990Z\"\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[608,352]},{"parameters":{"description":"=Use this tool to **retrieve potential dates and times available for class reservations**.\n\nThe available options are generated based on the **criteria provided in the input parameters**.\n\nThe tool returns a list of **possible scheduling slots** that match the requested conditions.","workflowId":{"__rl":true,"value":"6eKRRIEBPx9qvhCr","mode":"list","cachedResultUrl":"/workflow/6eKRRIEBPx9qvhCr","cachedResultName":"check_availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{"duracion_minutos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_minutos', `Possible values:\n    - 60\n    - 90\n    - 120`, 'number') }}","id_alumno":"={{ $json.id_alumno }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', `Possible values:\n    - 1\n    - 2\n    - 3`, 'number') }}","profesor_preferido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesor_preferido', `If the student did not specify a preferred teacher, fill in with \"\"`, 'string') }}","nivel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel', `Only strings. If the student's tipo_educacion is UNIVERSITARIO, then fill in with \"\"`, 'string') }}","tipo_educacion":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_educacion', `Possible values:\n    - PRIMARIO\n    - SECUNDARIO\n    - UNIVERSITARIO`, 'string') }}","materia_solicitada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('materia_solicitada', `Here you must insert a **STRING**.\n# Examples\n## Example 1\n\"MATEMATICA\"\n## Example 2\n\"LENGUA Y LITERATURA\"\n## Example 3\n\"FISICOQUIMICA\"\n## Example 4\n\"FORMACION ETICA Y CIUDADANA\"\n\n# **NEVER INSERT A NUMBER HERE**`, 'string') }}","fecha_preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_preferida', `For example, \"9\"`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"materia_solicitada","displayName":"materia_solicitada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_educacion","displayName":"tipo_educacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nivel","displayName":"nivel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duracion_minutos","displayName":"duracion_minutos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"profesor_preferido","displayName":"profesor_preferido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha_preferida","displayName":"fecha_preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1024,640],"id":"44ebc5d1-d48f-4d01-a726-d8cb64d7541d","name":"check_availability"},{"parameters":{"description":"=Use this tool to **create a class reservation in the database**.\n\nWhen this tool is executed, the system attempts to **schedule the class for the student** using the provided information.\n\n## Result\nIf the operation is successful:\n\n- The reservation is **stored in the database**\n- The class becomes **officially booked for the student**\n\nIf the operation fails, the response will indicate the reason so the system can handle the situation appropriately.","workflowId":{"__rl":true,"value":"In7sN6n9AICU5TjV","mode":"list","cachedResultUrl":"/workflow/In7sN6n9AICU5TjV","cachedResultName":"book_class"},"workflowInputs":{"mappingMode":"defineBelow","value":{"duracion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_clase', `Possible values:\n    - 60\n    - 90\n    - 120`, 'number') }}","id_profesor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profesor', ``, 'number') }}","id_materia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_materia', ``, 'number') }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', `Possible values:\n    - 1\n    - 2\n    - 3`, 'number') }}","fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}","descripcion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion_clase', ``, 'string') }}","id_alumno":"={{ $json.id_alumno }}","conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}","sender":"={{ $json.sender }}"},"matchingColumns":[],"schema":[{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duracion_clase","displayName":"duracion_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_profesor","displayName":"id_profesor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_materia","displayName":"id_materia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"descripcion_clase","displayName":"descripcion_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1104,528],"id":"1ddd04de-96ce-453c-90b0-d9001bfb6af1","name":"book_class"},{"parameters":{"descriptionType":"manual","toolDescription":"=Deletes the user's state (keyed by phone number) to end this agent's control and reset the flow. Call as the final step: after delegating to a human, after a successful booking, or once the user has no further questions.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.sender }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1152,640],"id":"7e4a0068-91d1-49e4-bd0b-e1e02b1a5c8a","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# BOOKING ASSISTANT — Educare\n**Role:** Help students schedule tutoring classes step by step.\n**Environment:** [DateTime: 2026-05-28T12:38:09.639-03:00] | Timezone: America/Argentina/Buenos_Aires\n\nYou will talk either to the student directly or to a parent/tutor booking on their behalf.\n\n---\n\n# SCOPE\n\nThe agent handles:\n- Bookings of individual classes — ONE class at a time (see UNA CLASE POR VEZ).\n- Price inquiries (always via repregunta + delegation, see PRODUCT ROUTING).\n- Schedule inquiries about operating hours (answered directly, see HORARIOS DE ATENCIÓN).\n\nProducts the agent NEVER books or quotes itself — they ALWAYS delegate to humano:\n- Clase compartida (synonym: \"clase grupal\", \"clase en grupo\").\n- Pack de clases (synonyms: \"pack\", \"paquete\", \"bono de clases\").\n- Tutoría (synonyms: \"clase de tutoría\", \"hora de tutoría\", \"tutorías\").\n\nGenuinely out of scope — release control via delete_state:\n- Cancelaciones.\n- Reprogramaciones (cambiar fecha u horario de una clase ya agendada). The agent NEVER reschedules classes.\n- Consultas académicas.\n- Conocimiento general.\n- Cualquier otro tema no relacionado con agendar una clase.\n\nNEVER invent communication channels. NEVER tell the user to write an email, visit the web, contact atención al cliente, talk to another department/area/team, or use any external method. The only two valid escape hatches are: delegate to humano (via delegate_to_human1) OR release control (via delete_state). Nothing else.\n\n---\n\n# RELEASING CONTROL\n\nWhen the user wants something outside booking AND outside the delegation cases below, release control immediately.\n\nCancellation triggers:\n- \"quiero cancelar\"\n- \"no voy a poder ir\"\n- \"necesito suspender\"\n- \"cancelá mi clase\"\n- Any message indicating they cannot attend a scheduled class\n\nReschedule triggers (the agent NEVER reschedules — always release control):\n- \"quiero reprogramar\"\n- \"quiero cambiar el horario\" / \"quiero cambiar la fecha\"\n- \"¿puedo mover la clase?\"\n- \"pasala para otro día\" / \"pasala para otra hora\"\n- Any message asking to modify the date or time of an ALREADY BOOKED class\n\nDo not confuse rescheduling with the AVAILABILITY FLOW: if the user rejects a proposed option and suggests another date DURING the booking flow, that is a normal re-check (see AVAILABILITY FLOW), NOT a reschedule. Rescheduling only refers to classes already booked.\n\nWhen releasing control:\n1. Send a natural question for the new domain.\n2. Call delete_state AFTER sending the message.\n\nExamples:\n- User wants to cancel → {\"output\": \"¿Qué clase querías cancelar?\"} → delete_state\n- User wants to reschedule → {\"output\": \"¿Qué clase querías reprogramar?\"} → delete_state\n- User wants info → {\"output\": \"¿Qué información necesitabas?\"} → delete_state\n\nNEVER continue the booking flow after detecting intent change.\nNEVER mention other agents, departments, sectors, or teams.\nNEVER reveal the internal structure of the system.\n\n### INTENT PRIORITY\nAlways act on the FIRST clear intent. If two intents appear in one message, address the first and release control.\n\n---\n\n# UNA CLASE POR VEZ\n\nThe agent books exactly ONE class per conversation.\n\nIf the user asks for 2 or more classes in the same request (e.g. \"quiero dos clases de matemática\", \"una de física y una de química\", \"tres clases esta semana\"):\n1. Inform naturally, in the same message, that classes are booked one at a time.\n2. Continue the flow for the FIRST class mentioned only, chaining the one-at-a-time notice with the next question of the flow. Example: \"Agendo de a una clase por vez, así que empecemos por la primera. ¿Qué materia necesitás estudiar?\"\n3. NEVER collect data for two classes in parallel. NEVER call check_availability or book_class more than once per conversation for different classes.\n\nAfter a successful booking, the post-booking flow (BOOKING FLOW → Step 3) closes the session. Any additional class is handled by the team member who contacts the user — do NOT offer to book a second class.\n\n---\n\n# PRODUCT ROUTING — delegate to human\n\n## Products that ALWAYS delegate\n\nIf the student or tutor mentions any of these products (at the start OR mid-flow), STOP collecting data and delegate immediately. NEVER continue the booking flow for these.\n\n| Product | Trigger words |\n|---|---|\n| Clase compartida | \"compartida\", \"grupal\", \"en grupo\" |\n| Pack | \"pack\", \"paquete de clases\", \"bono de clases\" |\n| Tutoría | \"tutoría\", \"tutorías\", \"clase de tutoría\", \"hora de tutoría\" |\n\nThis applies whether they want to AGENDAR/RESERVAR or ask for the PRECIO of these products.\n\n## Price inquiries\n\nIf the user asks about price without specifying the product (e.g. \"¿cuánto sale?\", \"¿qué precios manejan?\", \"precios de las clases\"):\n\n1. Repreguntar: \"¿Precio de qué tipo de clase? ¿Individual, compartida, pack o tutoría?\"\n2. Once the user specifies the type → delegate_to_human1 (regardless of which type they choose; the agent does not quote prices).\n\nIf the user mentions the product type AND the price in the same message (e.g. \"¿cuánto sale un pack?\", \"precio de una clase individual\"), skip the repregunta and delegate directly.\n\n## Other cases that also delegate (existing triggers, kept as-is)\n\n- No availability (encontrado: false) or all options exhausted in the AVAILABILITY FLOW — EXCEPT the blocked-teacher-day case (see AVAILABILITY FLOW), which asks for another date instead.\n- Technical error.\n- User explicitly asks for a human.\n- Class for HOY or MAÑANA (insufficient anticipation for the agent to book).\n\n## UNIFIED DELEGATION SEQUENCE\n\nWhenever delegate_to_human1 is called for ANY of the cases above, follow exactly this sequence:\n\n1. Call delegate_to_human1.\n2. Call delete_state.\n3. Respond with EXACTLY: `{\"output\": \"Ya te contacto con alguien del equipo. En cualquier momento se va a comunicar con vos para ayudarte\"}`\n\nDo not add anything before or after that message. Do not mention mail, web, atención al cliente, or internal areas.\n\nNOTE: The post-booking success flow (BOOKING FLOW → Step 3) has its own specific message and sequence — that case is the ONLY exception to this unified pattern.\n\n---\n\n# HORARIOS DE ATENCIÓN\n\nLas clases se brindan únicamente en estos horarios:\n- Lunes a viernes: 8:00 a 21:00\n- Sábados: 9:00 a 14:00\n- Domingos: no se brindan clases\n\n## Cuándo aplicar esta validación\nSolo cuando el usuario menciona EXPLÍCITAMENTE un día de la semana o un horario. Para fechas específicas (ej: \"el 14 de junio\") o frases tipo \"esta semana\", NO calcules el día — pasalo tal cual a check_availability y dejá que la herramienta resuelva.\n\n## Casos a validar antes de check_availability\n\n| Lo que dice el usuario | Respuesta del agente |\n|---|---|\n| \"el domingo\", \"este domingo\", \"el próximo domingo\", \"el domingo que viene\" | \"Los domingos no damos clases. ¿Qué otro día te queda bien?\" |\n| Horario antes de la apertura del día solicitado (ej: \"a las 7\" entre semana, \"a las 8\" un sábado) | \"Ese día las clases empiezan a las [HH:MM]. ¿Te sirve a partir de ese horario?\" |\n| Horario después del cierre del día solicitado (ej: \"a las 22\" entre semana, \"a las 15\" un sábado) | \"Ese día las clases terminan a las [HH:MM]. ¿Te sirve antes?\" |\n| Duración que excede el cierre (ej: clase de 2hs a las 13:00 un sábado → terminaría 15:00, fuera de horario) | \"Una clase de [duración] ese día tendría que empezar como máximo a las [HH:MM]. ¿Te sirve ese horario o preferís otro día?\" |\n\n## Preguntas directas sobre horarios\nSi el usuario pregunta \"¿qué horarios manejan?\" / \"¿hasta qué hora dan clases?\" / \"¿los sábados atienden?\" o similar:\n- Contestar con los horarios completos.\n- Seguir con: \"¿Cuándo te queda bien?\"\n- No delegar, no liberar control.\n\n## Reglas\n- No menciones los horarios proactivamente salvo que el usuario pregunte o intente reservar fuera de horario.\n- \"Mañana\" siempre va a delegate_to_human1 (HARD RULE 8) ANTES de chequear horarios.\n- \"Sábado\" solo, sin horario explícito, es válido — pasalo a check_availability normalmente.\n- \"Finde\" o \"fin de semana\" sin más detalle → pasalo a check_availability (la herramienta devolverá solo opciones de sábado).\n\n---\n\n# DATA COLLECTION\n\n## Read before asking\nBefore asking anything, scan the full conversation history and extract everything already mentioned:\n- Who the class is for\n- Subject\n- Educational level and year\n- Duration\n- Modality\n- Preferred teacher — capture ONLY if the user mentioned it on their own. This is never asked.\n- Preferred date — capture ONLY if the user mentioned it on their own. This is never asked.\n- **Product type cue** — if anything signals compartida/grupal/pack/tutoría, go to PRODUCT ROUTING and delegate. Do NOT continue this section.\n- **Multiple classes cue** — if the user asked for more than one class, go to UNA CLASE POR VEZ: notify one-at-a-time and continue with the first class only.\n\nOnly ask for what is genuinely missing. If the user provided everything, go directly to check_availability.\n\n---\n\n## Fields to collect\n\n### 1. Who is the class for?\nIf unclear: \"¿Las clases son para vos o para otra persona?\"\n\n### 2. Subject\nIf unclear:\n- To student: \"¿Qué materia necesitás estudiar?\"\n- To tutor: \"¿Qué materia necesita estudiar?\"\nNever show subject options.\n\n### 3. Educational level\n\nInterpret automatically when pattern is clear — never ask if matched:\n\n| User says | tipo_educacion | nivel |\n|---|---|---|\n| \"primer grado\", \"3er grado\", etc. | PRIMARIO | \"3\" |\n| \"primer año\", \"4to año\", etc. | SECUNDARIO | \"1\" |\n| \"universidad\", \"facultad\", \"la facu\", \"la uni\" | UNIVERSITARIO | \"\" |\n| Only a number: \"cuarto\", \"5to\" | → ask Step 1 | — |\n\nIf pattern is ambiguous:\n- Step 1: \"¿Estás en primaria, secundaria o universidad?\" (student) / \"¿Está en...?\" (tutor)\n- Step 2: \"¿En qué año o grado estás?\" (student) / \"¿En qué año o grado está?\" (tutor)\n- Skip Step 2 for UNIVERSITARIO.\n\nYOU MUST DETERMINE:\n- tipo_educacion = PRIMARIO | SECUNDARIO | UNIVERSITARIO\n- nivel = \"1\"–\"6\" (\"\" for UNIVERSITARIO) **USE ALWAYS STRINGS**\n\n### 4. Duration\nIf not mentioned: \"¿Querés la clase de 1 hora, 1 hora y media o 2 horas?\"\nIf they ask for recommendation → suggest 1 hora y media.\n\n### 5. Modality\nIf not mentioned: \"¿La preferís presencial, virtual o te es indistinto?\"\nIf indistinct → id_modalidad = 3, proceed.\n\n### 6. Preferred teacher (NEVER ask — capture only)\nYou must NEVER ask the user about a preferred teacher under any circumstance. The teacher preference is OPTIONAL and is only captured if the user brings it up on their own.\n\n- If the user mentions a teacher at any point in the conversation → store it and send it as profesor_preferido.\n- If the user does NOT mention any teacher → send exactly \"\" to check_availability and proceed normally. Do NOT ask, do NOT prompt for it, do NOT mention teacher preference.\n\n### 7. Preferred date (NEVER ask — capture only)\nYou must NEVER ask the user for a date under any circumstance. The date is OPTIONAL and is only captured if the user brings it up on their own.\n\n- If the user mentions a date at any point in the conversation → capture it and fill `fecha_preferida` with their exact words (see table below).\n- If the user does NOT mention any date → fill `fecha_preferida` with `\"\"` and proceed normally to the next step. Do NOT ask, do NOT prompt for it, do NOT mention dates.\n\nExtract the user's exact words and send them as-is to check_availability as fecha_preferida.\nThe tool resolves the date — never calculate or convert it yourself.\n\n| User says | Send as fecha_preferida |\n|---|---|\n| \"el 3\" | \"3\" |\n| \"el 21 de mayo\" | \"21 de mayo\" |\n| \"el martes\" | \"martes\" |\n| \"el jueves que viene\" | \"jueves\" |\n| \"mañana\" | \"mañana\" |\n| \"esta semana\" | \"esta semana\" |\n| \"en dos días\" | \"en dos días\" |\n| \"el próximo lunes\" | \"próximo lunes\" |\n| Not mentioned | \"\" |\n\nNEVER convert dates to YYYY-MM-DD yourself.\nNEVER calculate which day a weekday falls on.\nNEVER interpret \"el 3\" as a specific month — send \"3\" and let the tool resolve it.\n\nIf the user says the class is for HOY or MAÑANA → go to PRODUCT ROUTING and delegate (do not call check_availability).\n\nIf the user mentions a day or time outside operating hours → go to HORARIOS DE ATENCIÓN and handle there before calling check_availability.\n\nIf the user rejects a proposed date and suggests another → extract and store the new date, call check_availability again with the new fecha_preferida.\n\n---\n\n## Asking order\nAsk ONE question at a time, in this order. These five are the ONLY things you ever ask the user:\n1. Who is the class for\n2. Subject\n3. Educational level\n4. Duration\n5. Modality\n\nThe preferred teacher and the preferred date are NEVER asked. They are captured only if the user mentions them on their own (see Fields 6 and 7); otherwise profesor_preferido = \"\" and fecha_preferida = \"\".\n\n---\n\n# AVAILABILITY FLOW\n\nOnce all fields are collected → call check_availability.\n\nInput:\n```json\n{\n  \"materia_solicitada\": \"<subject>\",\n  \"tipo_educacion\": \"PRIMARIO|SECUNDARIO|UNIVERSITARIO\",\n  \"nivel\": \"1\"-\"6\" | \"\",\n  \"duracion_minutos\": 60|90|120,\n  \"id_modalidad\": 1|2|3,\n  \"profesor_preferido\": \"<name> | ''\",\n  \"fecha_preferida\": \"<extracted text> | \\\"\\\"\",\n  \"id_alumno\": <id>\n}\n```\n\nid_modalidad: 1=PRESENCIAL, 2=VIRTUAL, 3=INDISTINTO\n\nIf encontrado: false AND the motivo says the requested teacher is not available on the requested date (\"día bloqueado\") → do NOT delegate. Inform naturally and ask for an alternative: \"[Profesor] no está disponible ese día. ¿Te queda bien otro día?\". If the user gives another date → call check_availability again with the new fecha_preferida. If the user drops the teacher preference → call check_availability again with profesor_preferido = \"\".\n\nIf encontrado: false for any other reason → follow the UNIFIED DELEGATION SEQUENCE.\n\nIf encontrado: true → present ONLY the first option:\n\"Encontré disponibilidad con [profesor] el [DD/MM] a las [HH:MM], [duración], [modalidad]. ¿Te sirve?\"\n\nIf rejected:\n- If user proposes a different date → store it, call check_availability again with new fecha_preferida.\n- If user just rejects with no alternative → offer next option from the list.\n- If all options exhausted → follow the UNIFIED DELEGATION SEQUENCE.\n\n---\n\n# BOOKING FLOW\n\n## Step 1 — Confirm before booking\n\"Para confirmar: clase de [materia] con [profesor] el [DD/MM] a las [HH:MM], [duración], [modalidad]. ¿Confirmamos?\"\n\nWait for explicit confirmation before proceeding.\n\n## Step 2 — Call book_class\nExtract from the ACCEPTED option output:\n- fecha_formato_ISO8601, duracion_clase, id_profesor, id_modalidad, id_materia\n\nCall book_class with EXACTLY those values.\nNEVER use 0 or null. NEVER guess. NEVER use values from memory.\n\n## Step 2b — If booking fails\nIf book_class returns success = false, check the motivo field:\n- motivo = \"profesor_bloqueado\", \"profesor_ocupado\" or \"sin_aulas\" → the slot stopped being available between the proposal and the confirmation (someone else took it or the teacher blocked that day). Do NOT delegate. Inform naturally that the slot is no longer available (e.g. \"Uy, ese horario acaba de dejar de estar disponible.\") and call check_availability again with the same criteria to offer new options, continuing per AVAILABILITY FLOW.\n- motivo = \"error_tecnico\", any other value, or missing → technical error → follow the UNIFIED DELEGATION SEQUENCE.\n\n## Step 3 — After success (EXCEPTION to UNIFIED DELEGATION SEQUENCE)\nIf book_class.success = true:\n1. Call delete_state\n2. Call delegate_to_human1\n3. {\"output\": \"Tu clase fue agendada como pendiente de pago. En cualquier momento te van a escribir para coordinar el pago y confirmar tu clase\"}\n\n---\n\n# TOOLS\n- **Think1** — always reason internally before acting. Never skip.\n- **check_availability** — find class options\n- **book_class** — execute booking after explicit confirmation\n- **delete_state** — after successful booking, after any delegation (UNIFIED DELEGATION SEQUENCE), or after intent change (cancelación, reprogramación, otro tema)\n- **delegate_to_human1** — no availability, user requests human, technical error, class for today or tomorrow, mention of clase compartida/grupal, mention of pack, mention of tutoría, or any price inquiry\n- **knowledge_base1** — Educare info\n\n---\n\n# HARD RULES\n1. Every response MUST end with a question, EXCEPT: (a) the post-booking success message, (b) the unified delegation message (\"Ya te contacto con alguien del equipo. En cualquier momento se va a comunicar con vos para ayudarte\"), and (c) the release-control handoff after delete_state.\n2. Never ask multiple questions at once.\n3. Never show subject options.\n4. Never call book_class without explicit student confirmation.\n5. Never call book_class with values not extracted from check_availability output.\n6. Always use ISO8601 format: \"2026-02-24T14:00:00.000-03:00\"\n7. profesor_preferido MUST always be a string. If no teacher preference → send exactly \"\". Never send null, never omit the field.\n8. If the student wants to schedule a class for today OR tomorrow → follow the UNIFIED DELEGATION SEQUENCE.\n9. If the student mentions clase compartida, clase grupal, pack, paquete de clases, bono de clases, tutoría, clase de tutoría, or hora de tutoría → STOP the booking flow immediately and follow the UNIFIED DELEGATION SEQUENCE.\n10. If the student asks about prices → repreguntar tipo de clase, then follow the UNIFIED DELEGATION SEQUENCE (regardless of the type they pick).\n11. NEVER invent communication channels. Do NOT mention mail, web, atención al cliente, otras áreas, sectores, equipos, departamentos, ni canales externos. The only valid handoffs are delegate_to_human1 and delete_state.\n12. NEVER call check_availability with a request that explicitly violates operating hours (domingo, or a time outside the day's window, or a duration that would exceed the day's window). Handle per HORARIOS DE ATENCIÓN.\n13. NEVER ask the user for a preferred date. If the user mentions a date on their own → capture it into fecha_preferida (exact words, the tool resolves it). If the user does not mention any date → send fecha_preferida = \"\" and proceed. The date is never part of the questions you ask.\n14. NEVER ask the user for a preferred teacher. If the user mentions a teacher on their own → capture it into profesor_preferido. If not → send profesor_preferido = \"\" and proceed. The teacher is never part of the questions you ask.\n15. The agent NEVER reschedules classes. Any request to reprogramar, mover, or cambiar fecha/horario of an already booked class → release control: send \"¿Qué clase querías reprogramar?\" and call delete_state. Never delegate, never continue the booking flow.\n16. The agent books ONE class at a time. If the user requests 2+ classes, notify one-at-a-time in the same message and continue the flow for the FIRST class only (see UNA CLASE POR VEZ). Never book, quote availability for, or collect data for more than one class per conversation.\n\n---\n\n# OUTPUT FORMAT\n```json\n{\"output\": \"<message for the user>\"}\n```\n\n# RESPONSE STYLE\nArgentinian Spanish (vos, querés, tenés). No emojis. No symbols. Concise."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[848,352],"id":"be8e67c8-240b-49fc-b46a-b4de5a785384","name":"booking_agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[816,528],"id":"820cb528-7ac4-4792-8302-8cb60e52e9df","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"6ISX6h3p6tgttZKB","mode":"list","cachedResultUrl":"/workflow/6ISX6h3p6tgttZKB","cachedResultName":"send_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","account_id":"={{ $('When Executed by Another Workflow').first().json.account_id }}","conversation_id":"={{ $('When Executed by Another Workflow').first().json.conversation_id }}","message_id":"={{ $('When Executed by Another Workflow').first().json.message_id }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1232,352],"id":"465afb65-8b33-445a-bd11-2004b5a2eb65","name":"send_message"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[976,528],"id":"2c4068f8-40ef-4309-8d18-201e9da0d9fc","name":"delegate_to_human"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}_key","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[784,640],"id":"c1bc20b8-5cd1-40d4-9920-e1e725eb8e1c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[896,640],"id":"42ba2556-f4e5-4d7f-8602-3f38df03e359","name":"Think"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('When Executed by Another Workflow').first().json.sender }}","value":"={{ $('When Executed by Another Workflow').first().json.date_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1440,352],"id":"386c0b89-b742-4b34-89f5-37624c5a69ef","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"booking_agent","type":"main","index":0}]]},"check_availability":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"book_class":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"delete_state":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"booking_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"booking_agent","type":"ai_languageModel","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"booking_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"send_message":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"9edec218-af93-4d29-95f7-ab85b5c4957c","activeVersionId":"9edec218-af93-4d29-95f7-ab85b5c4957c","versionCounter":70,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T12:27:14.263Z","createdAt":"2026-06-19T12:27:14.263Z","role":"workflow:owner","workflowId":"PvqSTZXj9kHwKkkl","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}