n8n_workflows/book_class.json
{"updatedAt":"2026-07-07T13:39:36.231Z","createdAt":"2026-03-14T15:59:37.459Z","id":"In7sN6n9AICU5TjV","name":"book_class","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"fecha_formato_ISO8601\": \"2026-02-24T14:00:00.000-03:00\",\n  \"duracion_clase\": 60,\n  \"id_alumno\": 5,\n  \"id_profesor\": 1,\n  \"id_materia\": 1,\n  \"id_modalidad\": 1,\n  \"descripcion_clase\": \"Clase regular\",\n  \"account_id\": 1,\n  \"conversation_id\": 1,\n  \"sender\": 5491123912507\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[208,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"348a48f0-194d-4288-875a-6bdf8e3156f3","leftValue":"={{ $json.id_clase }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[832,352],"id":"c25ca9a0-3e2c-49fa-bb58-ffc782165c67","name":"se creo?"},{"parameters":{"assignments":{"assignments":[{"id":"d6e27ec7-a904-4205-904f-42f20ec6725f","name":"seccess","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,272],"id":"5213e8a3-1ca3-4bec-bcb5-afe16eb28415","name":"class_created"},{"parameters":{"assignments":{"assignments":[{"id":"d6e27ec7-a904-4205-904f-42f20ec6725f","name":"seccess","value":false,"type":"boolean"},{"id":"a1f2b3c4-0000-4a00-9c00-motivo409000","name":"motivo","value":"={{ $('agendar_clase').first().json.motivo || 'error_tecnico' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,496],"id":"3e3eff4b-5233-48be-9310-51b77b9661d8","name":"class_not_created"},{"parameters":{"assignments":{"assignments":[{"id":"8530def3-6ee6-461f-8f15-d3aca2f14309","name":"fecha_formato_ISO8601","value":"={{ $json.fecha_formato_ISO8601 }}","type":"string"},{"id":"2b3c95b4-f10e-41f7-ae61-33c77a8c2d94","name":"duracion_clase","value":"={{ $json.duracion_clase }}","type":"number"},{"id":"17705b5a-5757-4106-9d18-eaf8cb42b7bd","name":"id_alumno","value":"={{ $json.id_alumno }}","type":"number"},{"id":"865e17d2-eaaf-4f8b-b9ad-02dc592c0473","name":"id_profesor","value":"={{ $json.id_profesor }}","type":"number"},{"id":"8a722170-56ca-4bfb-b85c-65cefe50b124","name":"id_materia","value":"={{ $json.id_materia }}","type":"number"},{"id":"bfad350a-ee6d-41de-9d37-5bb9a6bafe6c","name":"id_modalidad","value":"={{ $json.id_modalidad }}","type":"number"},{"id":"9da4a16a-4996-4d66-9fa6-f7258255478c","name":"descripcion_clase","value":"={{ $json.descripcion_clase }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,352],"id":"3e5d8635-ec9d-490a-a4f8-7f63903f581c","name":"avoid_number_to_string"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.account_id }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify([...new Set([...(Array.isArray($json.payload) ? $json.payload : []), \"pendiente_de_pago\"])]) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,272],"id":"14265a89-7ac6-4fb9-b9cb-adcb9f1ba6e0","name":"add_pendiente_de_pago_label","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uksimNDmsNXcOu5p","mode":"list","cachedResultName":"media_ids","cachedResultUrl":"/projects/gF8WLdww3biV88i1/datatables/uksimNDmsNXcOu5p"},"limit":10},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1440,272],"id":"294ab704-b929-4017-ab80-21905591a535","name":"get_images_ids"},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,272],"id":"d42aa6f4-6d59-4155-abe5-d84fff0889fa","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://gestion.educare.sbs/api/reservas/agendar","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fecha_formato_ISO8601\": \"{{ $json.fecha_formato_ISO8601 }}\",\n  \"duracion_clase\": {{ $json.duracion_clase }},\n  \"id_alumno\": {{ $json.id_alumno }},\n  \"id_profesor\": {{ $json.id_profesor }},\n  \"id_materia\": {{ $json.id_materia }},\n  \"id_modalidad\": {{ $json.id_modalidad }},\n  \"descripcion_clase\": \"{{ $json.descripcion_clase }}\"\n}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[640,352],"id":"44b59b26-0559-46dc-8773-6af56313155c","name":"agendar_clase","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('When Executed by Another Workflow').first().json.sender }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $('get_images_ids').first().json.id_clase_pendiente_pago }}\",\n    \"caption\": \"\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1632,272],"id":"504946a3-a1f7-4996-a618-743166d65c16","name":"send_mensaje_con_condiciones"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.account_id }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Mensaje de Condiciones Enviados]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1840,272],"id":"416f5001-2166-4995-9582-4853e21794d2","name":"mesnaje_con_condiciones_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.account_id }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1056,272],"id":"0597f750-2fab-4823-bd9d-742c85f83650","name":"get_current_labels","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"avoid_number_to_string","type":"main","index":0}]]},"se creo?":{"main":[[{"node":"get_current_labels","type":"main","index":0}],[{"node":"class_not_created","type":"main","index":0}]]},"avoid_number_to_string":{"main":[[{"node":"agendar_clase","type":"main","index":0}]]},"add_pendiente_de_pago_label":{"main":[[{"node":"get_images_ids","type":"main","index":0}]]},"get_images_ids":{"main":[[{"node":"send_mensaje_con_condiciones","type":"main","index":0}]]},"delete_state":{"main":[[{"node":"class_created","type":"main","index":0}]]},"agendar_clase":{"main":[[{"node":"se creo?","type":"main","index":0}]]},"send_mensaje_con_condiciones":{"main":[[{"node":"mesnaje_con_condiciones_sent","type":"main","index":0}]]},"mesnaje_con_condiciones_sent":{"main":[[{"node":"delete_state","type":"main","index":0}]]},"get_current_labels":{"main":[[{"node":"add_pendiente_de_pago_label","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"49ccecf3-50d8-441b-9dec-a329f14618ca","activeVersionId":"49ccecf3-50d8-441b-9dec-a329f14618ca","versionCounter":446,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-14T15:59:37.459Z","createdAt":"2026-03-14T15:59:37.459Z","role":"workflow:owner","workflowId":"In7sN6n9AICU5TjV","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}