n8n_workflows/cancel_class.json
{"updatedAt":"2026-06-18T23:52:39.329Z","createdAt":"2026-03-10T15:13:06.708Z","id":"kdNIysO9o8duF8Kd","name":"cancel_class","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id_alumno\": 5,\n  \"fecha_formato_ISO8601\": \"<fecha_hora_inicio ORIGINAL de la clase en ISO 8601>\",\n  \"nuevo_id_clase\": 3\n}"},"id":"53435081-61e8-4d4a-8aa7-5b4d0c93410a","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2064,256]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"ALUMNOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"filtersUI":{"values":[{"lookupColumn":"id_alumno","lookupValue":"={{ $('set_data').item.json.id_alumno }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1680,256],"id":"a143259a-9256-4558-9ae0-0b238592999e","name":"get_student_data","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cdb17112-5d32-4ce1-86bf-9d3bd72c85b6","name":"exito","value":false,"type":"boolean"},{"id":"8b276042-f18b-4fee-be59-288a26a3998e","name":"motivo","value":"=\"No se encontró ningún alumno con el id_alumno:{{ $('set_data').item.json.id_alumno }}\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,336],"id":"bc06a157-3a43-4b38-a21d-39fd5a94c548","name":"student_not_found"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_alumno","lookupValue":"={{ $('set_data').item.json.id_alumno }}"},{"lookupColumn":"fecha_formato_ISO8601","lookupValue":"={{ $('set_data').item.json.fecha_formato_ISO8601 }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-832,112],"id":"d5b0c221-c593-4aa7-b725-a2e231c20d76","name":"find_current_class","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Si Sheets no encontró nada, devuelve array vacío\nif (items.length === 0 || !items[0].json.id_alumno) {\n  return [{\n    json: {\n      encontrado: false,\n      motivo: \"No se encontró ningún alumno con ese teléfono\"\n    }\n  }];\n}\n\n// Alumno encontrado, pasar sus datos\nreturn [{\n  json: {\n    encontrado: true,\n    id_alumno: items[0].json.id_alumno,\n    nombre: items[0].json.nombre_alumno,\n    row_number: items[0].json.row_number\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,256],"id":"50100305-af57-4a2d-b736-f9501b7d6637","name":"check_student_existence"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0 || !items[0].json.id_clase) {\n  return [{\n    json: {\n      encontrado: false,\n      motivo: \"No se encontró una clase activa en esa fecha y horario\"\n    }\n  }];\n}\n\nconst clase = items[0].json;\n\n// Verificar que no esté cancelada\nif (clase.estado_clase === 'cancelada') {\n  return [{\n    json: {\n      encontrado: false,\n      motivo: \"La clase ya está cancelada\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    encontrado: true,\n    id_clase: clase.id_clase,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,112],"id":"06f1fa2f-d472-40ed-b87c-c26cd06150d4","name":"check_class_existence"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ec9feed7-c221-446e-9884-563b7da64994","leftValue":"={{ $json.encontrado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1168,256],"id":"a3d8b735-b9d7-41f9-aeb6-d2b901e64a8a","name":"student_exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ec9feed7-c221-446e-9884-563b7da64994","leftValue":"={{ $json.encontrado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-368,112],"id":"e434078d-a3f8-4492-9b08-beb744ed521e","name":"class_exists"},{"parameters":{"assignments":{"assignments":[{"id":"cdb17112-5d32-4ce1-86bf-9d3bd72c85b6","name":"exito","value":false,"type":"boolean"},{"id":"8b276042-f18b-4fee-be59-288a26a3998e","name":"motivo","value":"=\"No se encontró ninguna clase con fecha_formato_ISO8601:{{ $('set_data').item.json.fecha_formato_ISO8601 }}\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,224],"id":"b3003201-5fe6-4ab0-a09c-766207a46004","name":"class_not_found"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_clase":"={{ $('find_current_class').item.json.id_clase }}","id_estado_clase":"={{ $('set_data').first().json.nuevo_id_clase }}"},"matchingColumns":["id_clase"],"schema":[{"id":"id_clase","displayName":"id_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"duracion_clase","displayName":"duracion_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_inicio_clase","displayName":"hora_inicio_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_fin_clase","displayName":"hora_fin_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_completo_alumno","displayName":"nombre_completo_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_profesor","displayName":"id_profesor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_completo_profesor","displayName":"nombre_completo_profesor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_materia","displayName":"id_materia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_materia","displayName":"nombre_materia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"modalidad","displayName":"modalidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_estado_clase","displayName":"id_estado_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado_clase","displayName":"estado_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descripcion_clase","displayName":"descripcion_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[80,16],"id":"282143ff-b971-419b-98a5-3848ca9750b9","name":"cancel_class","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cdb17112-5d32-4ce1-86bf-9d3bd72c85b6","name":"exito","value":true,"type":"boolean"},{"id":"8b276042-f18b-4fee-be59-288a26a3998e","name":"motivo","value":"=\"Clase cancelada con éxito\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,16],"id":"5fde4d93-8f77-4789-a1ee-a9eac9eda74f","name":"class_successfully_cancelled"},{"parameters":{"assignments":{"assignments":[{"id":"cfc2c4c9-b21f-4bac-a0d4-461fe425a905","name":"id_alumno","value":"={{ $json.id_alumno }}","type":"number"},{"id":"286f8148-40f9-4b8c-964f-3b7e91a21044","name":"fecha_formato_ISO8601","value":"={{ $json.fecha_formato_ISO8601 }}","type":"string"},{"id":"9ba03e1e-3615-4cde-9082-df334b8acec2","name":"nuevo_id_clase","value":"={{ $json.nuevo_id_clase }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,256],"id":"a76fca66-72ab-476d-addc-da1484d77db6","name":"set_data"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('get_teacher_phone_number').first().json.telefono_profesor }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"profesor_recordatorio_clase_cancelada\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"fecha\",\n            \"text\": \"{{ $('find_current_class').item.json.fecha }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"hora_inicio\",\n            \"text\": \"{{ $('find_current_class').item.json.hora_inicio_clase }}\"\n          },\n          {\n            \"type\": \"text\",\n            \"parameter_name\": \"duracion\",\n            \"text\": \"{{ $('find_current_class').item.json.duracion_clase }}\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,16],"id":"f6f84015-8961-46ff-9e64-2d9610a6817b","name":"send_cancel_template"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"filtersUI":{"values":[{"lookupColumn":"id_profesor","lookupValue":"={{ $('find_current_class').first().json.id_profesor }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,16],"id":"1044d23b-de2b-4df7-a352-603409c121e3","name":"get_teacher_phone_number","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_data","type":"main","index":0}]]},"get_student_data":{"main":[[{"node":"check_student_existence","type":"main","index":0}]]},"find_current_class":{"main":[[{"node":"check_class_existence","type":"main","index":0}]]},"check_student_existence":{"main":[[{"node":"student_exists","type":"main","index":0}]]},"check_class_existence":{"main":[[{"node":"class_exists","type":"main","index":0}]]},"student_exists":{"main":[[{"node":"find_current_class","type":"main","index":0}],[{"node":"student_not_found","type":"main","index":0}]]},"class_exists":{"main":[[{"node":"get_teacher_phone_number","type":"main","index":0}],[{"node":"class_not_found","type":"main","index":0}]]},"cancel_class":{"main":[[{"node":"send_cancel_template","type":"main","index":0}]]},"set_data":{"main":[[{"node":"get_student_data","type":"main","index":0}]]},"send_cancel_template":{"main":[[{"node":"class_successfully_cancelled","type":"main","index":0}]]},"get_teacher_phone_number":{"main":[[{"node":"cancel_class","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"1068bb62-524a-4a74-bbc8-cbdde2f568e5","activeVersionId":null,"versionCounter":273,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T15:13:06.708Z","createdAt":"2026-03-10T15:13:06.708Z","role":"workflow:owner","workflowId":"kdNIysO9o8duF8Kd","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}