n8n_workflows/chatwoot_polling_recovery.json
{"updatedAt":"2026-07-07T00:30:39.900Z","createdAt":"2026-05-24T18:06:45.643Z","id":"RJACUrhF1DqsaCxn","name":"chatwoot_polling_recovery","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://educarechat.educare.sbs/api/v1/accounts/1/conversations?status=open&page=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-5776,-512],"id":"51dd33cc-5ee6-43f2-b22b-f8961093f97c","name":"get_conversations","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}},{"parameters":{"jsCode":"// Filter conversations updated within the lookback window.\n// Output: one item per (account_id, conversation_id) pair.\nconst WINDOW_MS = 900 * 1000;\nconst ACCOUNT_ID = 1;\nconst cutoff = Math.floor((Date.now() - WINDOW_MS) / 1000);\nconst body = $input.first().json;\nconst convs = body.data?.payload || body.payload || [];\nreturn convs\n  .filter(c => (c.last_activity_at || 0) >= cutoff)\n  .map(c => ({\n    json: {\n      account_id: c.account_id || ACCOUNT_ID,\n      conversation_id: c.id,\n      conversation_labels: c.labels || [],\n      source_id: c.source_id || null,\n    }\n  }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-512],"id":"9fd59d75-a683-4d5e-9ee1-06ec0b049c6c","name":"extract_recent_convs"},{"parameters":{"url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-5344,-512],"id":"c505216e-2385-449b-8ca7-70f7257b439c","name":"get_messages","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}},{"parameters":{"jsCode":"const WINDOW_MS = 900 * 1000;\nconst cutoff = Math.floor((Date.now() - WINDOW_MS) / 1000);\nconst labelsByConv = {};\nfor (const it of $('extract_recent_convs').all()) {\n  labelsByConv[it.json.conversation_id] = it.json.conversation_labels || [];\n}\nconst out = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const messages = data.data?.payload || data.payload || [];\n  for (const m of messages) {\n    if (m.message_type !== 0) continue;\n    const senderType = (m.sender_type || '').toLowerCase();\n    if (senderType && senderType !== 'contact') continue;\n    if ((m.created_at || 0) < cutoff) continue;\n    if ((m.content_type || 'text') !== 'text') continue;\n    if ((m.attachments || []).length > 0) continue;\n    if (!m.content || !m.content.trim()) continue;\n    out.push({\n      json: {\n        id: m.id,\n        source_id: m.source_id || String(m.id),\n        content: m.content,\n        created_at: m.created_at,\n        created_at_iso: new Date(m.created_at * 1000).toISOString(),\n        account_id: m.account_id || 1,\n        conversation_id: m.conversation_id,\n        sender_phone: m.sender?.phone_number || m.sender?.identifier || '',\n        sender_name: m.sender?.name || '',\n        conversation_labels: labelsByConv[m.conversation_id] || [],\n      }\n    });\n  }\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5152,-512],"id":"589139e4-9a2e-4d7a-a8fa-5c7189ce463d","name":"filter_inbound_recent"},{"parameters":{"operation":"get","propertyName":"is_processed","key":"=processed:msg:{{ $json.source_id || $json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4976,-512],"id":"644d4caa-195b-41f8-9a89-206340ed5b62","name":"check_dedup","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"is_queued","key":"=polling:queued:{{ $('filter_inbound_recent').first().json.source_id || $('filter_inbound_recent').first().json.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4800,-512],"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"check_queued","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"last_ts","key":"=last_processed_ts:{{ $('filter_inbound_recent').first().json.sender_phone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4624,-512],"id":"bd4c0366-d807-4fbd-a4e1-d9ba3aae0330","name":"get_last_ts","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const source = $('filter_inbound_recent').item.json;\nconst isProcessed = ($('check_dedup').item.json.is_processed || '').toString().trim();\nconst isQueued = ($('check_queued').item.json.is_queued || '').toString().trim();\nif (isProcessed !== '' || isQueued !== '') {\n  return { ...source, status: 'already_processed' };\n}\nconst lastTsStr = ($json.last_ts || '').toString().trim();\nconst msgCreatedAt = Number(source.created_at) || 0;\nlet outOfOrder = false;\nif (lastTsStr !== '') {\n  let lastEpoch;\n  if (/^\\d+$/.test(lastTsStr)) {\n    lastEpoch = Number(lastTsStr);\n  } else {\n    lastEpoch = Math.floor(new Date(lastTsStr).getTime() / 1000);\n  }\n  if (Number.isFinite(lastEpoch) && lastEpoch > msgCreatedAt) {\n    outOfOrder = true;\n  }\n}\nreturn { ...source, status: outOfOrder ? 'out_of_order' : 'in_order' };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4464,-512],"id":"83b64b43-faf0-4ed9-9e93-7116e76c03c6","name":"classify_order"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f55f6bb-e960-42e8-ae80-b9ece0a6b33e","leftValue":"={{ $json.status }}","rightValue":"in_order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9066ae32-6d92-4bec-90da-2009a719077e","leftValue":"={{ $json.status }}","rightValue":"out_of_order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"out_of_order"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9050e0-2518-4e11-b538-3d13fd95a59a","leftValue":"={{ $json.status }}","rightValue":"already_processed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"already_processed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4288,-528],"id":"4e068580-b5c7-46c6-bc55-eee990596018","name":"switch_status"},{"parameters":{"operation":"set","key":"=polling:queued:{{ $json.source_id || $json.id }}","value":"=1","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4064,-720],"id":"c888c1da-6cf3-4900-bb40-df1a2b2d2fcf","name":"mark_processed_in_order","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://n8nwebhook.educare.sbs/webhook/educare","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Polling-Replay","value":"true"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event: 'message_created', id: $('filter_inbound_recent').item.json.id, source_id: $('filter_inbound_recent').item.json.source_id, content: $('filter_inbound_recent').item.json.content, content_type: 'text', message_type: 'incoming', created_at: $('filter_inbound_recent').item.json.created_at_iso, private: false, account: { id: $('filter_inbound_recent').item.json.account_id, name: 'Educare' }, conversation: { id: $('filter_inbound_recent').item.json.conversation_id, labels: $('filter_inbound_recent').item.json.conversation_labels || [], meta: { sender: { id: 0, type: 'contact', phone_number: $('filter_inbound_recent').item.json.sender_phone, name: $('filter_inbound_recent').item.json.sender_name, identifier: null } }, messages: [{ id: $('filter_inbound_recent').item.json.id, content: $('filter_inbound_recent').item.json.content, content_type: 'text', message_type: 0, created_at: $('filter_inbound_recent').item.json.created_at, source_id: $('filter_inbound_recent').item.json.source_id, sender_type: 'Contact', sender: { id: 0, name: $('filter_inbound_recent').item.json.sender_name, type: 'contact' }, attachments: [] }] } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3840,-720],"id":"9b530efa-276b-40d5-a7c9-2580085674fe","name":"replay_webhook"},{"parameters":{"operation":"set","key":"=polling:queued:{{ $json.source_id || $json.id }}","value":"=1","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4064,-512],"id":"3264b875-6c44-4e6b-8de8-61ce3a2eb735","name":"mark_processed_out_of_order","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('classify_order').item.json.account_id }}","conversation_id":"={{ $('classify_order').item.json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3840,-512],"id":"c43391ed-b5b7-430f-a8db-6f0c9f4c0961","name":"delegate_to_human_call"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4064,-320],"id":"fadd5710-2cad-47df-b06b-564be3cd061d","name":"already_processed_skip"},{"parameters":{"httpMethod":"POST","path":"polling-recovery-60d0e2d2","authentication":"headerAuth","options":{}},"id":"fedac814-fa73-41e3-b65c-bc50b60d9089","name":"webhook_trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6000,-512],"webhookId":"98bfdb8d-5160-40c8-88a5-2761252dc6f5","credentials":{"httpHeaderAuth":{"id":"hJwxTdWAWMSlfjpt","name":"webhook-recovery-token"}}}],"connections":{"get_conversations":{"main":[[{"node":"extract_recent_convs","type":"main","index":0}]]},"extract_recent_convs":{"main":[[{"node":"get_messages","type":"main","index":0}]]},"get_messages":{"main":[[{"node":"filter_inbound_recent","type":"main","index":0}]]},"filter_inbound_recent":{"main":[[{"node":"check_dedup","type":"main","index":0}]]},"check_dedup":{"main":[[{"node":"check_queued","type":"main","index":0}]]},"check_queued":{"main":[[{"node":"get_last_ts","type":"main","index":0}]]},"get_last_ts":{"main":[[{"node":"classify_order","type":"main","index":0}]]},"classify_order":{"main":[[{"node":"switch_status","type":"main","index":0}]]},"switch_status":{"main":[[{"node":"mark_processed_in_order","type":"main","index":0}],[{"node":"mark_processed_out_of_order","type":"main","index":0}],[{"node":"already_processed_skip","type":"main","index":0}]]},"mark_processed_in_order":{"main":[[{"node":"replay_webhook","type":"main","index":0}]]},"mark_processed_out_of_order":{"main":[[{"node":"delegate_to_human_call","type":"main","index":0}]]},"webhook_trigger":{"main":[[{"node":"get_conversations","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:schedule":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":{},"versionId":"74895d70-ac24-4d6c-880a-2ee8e4c42ce3","activeVersionId":"74895d70-ac24-4d6c-880a-2ee8e4c42ce3","versionCounter":996,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-05-24T18:06:45.643Z","createdAt":"2026-05-24T18:06:45.643Z","role":"workflow:owner","workflowId":"RJACUrhF1DqsaCxn","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}