n8n_workflows/check_time.json
{"updatedAt":"2026-06-18T23:52:39.329Z","createdAt":"2026-03-10T15:14:04.375Z","id":"habecPuCgCf9J2si","name":"check_time","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"fecha_preferida\": \"2026-02-16T22:20:39.917Z\"\n}"},"id":"f741942f-0e5b-4f5b-8160-54ab2fd076dc","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"a319cf43-dda7-49af-83de-f032794129b2","name":"fecha_preferida","value":"={{ $json.fecha_preferida }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"a9c8404e-16ae-4d70-a618-91d980e62cb8","name":"formatted_output"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst fechaISO = input.fecha_preferida || input.fecha_hora;\n\n// Helper para devolver error sin romper el workflow\nfunction error(motivo) {\n  return [{\n    json: {\n      valido: false,\n      motivo\n    }\n  }];\n}\n\n// 1️⃣ Validar que exista la fecha\nif (!fechaISO || typeof fechaISO !== 'string') {\n  return error(\"No se recibió fecha para validar\");\n}\n\n// 2️⃣ Parsear fecha ISO (YA incluye -03:00)\nconst fecha = new Date(fechaISO);\n\nif (isNaN(fecha.getTime())) {\n  return error(\"Formato de fecha inválido\");\n}\n\n// 3️⃣ Validar año\nif (fecha.getFullYear() !== 2026) {\n  return error(\"Solo se aceptan reservas para el año 2026\");\n}\n\n// 4️⃣ Validar que no sea pasada\nconst ahora = new Date();\n\nif (fecha < ahora) {\n  return error(\"No se pueden hacer reservas en fechas pasadas\");\n}\n\n// 5️⃣ Extraer datos\n// \"2026-02-23T17:00:00.000-03:00\"\nconst iso = fechaISO.toString();\n\nconst hora = Number(iso.substring(11, 13));\nconst minutos = Number(iso.substring(14, 16));\nconst horaDecimal = hora + minutos / 60;\n\nconst diaSemana = fecha.getDay(); // 0=domingo, 6=sábado\n\n// 6️⃣ Reglas de negocio\n\n// Domingo\nif (diaSemana === 0) {\n  return error(\"Los domingos no hay atención\");\n}\n\n// Sábado: 10 a 12\nif (diaSemana === 6) {\n  if (horaDecimal < 10 || horaDecimal >= 12) {\n    return error(\"Los sábados el horario de atención es de 10:00 a 12:00\");\n  }\n}\n\n// Lunes a viernes: 10 a 19\n// Último inicio válido: 18:00\nif (diaSemana >= 1 && diaSemana <= 5) {\n  if (horaDecimal < 10) {\n    return error(\"El horario de atención inicia a las 10:00\");\n  }\n\n  if (horaDecimal >= 18) {\n    return error(\n      \"El último horario para iniciar una clase es las 18:00 (las clases terminan a las 19:00)\"\n    );\n  }\n}\n\n// 7️⃣ Todo OK\nreturn [{\n  json: {\n    valido: true,\n    motivo: \"Horario válido\",\n    fecha_recibida: fechaISO,\n    dia_semana: diaSemana,\n    hora,\n    minutos\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"a5e22f17-21e7-46f5-a99a-b40a4cfac228","name":"is_valid"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"formatted_output","type":"main","index":0}]]},"formatted_output":{"main":[[{"node":"is_valid","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"55fd97da-f3c1-49ad-8a3e-0a80107625c6","activeVersionId":null,"versionCounter":13,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T15:14:04.375Z","createdAt":"2026-03-10T15:14:04.375Z","role":"workflow:owner","workflowId":"habecPuCgCf9J2si","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}