n8n_workflows/check_availability.json
{"updatedAt":"2026-07-07T01:51:49.809Z","createdAt":"2026-03-10T01:57:58.883Z","id":"6eKRRIEBPx9qvhCr","name":"check_availability","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"materia_solicitada\": \"matematica\",\n  \"tipo_educacion\": \"SECUNDARIO\",\n  \"nivel\": \"6\",\n  \"duracion_minutos\": 60,\n  \"profesor_preferido\": \"\",\n  \"fecha_preferida\": \"2026-04-25\",\n  \"id_alumno\": 1,\n  \"id_modalidad\": 1\n}"},"id":"62ab3591-e28a-4c78-8068-25d9bb05f553","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-4320,-880]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":437020005,"mode":"list","cachedResultName":"CLASES_FIJAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=437020005"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,-752],"id":"dc1e71d8-8d7e-4faa-895c-430275a5f11d","name":"get_clases_fijas","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2400,-752],"id":"64609c10-28b0-4290-b546-8df5661a3332","name":"join_clases_fijas"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":437020005,"mode":"list","cachedResultName":"CLASES_FIJAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=437020005"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,-928],"id":"5589fb3f-56fe-45f6-b767-227eec558b98","name":"get_clases_fijas_2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2400,-928],"id":"0f0c768e-5251-49d8-8ea8-300042f3a6c0","name":"join_clases_fijas_2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1472,-512],"id":"8fc048d1-e4a7-4f27-8d86-7c1c8668771f","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a5bd0e11-06bc-4b35-b9b7-3c2b722f5838","leftValue":"={{ $json.profesor_preferido }}","rightValue":"\"\"","operator":{"type":"string","operation":"equals"}},{"id":"e86424c5-3c39-402d-94ed-13810bd8fd7e","leftValue":"={{ $json.profesor_preferido }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"7fefd599-dd91-45c6-802c-ac48517cb9e2","leftValue":"={{ $json.profesor_preferido }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1632,-912],"id":"17143670-c6a5-47ea-92fd-67da157186fb","name":"specific_teacher1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":61425956,"mode":"list","cachedResultName":"materia-profesor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=61425956"},"filtersUI":{"values":[{"lookupColumn":"id_profesor","lookupValue":"={{ $json.output.id_profesor }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,-736],"id":"aa3501a0-e0f9-4f14-8470-4e85de1e0d18","name":"get_teachers_subject1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id_materia"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-32,-736],"id":"1e2ca322-de48-45c2-bcde-97c03b114fc2","name":"join_subjects1"},{"parameters":{"jsCode":"const aggregate = $('join_subjects1').first().json;\n\n// Si el Aggregate no devolvió id_materia o está vacío\nif (!aggregate.id_materia || aggregate.id_materia.length === 0) {\n  return [{\n    json: {\n      id_materia: [],\n      tiene_materias: false\n    }\n  }];\n}\n\n// Si tiene materias, pasarlas\nreturn [{\n  json: {\n    id_materia: aggregate.id_materia,\n    tiene_materias: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-736],"id":"f29edc09-dd30-4a2f-9af4-bee47b9567dd","name":"cover_subject1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":61425956,"mode":"list","cachedResultName":"materia-profesor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=61425956"},"filtersUI":{"values":[{"lookupColumn":"id_materia","lookupValue":"={{ $('important_data1').first().json.id_materia_solicitada }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,-928],"id":"5376d2a2-5407-48ce-ac3c-9fb476754f1b","name":"any_teacher1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id_profesor"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,-928],"id":"e99fddf3-3d5d-4614-ae86-6e3e96e960a4","name":"teachers_list1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_profesor","lookupValue":"={{ $('Basic LLM Chain1').item.json.output.id_profesor }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,-752],"id":"da0d8047-102d-4530-b0cd-69b014c60f63","name":"teaches_classes1","executeOnce":false,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,-752],"id":"ec381337-603b-4361-9ebc-368d5783703a","name":"join_teaches_classes1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,-752],"id":"cbac499c-c3ca-42c4-ac3c-5c65d932dba9","name":"get_bookings_","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,-928],"id":"dda81fef-8a07-46f7-a372-c7f8544f9ffd","name":"get_bookings_3","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,-928],"id":"ef388401-f634-4dc8-a1c8-05ec59ff5941","name":"join_bookings_"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,-752],"id":"25ed1223-0fb7-4a20-b2c6-31faa9c0ccd8","name":"join_bookings_3"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":837232019,"mode":"list","cachedResultName":"DISPONIBILIDAD_SISTEMA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=837232019"},"filtersUI":{"values":[{"lookupColumn":"id_profesor","lookupValue":"={{ $('Basic LLM Chain1').item.json.output.id_profesor }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[544,-752],"id":"576ecfc1-94eb-4aee-9e6c-4410f900515b","name":"teacher_availability1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,-752],"id":"131c1d86-6282-45e1-9da8-f30167438672","name":"join_teacher_availability1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":837232019,"mode":"list","cachedResultName":"DISPONIBILIDAD_SISTEMA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=837232019"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1360,-928],"id":"6a9ad95b-73f9-4627-b24a-676f67765192","name":"all_availability1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,-928],"id":"fad7941a-9967-44ba-a3ca-bb8a963eee0d","name":"join_all_availability1"},{"parameters":{"jsCode":"// CONFIG: Prioridad de profesores como desempate (fecha y hora tienen mayor prioridad)\nconst profesoresPorOrden = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];\n\n// INPUTS\nconst _profRaw              = $('teachers_list1').first().json.id_profesor;\nconst profesoresInput       = Array.isArray(_profRaw) ? _profRaw : (_profRaw != null ? [_profRaw] : []);\nconst todasLasReservas      = $('join_bookings_').first().json.data            || [];\nconst todasLasClasesFijas   = $('join_clases_fijas_2').first().json.data       || [];\nconst profesoresSheet       = $('join_profesores2').first().json.data          || [];\nconst bloqueosInput         = $('join_bloqueos_2').first().json.data           || [];\nconst todaLaDisponibilidad  = $('join_all_availability1').first().json.data      || [];\nconst duracionSolicitada    = $('important_data1').first().json.duracion_minutos || 60;\nconst idModalidadSolicitada = $('important_data1').first().json.id_modalidad     || 1;\nconst idMateriaSolicitada   = $('important_data1').first().json.id_materia_solicitada;\nconst fechaPreferidaRaw     = $('important_data1').first().json.fecha_preferida  || null;\nconst feriadosInput         = $('join_feriados_2').first().json.data             || [];\nconst feriadosSet           = new Set(feriadosInput.map(f => String(f.fecha || '').trim()).filter(Boolean));\n\n// FALLBACK DE DURACION: si piden 60 min y no hay nada, se reintenta con 90 min\nconst DURACION_FALLBACK = 90;\nconst puedeFallback     = duracionSolicitada === 60;\n\nconst profesoresDisponiblesSet = new Set(\n  profesoresSheet\n    .filter(p => String(p.disponible).trim().toUpperCase() !== 'FALSE')\n    .map(p => Number(p.id_profesor))\n);\nconst profesoresInputFiltrados = profesoresInput.filter(id => profesoresDisponiblesSet.has(Number(id)));\n\nif (!Array.isArray(profesoresInputFiltrados) || profesoresInputFiltrados.length === 0) {\n  return [{ json: { encontrado: false, motivo: 'No hay profesores disponibles para esta materia', razon_detallada: 'Ningun profesor registrado y disponible cubre la materia solicitada.' } }];\n}\n\n// UTILIDADES\nconst DIA_A_WEEKDAY = { LUNES:1, MARTES:2, MIERCOLES:3, JUEVES:4, VIERNES:5, SABADO:6, DOMINGO:7 };\nconst WEEKDAY_A_DIA = { 1:'LUNES', 2:'MARTES', 3:'MIERCOLES', 4:'JUEVES', 5:'VIERNES', 6:'SABADO', 7:'DOMINGO' };\n\nfunction horaAMinutos(s) { const [h,m] = s.split(':').map(Number); return h*60+m; }\nfunction minutosAHora(m) { return `${String(Math.floor(m/60)).padStart(2,'0')}:${String(m%60).padStart(2,'0')}`; }\nfunction parsearFechaISO(s) {\n  if (!s) return null;\n  try { return DateTime.fromISO(s.replace(/['\"]/g,''), { zone: 'America/Argentina/Buenos_Aires' }); } catch { return null; }\n}\nfunction haySolapamiento(i1,f1,i2,f2) { return i1<f2 && f1>i2; }\nfunction creaHueco(slotI, slotF, clasesBloque) {\n  if (!clasesBloque.length) return false;\n  const ord = [...clasesBloque].sort((a,b)=>a.inicio-b.inicio);\n  const antes   = ord.filter(c=>c.fin<=slotI).pop();\n  const despues = ord.find(c=>c.inicio>=slotF);\n  if (antes   && antes.fin   !== slotI) return true;\n  if (despues && slotF       !== despues.inicio) return true;\n  return false;\n}\n\n// BLOQUEOS POR PROFESOR (hoja BLOQUEOS_PROFESOR): dias en los que el profesor no da clases.\n// Jerarquia superior a la disponibilidad: si el dia esta bloqueado, no se ofrecen slots.\nfunction normFecha(v) {\n  const s = String(v ?? '').trim().replace(/['\"]/g,'');\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  let dt = DateTime.fromISO(s, { zone: 'America/Argentina/Buenos_Aires' });\n  if (!dt.isValid) dt = DateTime.fromFormat(s, 'd/M/yyyy', { zone: 'America/Argentina/Buenos_Aires' });\n  return dt.isValid ? dt.toISODate() : null;\n}\nconst bloqueosSet = new Set(\n  bloqueosInput\n    .map(b => ({ id: Number(b.id_profesor), f: normFecha(b.fecha) }))\n    .filter(b => Number.isFinite(b.id) && b.f)\n    .map(b => `${b.id}|${b.f}`)\n);\nfunction profesorBloqueado(idProf, fechaKey) { return bloqueosSet.has(`${Number(idProf)}|${fechaKey}`); }\n\n// DIAS A ITERAR\nconst hoy     = DateTime.now().setZone('America/Argentina/Buenos_Aires');\nconst manana  = hoy.plus({ days: 2 }).startOf('day');\nconst mananaKey = manana.toISODate();\nlet diasAIterar = [];\nif (fechaPreferidaRaw) {\n  const dtP = DateTime.fromISO(fechaPreferidaRaw, { zone: 'America/Argentina/Buenos_Aires' }).startOf('day');\n  if (dtP >= manana) diasAIterar.push(dtP);\n} else {\n  for (let i = 0; i < 14; i++) diasAIterar.push(manana.plus({ days: i }));\n}\n\n// FILTRO FERIADOS\ndiasAIterar = diasAIterar.filter(d => !feriadosSet.has(d.toISODate()));\nconst fechaPrefClean = fechaPreferidaRaw ? fechaPreferidaRaw.replace(/['\"]/g,'').trim() : null;\nif (fechaPrefClean && feriadosSet.has(fechaPrefClean)) {\n  return [{ json: { encontrado: false, motivo: `El ${fechaPrefClean} es feriado, no se brindan clases ese día.`, razon_detallada: 'Fecha bloqueada por la lista de feriados del instituto.' } }];\n}\n\n// PRIORIDAD DE PROFESORES\nconst profEnLista    = profesoresPorOrden.filter(id => profesoresInputFiltrados.includes(id));\nconst profFueraLista = profesoresInputFiltrados.filter(id => !profesoresPorOrden.includes(id));\nconst profOrdenados  = [...profEnLista, ...profFueraLista];\nconst prioPorf       = {};\nprofesoresPorOrden.forEach((id,i) => { prioPorf[id] = i; });\nconst PRIO_MAX = profesoresPorOrden.length;\n\n// EXPANDIR CLASES FIJAS a ocurrencias concretas dentro del rango de busqueda\nfunction expandirFijas(filas) {\n  const res = [];\n  for (const cf of filas) {\n    if ([3,4,5,6].includes(cf.id_estado_clase_fija)) continue;\n    const nDia = DIA_A_WEEKDAY[cf.dia_semana_clase_fija];\n    if (!nDia) continue;\n    const ini = horaAMinutos(cf.hora_inicio_clase_fija);\n    const fin = horaAMinutos(cf.hora_fin_clase_fija);\n    const dur = fin - ini;\n    const fIni = DateTime.fromISO(cf.fecha_inicio_clase_fija,{zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n    const fFin = DateTime.fromISO(cf.fecha_fin_clase_fija,   {zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n    for (const fecha of diasAIterar) {\n      if (fecha.weekday !== nDia || fecha < fIni || fecha > fFin) continue;\n      res.push({ id_profesor: cf.id_profesor, fechaKey: fecha.toISODate(), inicio: ini, fin, duracion: dur, id_modalidad: cf.id_modalidad });\n    }\n  }\n  return res;\n}\nconst fijasExp = expandirFijas(todasLasClasesFijas);\n\n// DATOS POR PROFESOR: bloques de disponibilidad + clases ocupadas\nfunction obtenerDatos(idProf) {\n  const disp = todaLaDisponibilidad.filter(d => d.id_profesor === idProf);\n  if (!disp.length) return null;\n\n  // Un profesor puede tener MULTIPLES bloques por dia con distintas modalidades\n  const bloquesPorDia = {};\n  for (const d of disp) {\n    const dia = d.dia.toUpperCase();\n    if (!bloquesPorDia[dia]) bloquesPorDia[dia] = [];\n    bloquesPorDia[dia].push({\n      id_bloque:       d.id_bloque,\n      hora_inicio:     horaAMinutos(d.hora_inicio),\n      hora_fin:        horaAMinutos(d.hora_fin),\n      modalidad:       d.modalidad,\n      nombre_profesor: d.nombre_completo_profesor\n    });\n    bloquesPorDia[dia].sort((a,b) => a.hora_inicio - b.hora_inicio);\n  }\n\n  const reservas = todasLasReservas.filter(c => c.id_profesor === idProf && ![3,4,5,6].includes(c.id_estado_clase));\n  const fijasPrf = fijasExp.filter(cf => cf.id_profesor === idProf);\n\n  const clasesPorFecha = {};\n  for (const c of reservas) {\n    const dt = parsearFechaISO(c.fecha_formato_ISO8601);\n    if (!dt?.isValid) continue;\n    const key = dt.toISODate();\n    if (key < mananaKey) continue;\n    if (!clasesPorFecha[key]) clasesPorFecha[key] = [];\n    const ini = horaAMinutos(dt.toFormat('HH:mm'));\n    const dur = parseInt(c.duracion_clase) || 60;\n    clasesPorFecha[key].push({ inicio: ini, fin: ini+dur, duracion: dur, id_modalidad: c.id_modalidad });\n  }\n  for (const cf of fijasPrf) {\n    if (!clasesPorFecha[cf.fechaKey]) clasesPorFecha[cf.fechaKey] = [];\n    clasesPorFecha[cf.fechaKey].push({ inicio: cf.inicio, fin: cf.fin, duracion: cf.duracion, id_modalidad: cf.id_modalidad });\n  }\n\n  return { bloquesPorDia, clasesPorFecha, nombre: disp[0]?.nombre_completo_profesor || '' };\n}\n\n// CONTADOR PRESENCIALES INSTITUTO (limite 9 aulas) — incluye RESERVAS + CLASES_FIJAS\nfunction contarPresenciales(fechaKey, slotI, slotF) {\n  let n = 0;\n  for (const c of todasLasReservas) {\n    if (c.id_modalidad !== 1 || ![1,2].includes(c.id_estado_clase)) continue;\n    const dt = parsearFechaISO(c.fecha_formato_ISO8601);\n    if (!dt?.isValid || dt.toISODate() !== fechaKey) continue;\n    const ini = horaAMinutos(dt.toFormat('HH:mm'));\n    if (haySolapamiento(slotI, slotF, ini, ini+parseInt(c.duracion_clase))) n++;\n  }\n  for (const cf of fijasExp) {\n    if (cf.id_modalidad !== 1 || cf.fechaKey !== fechaKey) continue;\n    if (haySolapamiento(slotI, slotF, cf.inicio, cf.fin)) n++;\n  }\n  return n;\n}\n\nfunction buildRes(idProf, nombre, fecha, fechaKey, slotI, slotF, diaSemana, modId, todasClasesDia, minsPresBq, nota, dur) {\n  return {\n    id_profesor:              idProf,\n    nombre_profesor:          nombre,\n    fecha_formato_ISO8601:    fecha.set({ hour: Math.floor(slotI/60), minute: slotI%60, second:0, millisecond:0 }).toISO(),\n    id_materia:               idMateriaSolicitada,\n    fecha:                    fechaKey,\n    hora_inicio:              minutosAHora(slotI),\n    hora_fin:                 minutosAHora(slotF),\n    dia_semana:               diaSemana,\n    duracion_minutos:         dur,\n    id_modalidad:             modId,\n    modalidad:                modId === 1 ? 'PRESENCIAL' : 'VIRTUAL',\n    es_primera_clase_dia:     todasClasesDia.length === 0,\n    clases_existentes_ese_dia: todasClasesDia.length,\n    horas_presenciales_del_profesor_ese_dia: minsPresBq,\n    justificacion_modalidad:  nota\n  };\n}\n\n// Busca el primer slot valido dentro de un bloque especifico.\n// Regla no-huecos: aplica DENTRO DEL BLOQUE solamente.\n// Regla 90 min: aplica solo en bloques PRESENCIALES, contando minutos presenciales del bloque.\nfunction slotEnBloque(bloque, fechaKey, fecha, diaSemana, clasesPorFecha, idProf, nombre, dur) {\n  const esP   = bloque.modalidad === 'PRESENCIAL';\n  const modId = esP ? 1 : 2;\n  const bIni  = bloque.hora_inicio;\n  const bFin  = bloque.hora_fin;\n  const ultimo = bFin - dur;\n  if (bIni > ultimo) return null;\n\n  const todasClasesDia = clasesPorFecha[fechaKey] || [];\n  const enBloque = todasClasesDia.filter(c => c.inicio >= bIni && c.fin <= bFin);\n\n  if (esP) {\n    const minsPres = enBloque.filter(c => c.id_modalidad === 1).reduce((s,c) => s+c.duracion, 0);\n    if (minsPres + dur < 90) return null;\n  }\n\n  for (let sI = bIni; sI <= ultimo; sI += 30) {\n    const sF = sI + dur;\n    if (sF > bFin) continue;\n    if (enBloque.some(c => haySolapamiento(sI, sF, c.inicio, c.fin))) continue;\n    if (creaHueco(sI, sF, enBloque)) continue;\n    if (esP && contarPresenciales(fechaKey, sI, sF) >= 9) continue;\n\n    const minsPres = enBloque.filter(c => c.id_modalidad === 1).reduce((s,c) => s+c.duracion, 0);\n    const nota = esP\n      ? (minsPres === 0\n          ? `Primera clase presencial del bloque (${dur} min cumple regla >= 90 min).`\n          : `Profesor ya tiene ${minsPres} min presenciales en este bloque. Total: ${minsPres + dur} min.`)\n      : 'Modalidad VIRTUAL.';\n    return buildRes(idProf, nombre, fecha, fechaKey, sI, sF, diaSemana, modId, todasClasesDia, minsPres, nota, dur);\n  }\n  return null;\n}\n\nfunction buscarSlots(modalidad, idProf, datos, dur) {\n  const { bloquesPorDia, clasesPorFecha, nombre } = datos;\n  const slots = [];\n  for (const fecha of diasAIterar) {\n    const fechaKey = fecha.toISODate();\n    if (profesorBloqueado(idProf, fechaKey)) continue;\n    const diaNom   = WEEKDAY_A_DIA[fecha.weekday];\n    const diaSem   = fecha.setLocale('es').toFormat('EEEE').toLowerCase();\n    const bloques  = (bloquesPorDia[diaNom] || []).filter(b => b.modalidad === modalidad);\n    for (const bloque of bloques) {\n      const slot = slotEnBloque(bloque, fechaKey, fecha, diaSem, clasesPorFecha, idProf, nombre, dur);\n      if (slot) { slots.push(slot); break; }\n    }\n  }\n  return slots;\n}\n\nfunction top3(pool) {\n  return [...pool].sort((a,b) => {\n    if (a.fecha !== b.fecha) return a.fecha < b.fecha ? -1 : 1;\n    if (a.hora_inicio !== b.hora_inicio) return a.hora_inicio < b.hora_inicio ? -1 : 1;\n    return (prioPorf[a.id_profesor] ?? PRIO_MAX) - (prioPorf[b.id_profesor] ?? PRIO_MAX);\n  }).slice(0, 3);\n}\n\n// Cache de datos por profesor (el dispatcher puede hacer hasta 4 pasadas)\nconst datosPorProf = new Map();\nfunction datosDe(id) {\n  if (!datosPorProf.has(id)) datosPorProf.set(id, obtenerDatos(id));\n  return datosPorProf.get(id);\n}\n\nfunction intentar(modalidad, dur) {\n  const pool = [];\n  for (const id of profOrdenados) { const d = datosDe(id); if (d) pool.push(...buscarSlots(modalidad, id, d, dur)); }\n  return top3(pool);\n}\n\n// LOGICA PRINCIPAL\n// Fallback de duracion: si piden 60 min y no hay ningun slot, se reintenta con 90 min.\n// Modalidad 3 (INDISTINTO) prioriza presencial sobre duracion: 60P -> 90P -> 60V -> 90V.\nlet opciones = [];\nlet duracionUsada = duracionSolicitada;\n\nif (idModalidadSolicitada === 1) {\n  opciones = intentar('PRESENCIAL', duracionSolicitada);\n  if (!opciones.length && puedeFallback) { opciones = intentar('PRESENCIAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n\n} else if (idModalidadSolicitada === 2) {\n  opciones = intentar('VIRTUAL', duracionSolicitada);\n  if (!opciones.length && puedeFallback) { opciones = intentar('VIRTUAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n\n} else if (idModalidadSolicitada === 3) {\n  opciones = intentar('PRESENCIAL', duracionSolicitada);\n  if (!opciones.length && puedeFallback) { opciones = intentar('PRESENCIAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n  if (!opciones.length) { opciones = intentar('VIRTUAL', duracionSolicitada); duracionUsada = duracionSolicitada; }\n  if (!opciones.length && puedeFallback) { opciones = intentar('VIRTUAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n\n} else {\n  return [{ json: { encontrado: false, motivo: `id_modalidad desconocido: ${idModalidadSolicitada}`, razon_detallada: `Valores validos: 1 (PRESENCIAL), 2 (VIRTUAL), 3 (INDISTINTO).` } }];\n}\n\n// RETORNO\nif (!opciones.length) {\n  const sufijoDur = puedeFallback ? ' Se busco tanto para clases de 60 como de 90 minutos.' : '';\n  const base = fechaPreferidaRaw\n    ? `No hay slots disponibles el ${fechaPreferidaRaw} que cumplan todas las condiciones.${sufijoDur}`\n    : (({ 1: 'No hay slots presenciales disponibles en los proximos 14 dias.', 2: 'No hay slots virtuales disponibles en los proximos 14 dias.', 3: 'No hay disponibilidad presencial ni virtual en los proximos 14 dias.' }[idModalidadSolicitada] || 'No hay disponibilidad en los proximos 14 dias.') + sufijoDur);\n  const detalles = [];\n  if ([1,3].includes(idModalidadSolicitada)) detalles.push('Regla de 90 min: el bloque presencial necesita >= 90 min de clases presenciales entre las existentes y la nueva.');\n  detalles.push('Tambien se verifico: sin huecos dentro del bloque, capacidad maxima de 9 aulas simultaneas del instituto.');\n  if (puedeFallback) detalles.push('Se intento tambien con duracion de 90 minutos (fallback) sin exito.');\n  if (fechaPreferidaRaw) detalles.push(`Busqueda limitada a fecha preferida: ${fechaPreferidaRaw}.`);\n  return [{ json: { encontrado: false, motivo: base, razon_detallada: detalles.join(' ') } }];\n}\n\nconst resultado = { encontrado: true, cantidad_opciones: opciones.length, opciones: opciones.map((o,i) => ({ ...o, posicion: i+1 })) };\nif (duracionUsada !== duracionSolicitada) {\n  resultado.fallback_duracion   = true;\n  resultado.duracion_solicitada = duracionSolicitada;\n  resultado.duracion_ofrecida   = duracionUsada;\n  resultado.nota_duracion       = 'No hay disponibilidad para clases de 60 minutos en el periodo buscado. Las opciones ofrecidas son para una clase de 90 minutos (1 hora y media).';\n}\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,-928],"id":"24b7e352-9de7-4323-85df-4a7ae71aad59","name":"best_gaps1"},{"parameters":{"jsCode":"// INPUTS\nconst todasLasClasesFijas     = $('join_clases_fijas').first().json.data                   || [];\nconst todasLasClasesInstituto = $('join_bookings_3').first().json.data                     || [];\nconst disponibilidadInput     = $('join_teacher_availability1').first().json.data          || [];\nconst clasesProfesorInput     = $('join_teaches_classes1').first().json.data               || [];\nconst duracionSolicitada      = $('important_data1').first().json.duracion_minutos         || 60;\nconst idModalidadSolicitada   = $('important_data1').first().json.id_modalidad             || 1;\nconst idMateriaSolicitada     = $('important_data1').first().json.id_materia_solicitada;\nconst fechaPreferidaRaw       = $('important_data1').first().json.fecha_preferida          || null;\nconst idProfesor              = disponibilidadInput[0]?.id_profesor                        || null;\nconst feriadosInput           = $('join_feriados').first().json.data                       || [];\nconst feriadosSet             = new Set(feriadosInput.map(f => String(f.fecha || '').trim()).filter(Boolean));\nconst profesoresSheet         = $('join_profesores').first().json.data                     || [];\nconst bloqueosInput           = $('join_bloqueos').first().json.data                       || [];\n\n// FALLBACK DE DURACION: si piden 60 min y no hay nada, se reintenta con 90 min\nconst DURACION_FALLBACK = 90;\nconst puedeFallback     = duracionSolicitada === 60;\n\nif (!idProfesor) {\n  return [{ json: { encontrado: false, motivo: 'No se pudo obtener el ID del profesor', razon_detallada: 'El profesor no tiene registros en la tabla de disponibilidad.' } }];\n}\n\nconst profRow = profesoresSheet.find(p => Number(p.id_profesor) === Number(idProfesor));\nif (profRow && String(profRow.disponible).trim().toUpperCase() === 'FALSE') {\n  return [{ json: {\n    encontrado: false,\n    motivo: 'El profesor no está disponible para dar clases en este momento.',\n    razon_detallada: 'El profesor está marcado como no disponible por un administrador.'\n  } }];\n}\n\n// UTILIDADES\nconst DIA_A_WEEKDAY = { LUNES:1, MARTES:2, MIERCOLES:3, JUEVES:4, VIERNES:5, SABADO:6, DOMINGO:7 };\nconst WEEKDAY_A_DIA = { 1:'LUNES', 2:'MARTES', 3:'MIERCOLES', 4:'JUEVES', 5:'VIERNES', 6:'SABADO', 7:'DOMINGO' };\n\nfunction horaAMinutos(s) { const [h,m] = s.split(':').map(Number); return h*60+m; }\nfunction minutosAHora(m) { return `${String(Math.floor(m/60)).padStart(2,'0')}:${String(m%60).padStart(2,'0')}`; }\nfunction parsearFechaISO(s) {\n  if (!s) return null;\n  try { return DateTime.fromISO(s.replace(/['\"]/g,''), { zone: 'America/Argentina/Buenos_Aires' }); } catch { return null; }\n}\nfunction haySolapamiento(i1,f1,i2,f2) { return i1<f2 && f1>i2; }\nfunction creaHueco(slotI, slotF, clasesBloque) {\n  if (!clasesBloque.length) return false;\n  const ord = [...clasesBloque].sort((a,b)=>a.inicio-b.inicio);\n  const antes   = ord.filter(c=>c.fin<=slotI).pop();\n  const despues = ord.find(c=>c.inicio>=slotF);\n  if (antes   && antes.fin   !== slotI) return true;\n  if (despues && slotF       !== despues.inicio) return true;\n  return false;\n}\n\n// BLOQUEOS POR PROFESOR (hoja BLOQUEOS_PROFESOR): dias en los que el profesor no da clases.\n// Jerarquia superior a la disponibilidad: si el dia esta bloqueado, no se ofrecen slots.\nfunction normFecha(v) {\n  const s = String(v ?? '').trim().replace(/['\"]/g,'');\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  let dt = DateTime.fromISO(s, { zone: 'America/Argentina/Buenos_Aires' });\n  if (!dt.isValid) dt = DateTime.fromFormat(s, 'd/M/yyyy', { zone: 'America/Argentina/Buenos_Aires' });\n  return dt.isValid ? dt.toISODate() : null;\n}\nconst bloqueosSet = new Set(\n  bloqueosInput\n    .map(b => ({ id: Number(b.id_profesor), f: normFecha(b.fecha) }))\n    .filter(b => Number.isFinite(b.id) && b.f)\n    .map(b => `${b.id}|${b.f}`)\n);\nfunction profesorBloqueado(idProf, fechaKey) { return bloqueosSet.has(`${Number(idProf)}|${fechaKey}`); }\n\n// DIAS A ITERAR\nconst hoy     = DateTime.now().setZone('America/Argentina/Buenos_Aires');\nconst manana  = hoy.plus({ days: 2 }).startOf('day');\nconst mananaKey = manana.toISODate();\nlet diasAIterar = [];\nif (fechaPreferidaRaw) {\n  const dtP = DateTime.fromISO(fechaPreferidaRaw, { zone: 'America/Argentina/Buenos_Aires' }).startOf('day');\n  if (dtP >= manana) diasAIterar.push(dtP);\n} else {\n  for (let i = 0; i < 14; i++) diasAIterar.push(manana.plus({ days: i }));\n}\n\n// FILTRO FERIADOS\ndiasAIterar = diasAIterar.filter(d => !feriadosSet.has(d.toISODate()));\nconst fechaPrefClean = fechaPreferidaRaw ? fechaPreferidaRaw.replace(/['\"]/g,'').trim() : null;\nif (fechaPrefClean && feriadosSet.has(fechaPrefClean)) {\n  return [{ json: { encontrado: false, motivo: `El ${fechaPrefClean} es feriado, no se brindan clases ese día.`, razon_detallada: 'Fecha bloqueada por la lista de feriados del instituto.' } }];\n}\n\n// FILTRO BLOQUEOS DEL PROFESOR\nif (fechaPrefClean && profesorBloqueado(idProfesor, fechaPrefClean)) {\n  return [{ json: { encontrado: false, motivo: `El profesor no está disponible el ${fechaPrefClean} (día bloqueado).`, razon_detallada: 'La fecha está bloqueada para este profesor en la hoja BLOQUEOS_PROFESOR.' } }];\n}\n\n// BLOQUES DE DISPONIBILIDAD DEL PROFESOR\n// Un profesor puede tener MULTIPLES bloques por dia con distintas modalidades\nconst bloquesPorDia = {};\nconst nombreProfesor = disponibilidadInput[0]?.nombre_completo_profesor || '';\nfor (const d of disponibilidadInput) {\n  const dia = d.dia.toUpperCase();\n  if (!bloquesPorDia[dia]) bloquesPorDia[dia] = [];\n  bloquesPorDia[dia].push({\n    id_bloque:   d.id_bloque,\n    hora_inicio: horaAMinutos(d.hora_inicio),\n    hora_fin:    horaAMinutos(d.hora_fin),\n    modalidad:   d.modalidad\n  });\n  bloquesPorDia[dia].sort((a,b) => a.hora_inicio - b.hora_inicio);\n}\n\n// CLASES DEL PROFESOR POR FECHA (reservas activas + clases fijas expandidas)\nconst reservasActivas = clasesProfesorInput.filter(c =>\n  c.id_profesor === idProfesor && ![3,4,5,6].includes(c.id_estado_clase)\n);\n\n// Expandir clases fijas del PROFESOR dentro del rango de busqueda\nconst fijasProfExp = [];\nfor (const cf of todasLasClasesFijas) {\n  if (cf.id_profesor !== idProfesor || [3,4,5,6].includes(cf.id_estado_clase_fija)) continue;\n  const nDia = DIA_A_WEEKDAY[cf.dia_semana_clase_fija];\n  if (!nDia) continue;\n  const ini = horaAMinutos(cf.hora_inicio_clase_fija);\n  const fin = horaAMinutos(cf.hora_fin_clase_fija);\n  const fIni = DateTime.fromISO(cf.fecha_inicio_clase_fija,{zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n  const fFin = DateTime.fromISO(cf.fecha_fin_clase_fija,   {zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n  for (const fecha of diasAIterar) {\n    if (fecha.weekday !== nDia || fecha < fIni || fecha > fFin) continue;\n    fijasProfExp.push({ fechaKey: fecha.toISODate(), inicio: ini, fin, duracion: fin-ini, id_modalidad: cf.id_modalidad });\n  }\n}\n\n// Expandir TODAS las clases fijas del instituto para conteo de 9 aulas\nconst fijasInstExp = [];\nfor (const cf of todasLasClasesFijas) {\n  if ([3,4,5,6].includes(cf.id_estado_clase_fija)) continue;\n  const nDia = DIA_A_WEEKDAY[cf.dia_semana_clase_fija];\n  if (!nDia) continue;\n  const ini = horaAMinutos(cf.hora_inicio_clase_fija);\n  const fin = horaAMinutos(cf.hora_fin_clase_fija);\n  const fIni = DateTime.fromISO(cf.fecha_inicio_clase_fija,{zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n  const fFin = DateTime.fromISO(cf.fecha_fin_clase_fija,   {zone:'America/Argentina/Buenos_Aires'}).startOf('day');\n  for (const fecha of diasAIterar) {\n    if (fecha.weekday !== nDia || fecha < fIni || fecha > fFin) continue;\n    fijasInstExp.push({ fechaKey: fecha.toISODate(), inicio: ini, fin, id_modalidad: cf.id_modalidad });\n  }\n}\n\nconst clasesPorFecha = {};\nfor (const c of reservasActivas) {\n  const dt = parsearFechaISO(c.fecha_formato_ISO8601);\n  if (!dt?.isValid) continue;\n  const key = dt.toISODate();\n  if (key < mananaKey) continue;\n  if (!clasesPorFecha[key]) clasesPorFecha[key] = [];\n  const ini = horaAMinutos(dt.toFormat('HH:mm'));\n  const dur = parseInt(c.duracion_clase) || 60;\n  clasesPorFecha[key].push({ inicio: ini, fin: ini+dur, duracion: dur, id_modalidad: c.id_modalidad });\n}\nfor (const cf of fijasProfExp) {\n  if (!clasesPorFecha[cf.fechaKey]) clasesPorFecha[cf.fechaKey] = [];\n  clasesPorFecha[cf.fechaKey].push({ inicio: cf.inicio, fin: cf.fin, duracion: cf.duracion, id_modalidad: cf.id_modalidad });\n}\n\n// CONTADOR PRESENCIALES INSTITUTO (limite 9 aulas) — incluye RESERVAS + CLASES_FIJAS\nfunction contarPresenciales(fechaKey, slotI, slotF) {\n  let n = 0;\n  for (const c of todasLasClasesInstituto) {\n    if (c.id_modalidad !== 1 || ![1,2].includes(c.id_estado_clase)) continue;\n    const dt = parsearFechaISO(c.fecha_formato_ISO8601);\n    if (!dt?.isValid || dt.toISODate() !== fechaKey) continue;\n    const ini = horaAMinutos(dt.toFormat('HH:mm'));\n    if (haySolapamiento(slotI, slotF, ini, ini+parseInt(c.duracion_clase))) n++;\n  }\n  for (const cf of fijasInstExp) {\n    if (cf.id_modalidad !== 1 || cf.fechaKey !== fechaKey) continue;\n    if (haySolapamiento(slotI, slotF, cf.inicio, cf.fin)) n++;\n  }\n  return n;\n}\n\nfunction buildRes(fecha, fechaKey, slotI, slotF, diaSemana, modId, todasClasesDia, minsPresBq, nota, dur) {\n  return {\n    id_profesor:              idProfesor,\n    nombre_profesor:          nombreProfesor,\n    fecha_formato_ISO8601:    fecha.set({ hour: Math.floor(slotI/60), minute: slotI%60, second:0, millisecond:0 }).toISO(),\n    id_materia:               idMateriaSolicitada,\n    fecha:                    fechaKey,\n    hora_inicio:              minutosAHora(slotI),\n    hora_fin:                 minutosAHora(slotF),\n    dia_semana:               diaSemana,\n    duracion_minutos:         dur,\n    id_modalidad:             modId,\n    modalidad:                modId === 1 ? 'PRESENCIAL' : 'VIRTUAL',\n    es_primera_clase_dia:     todasClasesDia.length === 0,\n    clases_existentes_ese_dia: todasClasesDia.length,\n    horas_presenciales_profesor: minsPresBq,\n    justificacion_modalidad:  nota\n  };\n}\n\n// Busca el primer slot valido dentro de un bloque especifico.\n// Regla no-huecos: aplica DENTRO DEL BLOQUE solamente.\n// Regla 90 min: aplica solo en bloques PRESENCIALES, contando minutos presenciales del bloque.\nfunction slotEnBloque(bloque, fechaKey, fecha, diaSemana, dur) {\n  const esP   = bloque.modalidad === 'PRESENCIAL';\n  const modId = esP ? 1 : 2;\n  const bIni  = bloque.hora_inicio;\n  const bFin  = bloque.hora_fin;\n  const ultimo = bFin - dur;\n  if (bIni > ultimo) return null;\n\n  const todasClasesDia = clasesPorFecha[fechaKey] || [];\n  const enBloque = todasClasesDia.filter(c => c.inicio >= bIni && c.fin <= bFin);\n\n  if (esP) {\n    const minsPres = enBloque.filter(c => c.id_modalidad === 1).reduce((s,c) => s+c.duracion, 0);\n    if (minsPres + dur < 90) return null;\n  }\n\n  for (let sI = bIni; sI <= ultimo; sI += 30) {\n    const sF = sI + dur;\n    if (sF > bFin) continue;\n    if (enBloque.some(c => haySolapamiento(sI, sF, c.inicio, c.fin))) continue;\n    if (creaHueco(sI, sF, enBloque)) continue;\n    if (esP && contarPresenciales(fechaKey, sI, sF) >= 9) continue;\n\n    const minsPres = enBloque.filter(c => c.id_modalidad === 1).reduce((s,c) => s+c.duracion, 0);\n    const nota = esP\n      ? (minsPres === 0\n          ? `Primera clase presencial del bloque (${dur} min cumple regla >= 90 min).`\n          : `Profesor ya tiene ${minsPres} min presenciales en este bloque. Total: ${minsPres + dur} min.`)\n      : 'Modalidad VIRTUAL.';\n    return buildRes(fecha, fechaKey, sI, sF, diaSemana, modId, todasClasesDia, minsPres, nota, dur);\n  }\n  return null;\n}\n\nfunction buscarSlots(modalidad, dur) {\n  const slots = [];\n  for (const fecha of diasAIterar) {\n    const fechaKey = fecha.toISODate();\n    if (profesorBloqueado(idProfesor, fechaKey)) continue;\n    const diaNom   = WEEKDAY_A_DIA[fecha.weekday];\n    const diaSem   = fecha.setLocale('es').toFormat('EEEE').toLowerCase();\n    const bloques  = (bloquesPorDia[diaNom] || []).filter(b => b.modalidad === modalidad);\n    for (const bloque of bloques) {\n      const slot = slotEnBloque(bloque, fechaKey, fecha, diaSem, dur);\n      if (slot) { slots.push(slot); break; }\n    }\n  }\n  return slots;\n}\n\nfunction top3(pool) {\n  return [...pool].sort((a,b) => {\n    if (a.fecha !== b.fecha) return a.fecha < b.fecha ? -1 : 1;\n    return a.hora_inicio < b.hora_inicio ? -1 : 1;\n  }).slice(0, 3);\n}\n\nfunction intentar(modalidad, dur) { return top3(buscarSlots(modalidad, dur)); }\n\n// DISPATCHER\n// Fallback de duracion: si piden 60 min y no hay ningun slot, se reintenta con 90 min.\n// Modalidad 3 (INDISTINTO) prioriza presencial sobre duracion: 60P -> 90P -> 60V -> 90V.\nlet opciones = [];\nlet duracionUsada = duracionSolicitada;\nswitch (idModalidadSolicitada) {\n  case 1:\n    opciones = intentar('PRESENCIAL', duracionSolicitada);\n    if (!opciones.length && puedeFallback) { opciones = intentar('PRESENCIAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n    break;\n  case 2:\n    opciones = intentar('VIRTUAL', duracionSolicitada);\n    if (!opciones.length && puedeFallback) { opciones = intentar('VIRTUAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n    break;\n  case 3:\n    opciones = intentar('PRESENCIAL', duracionSolicitada);\n    if (!opciones.length && puedeFallback) { opciones = intentar('PRESENCIAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n    if (!opciones.length) { opciones = intentar('VIRTUAL', duracionSolicitada); duracionUsada = duracionSolicitada; }\n    if (!opciones.length && puedeFallback) { opciones = intentar('VIRTUAL', DURACION_FALLBACK); duracionUsada = DURACION_FALLBACK; }\n    break;\n  default:\n    return [{ json: { encontrado: false, motivo: `id_modalidad desconocido: ${idModalidadSolicitada}`, razon_detallada: 'Valores validos: 1 (PRESENCIAL), 2 (VIRTUAL), 3 (INDISTINTO).' } }];\n}\n\n// RETORNO\nif (!opciones.length) {\n  const sufijoDur = puedeFallback ? ' Se busco tanto para clases de 60 como de 90 minutos.' : '';\n  const base = fechaPreferidaRaw\n    ? `No hay slots disponibles el ${fechaPreferidaRaw} que cumplan todas las condiciones.${sufijoDur}`\n    : (({ 1: 'No hay slots presenciales disponibles en los proximos 14 dias.', 2: 'No hay slots virtuales disponibles en los proximos 14 dias.', 3: 'No hay disponibilidad presencial ni virtual en los proximos 14 dias.' }[idModalidadSolicitada] || 'No hay disponibilidad en los proximos 14 dias.') + sufijoDur);\n  const detalles = [];\n  if ([1,3].includes(idModalidadSolicitada)) detalles.push('Regla de 90 min: el bloque presencial necesita >= 90 min de clases presenciales entre las existentes y la nueva.');\n  detalles.push('Tambien se verifico: sin huecos dentro del bloque, capacidad maxima de 9 aulas simultaneas del instituto.');\n  if (puedeFallback) detalles.push('Se intento tambien con duracion de 90 minutos (fallback) sin exito.');\n  if (fechaPreferidaRaw) detalles.push(`Busqueda limitada a fecha preferida: ${fechaPreferidaRaw}.`);\n  return [{ json: { encontrado: false, motivo: base, razon_detallada: detalles.join(' ') } }];\n}\n\nconst resultado = { encontrado: true, cantidad_opciones: opciones.length, opciones: opciones.map((o,i) => ({ ...o, posicion: i+1 })) };\nif (duracionUsada !== duracionSolicitada) {\n  resultado.fallback_duracion   = true;\n  resultado.duracion_solicitada = duracionSolicitada;\n  resultado.duracion_ofrecida   = duracionUsada;\n  resultado.nota_duracion       = 'No hay disponibilidad para clases de 60 minutos en el periodo buscado. Las opciones ofrecidas son para una clase de 90 minutos (1 hora y media).';\n}\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,-752],"id":"e9defc89-287a-403b-8eb3-c94d73896c78","name":"best_gap1"},{"parameters":{"assignments":{"assignments":[{"id":"85738159-828f-4266-9da1-3d53ff6cc761","name":"encontrado","value":false,"type":"boolean"},{"id":"808b478e-b062-42c7-8872-53facf97a501","name":"motivo","value":"=El profesor {{ $('Basic LLM Chain1').item.json.output.nombre_profesor }} {{ $('Basic LLM Chain1').item.json.output.apellido_profesor }} no cubre la materia solicitada.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,-576],"id":"5f976040-1949-44b3-af9e-2d4280cd0b3f","name":"profesor_no_da_la_materia1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b118e8d7-1415-42a6-aeda-0ca6cc96efa2","leftValue":"={{ $json.output }}","rightValue":"\"encontrado\": false","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1056,-720],"id":"519c2692-af47-41b2-aff7-f74c51945059","name":"teacher_was_found1"},{"parameters":{"assignments":{"assignments":[{"id":"85738159-828f-4266-9da1-3d53ff6cc761","name":"encontrado","value":false,"type":"boolean"},{"id":"808b478e-b062-42c7-8872-53facf97a501","name":"motivo","value":"=No se logro interpretar a que profesor se referia el usuario","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,-640],"id":"5efdde8b-b011-4cb7-9fea-4f0095207755","name":"profesor_no_encontrado1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1328,-512],"id":"4a33ac07-d3bf-4bd0-8ded-358de3e386c1","name":"Think2"},{"parameters":{"promptType":"define","text":"={{ $json.profesor_preferido }}","options":{"systemMessage":"=# Identity\nYou are an assistant capable of **interpreting nicknames, diminutives, and informal references to teachers' names**.\n\nYou are part of a system for a **tutoring institute**, where students request classes with specific teachers.  \nStudents often **do not mention the teacher's exact name**, so your role is to determine which teacher they are referring to.\n\n---\n\n# Purpose\n\nDetermine the **teacher's name, last name, and id_profesor** that the student is referring to.\n\nAlso determine whether the teacher was **successfully identified**.\n\n---\n\n# Instructions\n\n## Tool 1: Think\n\n### When to use\nAlways use the **Think** tool to internally reason before performing any action.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 2: get_teachers\n\n### When to use\nAlways use the **get_teachers** tool to retrieve the list of all teachers in the institute.\n\n### Input\nNone\n\n### Output\nReturns the names, last names, and IDs of all teachers.\n\nIf the tool fails, retry **once more**.\n\n---\n\n# Reasoning Steps\n\n1. Read and analyze the user input:\n\n```\n{{ $json.profesor_preferido }}\n```\n\n2. Retrieve the list of teachers using the **get_teachers** tool.\n\n3. Compare the user's input with all teacher names and surnames.\n\n4. Consider possible:\n   - Nicknames\n   - Diminutives\n   - Partial names\n   - Informal references\n\n5. Determine which teacher the user is referring to.\n\n6. If a match is found, return the exact database values.\n\n7. If no match is found, return null values.\n\n---\n\n# Output Format (teacher found)\n\n```json\n{\n  \"encontrado\": true,\n  \"nombre_profesor\": \"<name from database>\",\n  \"apellido_profesor\": \"<last name from database>\",\n  \"id_profesor\": \"<database id>\"\n}\n```\n\n---\n\n# Output Format (teacher not found)\n\n```json\n{\n  \"encontrado\": false,\n  \"nombre_profesor\": null,\n  \"apellido_profesor\": null,\n  \"id_profesor\": null\n}\n```\n\n---\n\n# Important Rules\n\n- The returned data must correspond to the **teacher the student is referring to**.\n- Always use the **get_teachers** tool to obtain the teacher list.\n- If **get_teachers** fails, retry **one additional time** before continuing.\n- Never output text outside the JSON.\n- Never invent teacher data."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1408,-720],"id":"c6ed0a99-3f66-403a-8546-ff9431709038","name":"name_interpreter1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Identity\nYou are a **JSON output formatter** for a tutoring institute system.\n\nYour only task is to **convert the provided input data into the required JSON structure**.\n\n---\n\n# Purpose\n\nReturn the teacher information using the exact output schema required by the system.\n\n---\n\n# Instructions\n\n- Extract the teacher information from the input.\n- Use the values **exactly as provided** in the input.\n- **Do not modify, translate, or reinterpret the values.**\n- **Do not invent data.**\n\nIf any field is missing or unknown, return **null**.\n\n---\n\n# Output Format\n\nYou must return **only this JSON structure**:\n\n```json\n{\n  \"nombre_profesor\": \"<name from database>\",\n  \"apellido_profesor\": \"<last name from database>\",\n  \"id_profesor\": \"<database id>\"\n}\n```\n\n---\n\n# Critical Rules\n\n- Never output text outside the JSON.\n- Do not include explanations.\n- Do not include markdown.\n- Do not include comments.\n- Do not add extra fields.\n- Use **only the fields defined in the schema**.\n- Ensure the output is **valid JSON**.\n\n---\n\n# Input\n\nTeacher data to format:\n\n```\n{{ $json }}\n```\n\nExtract the correct fields and return the formatted JSON."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-640,-736],"id":"41fdf3db-2ed8-4049-b075-c31757a3a7ae","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n  \"nombre_profesor\": \"Juan\",\n  \"apellido_profesor\": \"Gomez\",\n  \"id_profesor\": 6\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-544,-544],"id":"d3ed6c0b-1b11-409b-bd79-aa0573deb43d","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-544,-384],"id":"b0790edf-60c7-4036-b741-b54171b010ae","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-688,-560],"id":"40e9cb13-f66e-4f36-bc5c-dd24279f7324","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Use this tool to retrieve **information about all teachers in the institute**.\n\n## Returned Data\n\nThe tool returns the following fields for each teacher:\n\n- **id_profesor**\n- **nombre_profesor**\n- **apellido_profesor**\n- **telefono_profesor**\n- **correo_profesor**","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-1200,-512],"id":"5e521c9a-daf4-4f63-9d24-18d40893775d","name":"get_teachers1","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae9f5721-f055-4420-9b51-7064180a6288","leftValue":"={{ $json.tiene_materias }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"99df8f86-9056-45a8-b7b9-bd47a617f186","leftValue":"={{ $json.id_materia }}","rightValue":"={{ $('important_data1').first().json.id_materia_solicitada }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[336,-736],"id":"e88c499f-91a1-4d0b-8cec-0ffc64c2f395","name":"decide_cover_subject1"},{"parameters":{"assignments":{"assignments":[{"id":"cdd4fdcb-fa3d-48d2-924f-7b3ee71eaeef","name":"id_materia_solicitada","value":"={{ $('get_id_subject1').first().json.id_materia }}","type":"number"},{"id":"2d7817e8-6065-431c-9dba-ecd9362a53a7","name":"duracion_minutos","value":"={{ $('When Executed by Another Workflow').first().json.duracion_minutos }}","type":"number"},{"id":"24af7057-442f-40c6-ac6e-3694ce74aacf","name":"profesor_preferido","value":"={{ $('When Executed by Another Workflow').first().json.profesor_preferido }}","type":"string"},{"id":"86767b8c-eedf-4f3b-b8c4-8e8d89faa5df","name":"fecha_preferida","value":"={{ $('fecha?1').first().json.fecha }}","type":"string"},{"id":"929b1b8c-89d0-47da-8823-801652ba11f9","name":"id_alumno","value":"={{ $('When Executed by Another Workflow').first().json.id_alumno }}","type":"number"},{"id":"f3ea7c54-9682-4eee-a4ad-41e8ef80bb52","name":"id_modalidad","value":"={{ $('When Executed by Another Workflow').first().json.id_modalidad }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1824,-912],"id":"89077fb2-43f9-432e-85c9-c1e8a11e81a5","name":"important_data1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2912,-672],"id":"72b2daf3-93be-4bcf-9623-a917aae4b666","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').first().json.materia_solicitada }}","options":{"systemMessage":"=# Identity\nYou are an assistant capable of **interpreting informal, abbreviated, or misspelled references to school subjects**.\nYou are part of a system for a **tutoring institute**, where students request classes using casual language.\nYour role is to match what the student says to one of the official subjects offered by the institute.\n\n---\n\n# Purpose\nDetermine which **official subject** the student is referring to.\n\n---\n\n# Available Subjects\n- MATEMATICA\n- LENGUA Y LITERATURA\n- QUIMICA\n- FISICA\n- FISICOQUIMICA\n- INGLES\n- ESTADISTICA\n- HISTORIA\n- GEOGRAFIA\n- FORMACION ETICA Y CIUDADANA\n- BIOLOGIA\n\n---\n\n# Instructions\n\n## Tool: Think\nAlways use **Think** to reason before producing any output.\n\n---\n\n# Reasoning Steps\n\n1. Read the user input: {{ $('When Executed by Another Workflow').first().json.materia_solicitada }}\n\n2. Compare it against the official subject list, considering:\n   - Abbreviations: \"mate\" → MATEMATICA, \"bio\" → BIOLOGIA\n   - Informal names: \"lengua\" → LENGUA Y LITERATURA, \"quimica\" → QUIMICA\n   - Misspellings: \"matematica\" → MATEMATICA\n   - Partial names: \"etica\" → FORMACION ETICA Y CIUDADANA\n\n3. If a match is found, return the exact official name.\n4. If no match is found, return null.\n\n---\n\n# Output Format (match found)\n```json\n{\n  \"encontrado\": true,\n  \"nombre_materia\": \"<exact official subject name>\"\n}\n```\n\n# Output Format (no match)\n```json\n{\n  \"encontrado\": false,\n  \"nombre_materia\": null\n}\n```\n\n---\n\n# Rules\n- Never output text outside the JSON.\n- Never invent subject names.\n- Always return the exact official name as listed above.\n- Never return partial or informal names in the output."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2912,-896],"id":"390818f8-12b2-4997-9175-25e2b193f5ec","name":"subject_interpreter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2963d5b8-f94f-4394-91fa-84e77b0a0d08","leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"bc14e754-bdf0-4386-8b1d-98713dba237d","leftValue":"={{ $json.nombre_materia }}","rightValue":"\"\"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2400,-896],"id":"36bd2559-c757-4995-adc6-a93c5f5c57f9","name":"subject_found1"},{"parameters":{"assignments":{"assignments":[{"id":"85738159-828f-4266-9da1-3d53ff6cc761","name":"encontrado","value":false,"type":"boolean"},{"id":"808b478e-b062-42c7-8872-53facf97a501","name":"motivo","value":"=No se logro interpretar a que materia se referia el usuario","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2192,-720],"id":"438cd4ca-6514-4fe7-bd60-676e7b18e59e","name":"materia_no_encontrada1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-2768,-672],"id":"0b4299da-5278-46ec-a9d7-f6116b112018","name":"Think3"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1448749140,"mode":"list","cachedResultName":"materias_db","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1448749140"},"filtersUI":{"values":[{"lookupColumn":"nombre_materia","lookupValue":"={{ $('format_output3').first().json.nombre_materia }}"},{"lookupColumn":"tipo_educacion","lookupValue":"={{ $('When Executed by Another Workflow').first().json.tipo_educacion }}"},{"lookupColumn":"nivel","lookupValue":"={{ $('When Executed by Another Workflow').first().json.nivel }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2192,-912],"id":"912714ba-2b3a-4486-8aa6-08ad608ac431","name":"get_id_subject1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a5bd0e11-06bc-4b35-b9b7-3c2b722f5838","leftValue":"={{ $json.fecha_preferida }}","rightValue":"\"\"","operator":{"type":"string","operation":"equals"}},{"id":"988dc31a-a649-40de-a74b-0d9f11351792","leftValue":"={{ $json.fecha_preferida }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"9757f87d-b8d8-4522-b0c0-688d249e7df9","leftValue":"={{ $json.fecha_preferida }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4096,-880],"id":"1b659a81-ca3a-49c7-a5c8-3bd756114abd","name":"specific_date1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3840,-624],"id":"abe29895-d25a-42fd-8e6c-e58992566f73","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').first().json.fecha_preferida }}","options":{"systemMessage":"=# DATE RESOLVER\n\n**Task:** Convert a natural language date reference into YYYY-MM-DD format.\n**Current date and time:** {{ $now }} (Timezone: America/Argentina/Buenos_Aires)\n\n---\n\n# Input\n{{ $('When Executed by Another Workflow').first().json.fecha_preferida }}\n\n---\n\n# Instructions\n\n## Step 1 — Classify the input\n\nDetermine which pattern the input matches:\n\n| Pattern | Examples |\n|---|---|\n| Day number | \"3\", \"el 15\", \"24\", \"el 21\" |\n| Weekday name | \"martes\", \"el jueves\", \"lunes\" |\n| Weekday with qualifier | \"el próximo martes\", \"el jueves que viene\" |\n| Empty or unrecognizable | \"\", \"hoy\", \"pronto\" |\n\n## Step 2 — Resolve the date\n\n### If input is a DAY NUMBER:\n1. Extract the number.\n2. Build a candidate date using the current month and year from {{ $now }}.\n3. If that date is in the future → use it.\n4. If that date has already passed → use the same day next month.\n5. Handle month overflow: if next month doesn't have that day (e.g., day 31 in a 30-day month) → use the last day of that month.\n\n### If input is a WEEKDAY NAME (no qualifier):\n1. Identify today's weekday from {{ $now }}.\n2. Identify the target weekday.\n3. If the target weekday is strictly after today → use this week's occurrence.\n4. If the target weekday is today or already passed this week → use next week's occurrence.\n5. Calculate the exact date by adding the correct number of days to today.\n\n### If input has \"próximo\" or \"que viene\":\n1. Always use NEXT week's occurrence, regardless of whether the day has passed or not.\n\n### If input is empty, null, or unrecognizable:\n→ return encontrado: false\n\n---\n\n# DO\n- Always derive the year and month from {{ $now }} — never hardcode them\n- Always verify the resolved date is not in the past\n- Handle month overflow explicitly\n- Use zero-padded month and day (01, 02, ... 09)\n\n# DON'T\n- Never output text outside the JSON\n- Never guess if the input is ambiguous — return encontrado: false\n- Never invent a date that wasn't derivable from the input\n\n---\n\n# Output Format\n\nMatch found:\n```json\n{\n  \"encontrado\": true,\n  \"date\": \"YYYY-MM-DD\"\n}\n```\n\nNot match fond:\n```json\n{\n  \"encontrado\": false,\n  \"date\": null\n}\n```\n\n---\n\n# Examples\n(Assuming {{ $now }} = 2026-04-20, Monday)\n\n| Input | Reasoning | Output |\n|---|---|---|\n| \"3\" | April 3 already passed → May 3 | {\"encontrado\": true, \"date\": \"2026-05-03\"} |\n| \"24\" | April 24 is in the future | {\"encontrado\": true, \"date\": \"2026-04-24\"} |\n| \"martes\" | Tuesday is tomorrow (Apr 21) | {\"encontrado\": true, \"date\": \"2026-04-21\"} |\n| \"lunes\" | Monday already passed today → next Monday Apr 27 | {\"encontrado\": true, \"date\": \"2026-04-27\"} |\n| \"el próximo jueves\" | Next week's Thursday → Apr 30 | {\"encontrado\": true, \"date\": \"2026-04-30\"} |\n| \"\" | Empty input | {\"encontrado\": false, \"date\": null} |\n\n---\n\n# HARD RULE — OUTPUT FORMAT\n\nYour response must be EXCLUSIVELY this JSON. No text before. No text after. No explanations. No markdown.\n\nIf date was resolved:\n{\"encontrado\": true, \"date\": \"YYYY-MM-DD\"}\n\nIf input is empty or unrecognizable:\n{\"encontrado\": false, \"date\": null}\n\nAny response that is not exclusively this JSON is a critical failure."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3840,-800],"id":"07e1624a-ad42-4b93-9671-5beebe51555d","name":"date_interpreter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"36eb7726-c6df-4952-8a8f-c0b651b0aaf5","leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"f5bdf9c6-dbd2-457a-b1f2-222d00776017","leftValue":"={{ $json.date }}","rightValue":"\"\"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3360,-800],"id":"30a5d349-84b7-4d59-ab3d-9d51b6140b6a","name":"date_found1"},{"parameters":{"assignments":{"assignments":[{"id":"85738159-828f-4266-9da1-3d53ff6cc761","name":"encontrado","value":false,"type":"boolean"},{"id":"808b478e-b062-42c7-8872-53facf97a501","name":"motivo","value":"=No se logro interpretar a que fecha/dia se referia el usuario","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3152,-704],"id":"27a9ced9-1a3d-4e43-9b72-b1409c2350ae","name":"fecha_no_encontrada1"},{"parameters":{"jsCode":"let fecha = null;\n\n// Intentar obtener de check_status1\ntry {\n  const temp = $('format_output2').first().json?.date;\n  if (temp) fecha = temp;\n} catch (error) {\n  // Nodo no ejecutado, continuar\n}\n\nreturn [{ json: { fecha } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,-912],"id":"83dd7f23-3388-4e37-8255-c3055bfae50f","name":"fecha?1"},{"parameters":{"jsCode":"let raw = $input.first().json.output;\n\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch {\n  parsed = { encontrado: false, date: null };\n}\n\nreturn [{ json: {\n  encontrado: parsed.encontrado ?? false,\n  date: parsed.date ?? \"\"\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3536,-800],"id":"0fa08798-e8c8-4d6b-b936-76c963386109","name":"format_output2"},{"parameters":{"jsCode":"let raw = $input.first().json.output;\n\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch {\n  parsed = { encontrado: false, nombre_materia: null };\n}\n\nreturn [{ json: {\n  encontrado: parsed.encontrado ?? false,\n  nombre_materia: parsed.nombre_materia ?? \"\"\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2592,-896],"id":"63838a29-b864-4647-bbce-2338ae7abdfa","name":"format_output3"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1514921243,"mode":"list","cachedResultName":"FERIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1514921243"},"options":{}},"id":"44f2fb16-40c6-445b-bf5a-580df4ce95e3","name":"get_feriados","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1776,-752],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"838d44db-e710-4e10-9990-d000d7d2869e","name":"join_feriados","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1984,-752]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1514921243,"mode":"list","cachedResultName":"FERIADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1514921243"},"options":{}},"id":"27ad58e0-1820-48ef-a7bc-110608f227f2","name":"get_feriados_2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1776,-928],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"50650211-1854-4704-942d-1c7646c06c1f","name":"join_feriados_2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1984,-928]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2592,-752],"id":"f2b94170-0bce-4aff-aeff-6c32e0cb4c86","name":"get_profesores","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2592,-928],"id":"f24aade4-ea8b-4e9e-b7fa-4e5fa78ebfea","name":"get_profesores2","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"222a07e5-897b-473d-a59f-f9c3554dc0bc","name":"join_profesores","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2784,-752]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"1ab85f6d-555e-47ef-a3ef-b96e9273427e","name":"join_profesores2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2784,-928]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":261423327,"mode":"list","cachedResultName":"BLOQUEOS_PROFESOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=261423327"},"options":{}},"id":"9833bd79-3c05-49be-956a-eec68d9f62f5","name":"get_bloqueos","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2976,-752],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"61f11ba1-5d1b-4e6a-9a56-8104343b32c8","name":"join_bloqueos","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3184,-752]},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":261423327,"mode":"list","cachedResultName":"BLOQUEOS_PROFESOR","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=261423327"},"options":{}},"id":"4dc10549-faa1-4b35-a8d6-fea6375a9a89","name":"get_bloqueos_2","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2976,-928],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"11e9e83e-c521-47dc-97bd-20e6ddbff04f","name":"join_bloqueos_2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3184,-928]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"specific_date1","type":"main","index":0}]]},"get_clases_fijas":{"main":[[{"node":"join_clases_fijas","type":"main","index":0}]]},"join_clases_fijas":{"main":[[{"node":"get_profesores","type":"main","index":0}]]},"get_clases_fijas_2":{"main":[[{"node":"join_clases_fijas_2","type":"main","index":0}]]},"join_clases_fijas_2":{"main":[[{"node":"get_profesores2","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"name_interpreter1","type":"ai_languageModel","index":0}]]},"specific_teacher1":{"main":[[{"node":"any_teacher1","type":"main","index":0}],[{"node":"name_interpreter1","type":"main","index":0}]]},"get_teachers_subject1":{"main":[[{"node":"join_subjects1","type":"main","index":0}]]},"join_subjects1":{"main":[[{"node":"cover_subject1","type":"main","index":0}]]},"cover_subject1":{"main":[[{"node":"decide_cover_subject1","type":"main","index":0}]]},"any_teacher1":{"main":[[{"node":"teachers_list1","type":"main","index":0}]]},"teachers_list1":{"main":[[{"node":"get_bookings_3","type":"main","index":0}]]},"teaches_classes1":{"main":[[{"node":"join_teaches_classes1","type":"main","index":0}]]},"join_teaches_classes1":{"main":[[{"node":"get_bookings_","type":"main","index":0}]]},"get_bookings_":{"main":[[{"node":"join_bookings_3","type":"main","index":0}]]},"get_bookings_3":{"main":[[{"node":"join_bookings_","type":"main","index":0}]]},"join_bookings_":{"main":[[{"node":"all_availability1","type":"main","index":0}]]},"teacher_availability1":{"main":[[{"node":"join_teacher_availability1","type":"main","index":0}]]},"join_teacher_availability1":{"main":[[{"node":"teaches_classes1","type":"main","index":0}]]},"all_availability1":{"main":[[{"node":"join_all_availability1","type":"main","index":0}]]},"teacher_was_found1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"profesor_no_encontrado1","type":"main","index":0}]]},"Think2":{"ai_tool":[[{"node":"name_interpreter1","type":"ai_tool","index":0}]]},"name_interpreter1":{"main":[[{"node":"teacher_was_found1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"get_teachers_subject1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"get_teachers1":{"ai_tool":[[{"node":"name_interpreter1","type":"ai_tool","index":0}]]},"decide_cover_subject1":{"main":[[{"node":"teacher_availability1","type":"main","index":0}],[{"node":"profesor_no_da_la_materia1","type":"main","index":0}]]},"important_data1":{"main":[[{"node":"specific_teacher1","type":"main","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"subject_interpreter1","type":"ai_languageModel","index":0}]]},"subject_interpreter1":{"main":[[{"node":"format_output3","type":"main","index":0}]]},"subject_found1":{"main":[[{"node":"get_id_subject1","type":"main","index":0}],[{"node":"materia_no_encontrada1","type":"main","index":0}]]},"Think3":{"ai_tool":[[{"node":"subject_interpreter1","type":"ai_tool","index":0}]]},"get_id_subject1":{"main":[[{"node":"fecha?1","type":"main","index":0}]]},"specific_date1":{"main":[[{"node":"subject_interpreter1","type":"main","index":0}],[{"node":"date_interpreter1","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"date_interpreter1","type":"ai_languageModel","index":0}]]},"date_interpreter1":{"main":[[{"node":"format_output2","type":"main","index":0}]]},"date_found1":{"main":[[{"node":"subject_interpreter1","type":"main","index":0}],[{"node":"fecha_no_encontrada1","type":"main","index":0}]]},"fecha?1":{"main":[[{"node":"important_data1","type":"main","index":0}]]},"format_output2":{"main":[[{"node":"date_found1","type":"main","index":0}]]},"format_output3":{"main":[[{"node":"subject_found1","type":"main","index":0}]]},"join_bookings_3":{"main":[[{"node":"get_feriados","type":"main","index":0}]]},"get_feriados":{"main":[[{"node":"join_feriados","type":"main","index":0}]]},"join_feriados":{"main":[[{"node":"get_clases_fijas","type":"main","index":0}]]},"join_all_availability1":{"main":[[{"node":"get_feriados_2","type":"main","index":0}]]},"get_feriados_2":{"main":[[{"node":"join_feriados_2","type":"main","index":0}]]},"join_feriados_2":{"main":[[{"node":"get_clases_fijas_2","type":"main","index":0}]]},"get_profesores":{"main":[[{"node":"join_profesores","type":"main","index":0}]]},"get_profesores2":{"main":[[{"node":"join_profesores2","type":"main","index":0}]]},"join_profesores":{"main":[[{"node":"get_bloqueos","type":"main","index":0}]]},"join_profesores2":{"main":[[{"node":"get_bloqueos_2","type":"main","index":0}]]},"get_bloqueos":{"main":[[{"node":"join_bloqueos","type":"main","index":0}]]},"join_bloqueos":{"main":[[{"node":"best_gap1","type":"main","index":0}]]},"get_bloqueos_2":{"main":[[{"node":"join_bloqueos_2","type":"main","index":0}]]},"join_bloqueos_2":{"main":[[{"node":"best_gaps1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"f5020965-ddef-4454-8aba-543756d15d78","activeVersionId":"f5020965-ddef-4454-8aba-543756d15d78","versionCounter":1021,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T01:57:58.883Z","createdAt":"2026-03-10T01:57:58.883Z","role":"workflow:owner","workflowId":"6eKRRIEBPx9qvhCr","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}