n8n_workflows/consult_active_classes.json
{"updatedAt":"2026-07-06T20:57:36.442Z","createdAt":"2026-03-15T17:08:39.360Z","id":"76mUzLPhTZOJkj3U","name":"consult_active_classes","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id_alumno\": 1\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,352]},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtramos asegurando que item.json exista para evitar errores de lectura\nconst clasesActivas = items.filter(item => \n  item.json && (item.json.id_estado_clase === 1)\n);\n\n// Si el nodo anterior envía un array vacío, un JSON vacío [{}], \n// o si ninguna clase cumple el filtro, retornamos el mensaje esperado.\nif (clasesActivas.length === 0) {\n  return [{\n    json: {\n      descripcion: \"El alumno no tiene clases agendadas\"\n    }\n  }];\n}\n\nreturn clasesActivas;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,352],"id":"24fd97a8-1d2a-482c-a30d-491501c04306","name":"get_only_active_classes"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RESERVAS(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_alumno","lookupValue":"={{ $json.id_alumno }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,352],"id":"3f1530c5-8336-413f-9398-d5f8c12501b9","name":"get_students_classes","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"get_students_classes","type":"main","index":0}]]},"get_students_classes":{"main":[[{"node":"get_only_active_classes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"972f2e4a-5572-4a33-8008-71231404c8fe","activeVersionId":null,"versionCounter":83,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-15T17:08:39.360Z","createdAt":"2026-03-15T17:08:39.360Z","role":"workflow:owner","workflowId":"76mUzLPhTZOJkj3U","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}