n8n_workflows/definir_nuevo_id_estado_clase.json
{"updatedAt":"2026-06-18T23:52:39.329Z","createdAt":"2026-03-10T15:13:48.984Z","id":"Xkff1GesBOZuI70z","name":"definir_nuevo_id_estado_clase","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"fecha_formato_ISO8601\": \"2026-02-19T15:38:56.253-03:00\"\n}"},"id":"52ed1c40-d7fe-4f1f-99e9-04bf2480cc3a","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-752,192]},{"parameters":{"assignments":{"assignments":[{"id":"bb10df5b-01bd-4f0e-950e-32ed48943dd7","name":"nuevo_id_estado_clase","value":3,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"77cbf06c-9866-4e85-a58d-3ce2adbd49ed","name":"CANCELADA - DEVOLVER DINERO"},{"parameters":{"assignments":{"assignments":[{"id":"509dece7-665a-457f-88bd-bfc8d489a58f","name":"nuevo_id_estado_clase","value":4,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,176],"id":"001a3da0-6eaf-4086-a389-33039143404c","name":"CANCELADA - DEVOLVER MITAD DINERO"},{"parameters":{"assignments":{"assignments":[{"id":"7f55303e-ebaf-42c8-ba7f-3093b3d2eabf","name":"nuevo_id_estado_clase","value":5,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,352],"id":"c6fa8841-6774-4165-a347-4671dccd1984","name":"CANCELADA - NO DEVOLVER DINERO"},{"parameters":{"assignments":{"assignments":[{"id":"a51262b7-5af0-4f6f-a6ea-8e26038c2759","name":"fecha_formato_ISO8601","value":"={{ $json.fecha_formato_ISO8601 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,192],"id":"6f52db42-e7aa-4685-861b-1e2882a5db3b","name":"formatted_data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now.plus(1, 'day') }}","operator":{"type":"dateTime","operation":"after"},"id":"d14d8abb-9f3a-4314-80e9-918948f02e8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"DEVOLVER DINERO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"45586a12-ea88-4598-add5-cc05bf9d9394","leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now.plus(2, 'hour') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MITAD DINERO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"385e830c-d43f-435a-a5d6-b5f41bff5743","leftValue":"= {{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NO DEVOLVER DINERO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-320,160],"id":"7acbc0d8-4b04-41a4-ab60-29296e7eb0c5","name":"switch"},{"parameters":{"assignments":{"assignments":[{"id":"3aba835a-c226-4224-ae93-dff6248db3aa","name":"tool_output","value":"Tool failed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,544],"id":"77a3363a-fdd9-48d0-8ee3-e82faf0581f5","name":"tool_failed"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"formatted_data","type":"main","index":0}]]},"formatted_data":{"main":[[]]},"switch":{"main":[[{"node":"CANCELADA - DEVOLVER DINERO","type":"main","index":0}],[{"node":"CANCELADA - DEVOLVER MITAD DINERO","type":"main","index":0}],[{"node":"CANCELADA - NO DEVOLVER DINERO","type":"main","index":0}],[{"node":"tool_failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"fb039a96-220e-4ee1-a5d5-81f10a64bee9","activeVersionId":null,"versionCounter":8,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T15:13:48.984Z","createdAt":"2026-03-10T15:13:48.984Z","role":"workflow:owner","workflowId":"Xkff1GesBOZuI70z","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}