n8n_workflows/delegate_to_human.json
{"updatedAt":"2026-06-21T16:12:09.293Z","createdAt":"2026-03-10T15:13:19.730Z","id":"kmje7bZmOCifvkVJ","name":"delegate_to_human","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 2\n}"},"id":"d90362a0-6439-4a18-acc1-450434e9e2a8","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-240,0]},{"parameters":{"assignments":{"assignments":[{"id":"83c52a7d-738f-4561-9d14-934bf864d07e","name":"success","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"ce31dfbe-a130-4a36-b51f-fb3a4929fea8","name":"success"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.account_id }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify([...new Set([...(Array.isArray($json.payload) ? $json.payload : []), \"humano\"])]) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[192,0],"id":"3e85f7a5-70ef-49d6-81ed-d68953bcb711","name":"turn_off_bott","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}},{"parameters":{"url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-32,0],"id":"a9c7f92c-2a2e-48f1-b934-22adc8763fa2","name":"get_current_labels","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"get_current_labels","type":"main","index":0}]]},"turn_off_bott":{"main":[[{"node":"success","type":"main","index":0}]]},"get_current_labels":{"main":[[{"node":"turn_off_bott","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"3619593f-ea5a-49b4-bd67-80cd03f2d92d","activeVersionId":"3619593f-ea5a-49b4-bd67-80cd03f2d92d","versionCounter":65,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T15:13:19.730Z","createdAt":"2026-03-10T15:13:19.730Z","role":"workflow:owner","workflowId":"kmje7bZmOCifvkVJ","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version 3619593f","description":""}}