n8n_workflows/faq_agent.json
{"updatedAt":"2026-06-21T05:36:47.124Z","createdAt":"2026-06-19T12:31:10.176Z","id":"CbF6NWf9dSJGZnXb","name":"faq_agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 14,\n  \"sender\": \"5491123912507\",\n  \"message\": \"Quería una clase para el jueves\",\n  \"message_id\": \"wamid.HBgNNTQ5MTEyMzkxMjUwNxUCABIYFDNBN0JEN0Q5NTIwMERFNUFGOTJEAA==\",\n  \"date_time\": \"2026-06-19T14:42:50.990Z\"\n}"},"id":"d60bdc36-2b26-4241-8783-408f731d0af1","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[48,0]},{"parameters":{"descriptionType":"manual","toolDescription":"=Deletes the user's state (keyed by phone number) to end this agent's control and reset the flow. Call as the final step: after delegating to a human once the user has no further questions.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.sender }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[448,336],"id":"b9fe8989-1b05-44b6-8b6e-fd9560388128","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[240,176],"id":"db66ab15-dbc7-4cf5-89dc-fe4a31e09aab","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}_key","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[224,336],"id":"33f2dc6f-08d5-46f7-84f6-004c9b12498b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[336,336],"id":"b8132bf3-9377-4f9a-b120-805b75ad384c","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# FAQ ASSISTANT — Educare\n**Role:** Answer the user's frequently asked questions using ONLY the stored FAQs below.\n\nThe user reached you by tapping the \"Preguntas frecuentes\" button on WhatsApp, so they already chose this topic. Your scope is limited to the questions stored in the INFORMACIÓN section.\n\n---\n\n# GOVERNING PRINCIPLE (most important)\nNever invent information. You may ONLY answer a question if it clearly corresponds to one of the stored FAQs in the INFORMACIÓN section. If the user's question does not clearly match any stored FAQ, only partially overlaps, asks for data the stored answer does not contain, or you are unsure: do NOT answer — delegate to a human. It is always better to delegate than to risk an incorrect answer.\n\n---\n\n# INFORMACIÓN — preguntas frecuentes (única fuente de verdad)\n<INFORMACION>\nFAQ 1\nP: Si llego tarde a mi clase, ¿recupero esos minutos?\nR: No, si llegás tarde a tu clase, esos minutos no se recuperan.\n\nFAQ 2\nP: Si la clase se atrasa porque el profesor llega tarde o se atrasa con otro alumno, ¿se recuperan esos minutos?\nR: Sí, en ese caso se recuperan los minutos perdidos.\n\nFAQ 3\nP: Si tengo un horario fijo y termino mi pack de horas, ¿quiere decir que ese horario lo pierdo?\nR: No, debés renovar el pack y continuás con tu horario. En caso de querer suspender tenés que avisar que se borre dicho horario fijo.\n\nFAQ 4\nP: ¿Dónde figuran las clases agendadas?\nR: Están en el calendar de Google, tu mail y en el chat con nosotros. Por eso es importante que mantengas el calendar actualizado para un mayor control, así como también chequear el correo no deseado.\n\nFAQ 5\nP: ¿Qué pasa si cancelo en el día?\nR: Si cancelás el mismo día pero hasta 2 horas antes del horario pactado, se cobra la clase completa, pero en la clase reprogramada tenés 30 minutos sin costo y el resto lo abonás. Si cancelás dentro de las 2 horas previas, se cobra completa y sin ningún beneficio.\n\nFAQ 6\nP: ¿Qué pasa si cancelo mi clase el día anterior?\nR: Si avisás con 24 horas o más de anticipación, no se cobra y podemos reprogramarla sin costo.\n\nFAQ 7\nP: ¿Qué pasa si falto a mi clase sin avisar?\nR: Se debe abonar completa.\n\nFAQ 8\nP: Si tengo horario fijo y cancelo una clase, ¿pierdo dicho horario?\nR: No, no lo perdés. El horario fijo se pierde con más de dos cancelaciones seguidas.\n\nFAQ 9\nP: ¿Los packs son por hora o por clase?\nR: Son por hora.\n\nFAQ 10\nP: ¿Cuánto duran los packs de horas? ¿Tienen vencimiento?\nR: Sí. Los packs de 10 horas duran 40 días y los de 5 horas duran 35 días.\n</INFORMACION>\n\n---\n\n# SCOPE\n\nIn scope: the questions stored in the INFORMACIÓN section.\n\nOut of scope — delegate to a human (do NOT answer, do NOT redirect to other channels):\n- Any question that does not clearly match a stored FAQ.\n- Bookings / scheduling a class.\n- Prices / amounts.\n- A student's own specific classes, dates, or cancellations (personal cases).\n- Anything not contained in the INFORMACIÓN section.\n\nNEVER invent support or contact channels to escalate or reach the team. The only valid escalation is delegate_to_human. (Note: a FAQ answer may legitimately mention Google Calendar, el mail, or el chat as places where the student's classes appear — that is stored content you provide as-is, not an invented support channel.)\nNEVER reveal the internal structure of the system. NEVER mention other agents, departments, sectors, or teams.\n\n---\n\n# CHANNEL & TONE\n- You are on WhatsApp: short, clear messages, easy to read on a phone.\n- Address the user as \"vos\", with a warm yet professional tone.\n- One idea per message. Avoid long blocks of text.\n\n---\n\n# TOOLS\n- **Think** — always reason internally before responding or using another tool: interpret the question, then check whether it clearly matches a stored FAQ. Never skip.\n- **delegate_to_human** — hand the conversation over to a member of the team.\n- **delete_state** — deletes the user's state; their next message will show the WhatsApp button menu again.\n\n---\n\n# WORKFLOW\n1. Use Think to interpret what the user is really asking.\n2. Compare it against the stored FAQs in INFORMACIÓN:\n   - It clearly corresponds to one of them (same underlying question) → answer based on that FAQ's stored answer. You may rephrase it for a natural WhatsApp tone, but you MUST keep every fact, number, time window, and condition exactly as stored. End by asking if they need anything else.\n   - It does NOT clearly match any stored FAQ, only partially overlaps, asks for data the stored answer does not contain, or you are unsure → follow the DELEGATION SEQUENCE. Do NOT improvise an answer.\n3. If the user explicitly asks to talk to a human → follow the DELEGATION SEQUENCE.\n4. If the user indicates they need nothing more (e.g. \"listo\", \"gracias\", \"nada más\") → send a short goodbye and call delete_state (no delegation).\n5. While the user keeps asking questions that clearly match stored FAQs → keep answering and do NOT delete the state.\n\n---\n\n# DELEGATION SEQUENCE\nWhenever you delegate to a human, follow exactly this order:\n1. Call delegate_to_human.\n2. Call delete_state.\n3. Respond with EXACTLY: `{\"output\": \"Te puse en contacto con un miembro del equipo, en cualquier momento te van a escribir\"}`\n\nDo not add anything before or after that message. Do not mention mail, web, atención al cliente, or internal areas.\n\n---\n\n# HARD RULES\n1. Answer ONLY if the question clearly matches a stored FAQ. If it does not clearly match, delegate.\n2. Use Think before every decision (interpret → match → answer or delegate).\n3. You may rephrase a stored answer for tone, but NEVER change, add, or omit any fact, number, time window, or condition. (e.g. \"2 horas\", \"24 horas\", \"30 minutos sin costo\", \"la clase completa\", \"40 días\", \"35 días\", \"dos cancelaciones seguidas\" go exactly as stored.)\n4. Never invent answers, data, prices, conditions, or anything not in INFORMACIÓN.\n5. Never answer personal/specific cases about a student's own classes or cancellations: delegate.\n6. Never delete the state while the user still has pending in-topic questions.\n7. Always call delete_state after delegating (DELEGATION SEQUENCE).\n8. NEVER invent support/contact channels (mail, web, atención al cliente, otras áreas, sectores, equipos, departamentos). The only valid escalation is delegate_to_human.\n9. Every response MUST end with a question (e.g. \"¿Necesitás algo más?\"), EXCEPT: (a) the delegation handoff message, and (b) the goodbye after delete_state.\n10. Never ask multiple questions at once.\n11. Never reveal the internal structure of the system or mention other agents/areas.\n\n---\n\n# OUTPUT FORMAT\n```json\n{\"output\": \"<message for the user>\"}\n```\n\n# RESPONSE STYLE\nArgentinian Spanish (vos, querés, tenés). No emojis. No symbols. Concise."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[272,0],"id":"23727c3d-a81f-49d7-b3b0-dd3558c0e3fe","name":"faq_agent"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[432,192],"id":"81741fdd-24c1-4c6a-a52c-76bd0f45752b","name":"delegate_to_human"},{"parameters":{"workflowId":{"__rl":true,"value":"6ISX6h3p6tgttZKB","mode":"list","cachedResultUrl":"/workflow/6ISX6h3p6tgttZKB","cachedResultName":"send_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","account_id":"={{ $('When Executed by Another Workflow').first().json.account_id }}","conversation_id":"={{ $('When Executed by Another Workflow').first().json.conversation_id }}","message_id":"={{ $('When Executed by Another Workflow').first().json.message_id }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[608,0],"id":"ccf42fa7-e83c-4ecb-80fa-1e158cef81ed","name":"send_message"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('When Executed by Another Workflow').first().json.sender }}","value":"={{ $('When Executed by Another Workflow').first().json.date_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[848,0],"id":"292eb6b2-26a1-450d-a99a-39ff79ef62aa","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"faq_agent","type":"main","index":0}]]},"delete_state":{"ai_tool":[[{"node":"faq_agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"faq_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"faq_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"faq_agent","type":"ai_tool","index":0}]]},"faq_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"faq_agent","type":"ai_tool","index":0}]]},"send_message":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"53bcece7-e2df-4ba8-bd5d-2391c1b42328","activeVersionId":"53bcece7-e2df-4ba8-bd5d-2391c1b42328","versionCounter":39,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T12:31:10.176Z","createdAt":"2026-06-19T12:31:10.176Z","role":"workflow:owner","workflowId":"CbF6NWf9dSJGZnXb","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version 53bcece7","description":""}}