n8n_workflows/get_form_data_encrypted.json
{"updatedAt":"2026-06-23T13:33:11.171Z","createdAt":"2026-04-10T23:05:07.536Z","id":"yJogVTpbycfRJZUN","name":"get_form_data_encrypted","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const crypto = require('crypto');\nconst { Buffer } = require('buffer');\nconst raw = $input.first().json;\nconst body = raw.body ?? raw;\n\nif (!body.encrypted_flow_data) {\n  return [{\n    json: {\n      decryptionFailed: false,\n      _encrypted: false,\n      _aesKey: null,\n      _iv: null,\n      action: body.action ?? 'data_exchange',\n      screen: body.screen ?? '',\n      flow_token: '',\n      data: body.data ?? body\n    }\n  }];\n}\n\ntry {\n  const { encrypted_flow_data, encrypted_aes_key, initial_vector } = body;\n  const privateKeyPem = Buffer.from($env.WHATSAPP_FLOW_PRIVATE_KEY_ACCOUNT1, 'base64').toString('utf8');\n\n  const decryptedAesKey = crypto.privateDecrypt(\n    {\n      key: crypto.createPrivateKey(privateKeyPem),\n      padding: crypto.constants.RSA_PKCS1_OAEP_PADDING,\n      oaepHash: 'sha256'\n    },\n    Buffer.from(encrypted_aes_key, 'base64')\n  );\n\n  const TAG_LENGTH = 16;\n  const encryptedDataBuffer = Buffer.from(encrypted_flow_data, 'base64');\n  const ivBuffer = Buffer.from(initial_vector, 'base64');\n  const encryptedBody = encryptedDataBuffer.slice(0, -TAG_LENGTH);\n  const authTag = encryptedDataBuffer.slice(-TAG_LENGTH);\n\n  const decipher = crypto.createDecipheriv('aes-128-gcm', decryptedAesKey, ivBuffer);\n  decipher.setAuthTag(authTag);\n  const decrypted = Buffer.concat([decipher.update(encryptedBody), decipher.final()]);\n  const flowData = JSON.parse(decrypted.toString('utf-8'));\n\n  if (flowData.action === 'ping') {\n    return [{\n      json: {\n        decryptionFailed: false,\n        _encrypted: true,\n        _aesKey: decryptedAesKey.toString('base64'),\n        _iv: initial_vector,\n        action: 'ping',\n        screen: '',\n        flow_token: flowData.flow_token ?? '',\n        data: {}\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      decryptionFailed: false,\n      _encrypted: true,\n      _aesKey: decryptedAesKey.toString('base64'),\n      _iv: initial_vector,\n      action: flowData.action,\n      screen: flowData.screen,\n      flow_token: flowData.flow_token ?? '',\n      data: flowData.data\n    }\n  }];\n\n} catch (err) {\n  const errorMessage = err instanceof Error ? err.message : String(err);\n  return [{\n    json: {\n      decryptionFailed: true,\n      error: errorMessage\n    }\n  }];\n}"},"id":"071fc296-a108-4cf0-bc0e-0a4106c1d38e","name":"decrypt_request","type":"n8n-nodes-base.code","typeVersion":2,"position":[112,576]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-decrypt","leftValue":"={{ $json.decryptionFailed }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"96f02bff-8863-4054-a0f3-60482430fe86","name":"is_decrypt_ok","type":"n8n-nodes-base.if","typeVersion":2,"position":[336,576]},{"parameters":{"respondWith":"text","responseBody":"Decryption failed","options":{"responseCode":421}},"id":"4c9e68a9-aa81-45bc-ac53-7c92ab1d4be6","name":"Responder 421","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[560,672]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst { Buffer } = require('buffer');\nconst { _aesKey, _iv, _encrypted, error } = $input.first().json;\nconst response = {\n  error: {\n    error_msg: error || 'Validation error',\n    error_code: 'VALIDATION_ERROR'\n  }\n};\n\nif (!_encrypted) {\n  return [{ json: { responseBody: JSON.stringify(response) } }];\n}\n\nconst aesKeyBuffer = Buffer.from(_aesKey, 'base64');\nconst ivBuffer = Buffer.from(_iv, 'base64');\nconst flippedIv = ivBuffer.map(b => ~b & 0xff);\n\nconst cipher = crypto.createCipheriv('aes-128-gcm', aesKeyBuffer, Buffer.from(flippedIv));\nconst encrypted = Buffer.concat([\n  cipher.update(JSON.stringify(response), 'utf-8'),\n  cipher.final(),\n  cipher.getAuthTag()\n]);\n\nreturn [{ json: { responseBody: encrypted.toString('base64') } }];"},"id":"f423ed15-542b-4999-9fe0-a58aec3fa4ad","name":"encrypt_error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,592]},{"parameters":{"path":"educare-flow","responseMode":"responseNode","options":{}},"id":"02c2058f-98cc-4e79-afb4-84e49574b7d0","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-112,736],"webhookId":"educare-flow-webhook"},{"parameters":{"httpMethod":"POST","path":"educare-flow","responseMode":"responseNode","options":{}},"id":"ca404401-038c-45ac-9591-1cbf3db3ba41","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-112,576],"webhookId":"educare-flow-webhook"},{"parameters":{"options":{"responseCode":200}},"id":"37c64ebd-98a3-4746-8092-78545e5cfdbc","name":"success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[112,736]},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst body = raw.data ?? raw;\nconst _aesKey = raw._aesKey;\nconst _iv = raw._iv;\nconst _encrypted = raw._encrypted;\nconst telefono_principal = raw.flow_token ?? '';\n\nconst REQUERIDOS = [\n  'nombre_alumno',\n  'apellido_alumno',\n  'telefono_alternativo',\n  'correo_alumno',\n  'escuela',\n  'nivel_educativo',\n  'tutor',\n  'tiene_cud',\n  'realiza_tratamiento'\n  ];\n\nconst faltantes = REQUERIDOS.filter(campo => !body[campo]);\nif (faltantes.length > 0) {\n  return [{\n    json: {\n    exito: false,\n    error: `Campos requeridos faltantes: ${faltantes.join(', ')}`,\n    _aesKey, _iv, _encrypted,\n    datos: body\n    }\n  }];\n}\n\n  if (body.tiene_cud === 'si' && !body.condicion_alumno) {\n    return [{\n      json: {\n        exito: false,\n        error: 'Se indicó CUD pero falta el diagnóstico o condición del alumno',\n        _aesKey, _iv, _encrypted\n      }\n    }];\n  }\n\nconst tipos = Array.isArray(body.tipos_tratamiento) ? body.tipos_tratamiento : [];\n\nreturn [{\n  json: {\n    exito: true,\n    _aesKey, _iv, _encrypted, telefono_principal,\n    nombre_alumno: body.nombre_alumno,\n    apellido_alumno: body.apellido_alumno,\n    telefono_alternativo: body.telefono_alternativo,\n    correo_alumno: body.correo_alumno,\n    escuela: body.escuela,\n    nivel_educativo: body.nivel_educativo,\n    tutor: body.tutor,\n    tiene_cud: body.tiene_cud === 'si',\n    condicion_alumno: body.condicion_alumno || '',\n    realiza_tratamiento: body.realiza_tratamiento === 'si',\n    psicopedagoga: tipos.includes('psicopedagoga'),\n    fono: tipos.includes('fono'),\n    psicologo: tipos.includes('psicologo'),\n    teo: tipos.includes('teo')\n  }\n}];"},"id":"857ff205-589b-491c-8dcd-9133db6b3829","name":"get_data","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,496]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.responseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"91c34772-75a1-4e3a-97b3-8c25e4843fc3","name":"Responder CONFIRMACION","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1440,400]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.responseBody }}","options":{"responseCode":500,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"e4fd68ca-0b15-4200-9eb4-bc4cb3a883d6","name":"Responder ERROR","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1440,592]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"db_alumnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"columns":{"mappingMode":"defineBelow","value":{"nombre_alumno":"={{ $('get_data').first().json.nombre_alumno }}","teo":"={{ $('get_data').first().json.teo }}","psicologo":"={{ $('get_data').first().json.psicologo }}","fono":"={{ $('get_data').first().json.fono }}","psicopedagoga":"={{ $('get_data').first().json.psicopedagoga }}","condicion_alumno":"={{ $('get_data').first().json.condicion_alumno }}","CUD":"={{ $('get_data').first().json.tiene_cud }}","madre/padre/tutor":"={{ $('get_data').first().json.tutor }}","nivel_educativo":"={{ $('get_data').first().json.nivel_educativo }}","escuela/colegio/universidad":"={{ $('get_data').first().json.escuela }}","correo_alumno":"={{ $('get_data').first().json.correo_alumno }}","telefono_alternativo":"={{ $('get_data').first().json.telefono_alternativo }}","telefono_principal":"={{ $('get_data').first().json.telefono_principal }}","apellido_alumno":"={{ $('get_data').first().json.apellido_alumno }}","row_number":0},"matchingColumns":["telefono_principal"],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_alumno","displayName":"nombre_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apellido_alumno","displayName":"apellido_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono_principal","displayName":"telefono_principal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono_alternativo","displayName":"telefono_alternativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"correo_alumno","displayName":"correo_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"escuela/colegio/universidad","displayName":"escuela/colegio/universidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nivel_educativo","displayName":"nivel_educativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"madre/padre/tutor","displayName":"madre/padre/tutor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUD","displayName":"CUD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"condicion_alumno","displayName":"condicion_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"psicopedagoga","displayName":"psicopedagoga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"psicopedagoga_nombre","displayName":"psicopedagoga_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicopedagoga_telefono_contacto","displayName":"psicopedagoga_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fono","displayName":"fono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fono_nombre","displayName":"fono_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fono_telefono_contacto","displayName":"fono_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicologo","displayName":"psicologo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"psicologo_nombre","displayName":"psicologo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicologo_telefono_contacto","displayName":"psicologo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"teo","displayName":"teo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"teo_nombre","displayName":"teo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"teo_telefono_contacto","displayName":"teo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1664,400],"id":"70e17fa6-1190-48c9-9109-5580df4dac7e","name":"update_student","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cc9d6dc7-9681-4d73-9746-a26bf5ca7071","leftValue":"={{ $json.action }}","rightValue":"ping","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[560,480],"id":"1325777e-9637-4d4f-824f-a36b288f4b2e","name":"is_ping"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-exito","leftValue":"={{ $json.exito }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"eac36a4e-93cd-4bd0-b88f-c96381814579","name":"is_data_valid","type":"n8n-nodes-base.if","typeVersion":2,"position":[976,496]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst { Buffer } = require('buffer');\nconst { _aesKey, _iv, _encrypted } = $input.first().json;\nconst response = {\n  \"version\": \"3.0\",\n  \"screen\": \"SUCCESS\",\n  \"data\": {}\n};\n\nif (!_encrypted) {\n  return [{ json: { responseBody: JSON.stringify(response) } }];\n}\n\nconst aesKeyBuffer = Buffer.from(_aesKey, 'base64');\nconst ivBuffer = Buffer.from(_iv, 'base64');\nconst flippedIv = ivBuffer.map(b => ~b & 0xff);\n\nconst cipher = crypto.createCipheriv('aes-128-gcm', aesKeyBuffer, Buffer.from(flippedIv));\nconst encrypted = Buffer.concat([\n  cipher.update(JSON.stringify(response), 'utf-8'),\n  cipher.final(),\n  cipher.getAuthTag()\n]);\n\nreturn [{ json: { responseBody: encrypted.toString('base64') } }];"},"id":"c5dcfc16-312f-4347-a57f-80f575312d64","name":"encrypt_ok","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,400]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst { Buffer } = require('buffer');\nconst { _aesKey, _iv, _encrypted, action } = $input.first().json;\n\nconst response = action === 'ping'\n  ? { version: '3.0', data: { status: 'active' } }\n  : { version: '3.0', screen: 'SUCCESS', data: {} };\n\nif (!_encrypted) {\n  return [{ json: { responseBody: JSON.stringify(response) } }];\n}\n\nconst aesKeyBuffer = Buffer.from(_aesKey, 'base64');\nconst ivBuffer = Buffer.from(_iv, 'base64');\nconst flippedIv = ivBuffer.map(b => ~b & 0xff);\n\nconst cipher = crypto.createCipheriv('aes-128-gcm', aesKeyBuffer, Buffer.from(flippedIv));\nconst encrypted = Buffer.concat([\n  cipher.update(JSON.stringify(response), 'utf-8'),\n  cipher.final(),\n  cipher.getAuthTag()\n]);\n\nreturn [{ json: { responseBody: encrypted.toString('base64') } }];"},"id":"a1c0c97a-8c96-466b-b909-694f3310eecc","name":"encrypt_ok1","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,304]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.responseBody }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"13da58da-7ebe-48f5-a93d-ce69d9452cd0","name":"Responder CONFIRMACION1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[976,304]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/whatsapp_business_encryption","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"business_public_key","value":"=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuZiTVHaPRE1lB4zhtu5T\nDbf8gtwJ3lpboG4Q5vE3bNxehusnS/A8bQccMvC4/C5QHCjLjDJYzX7BelYMZNJS\nPSdicJ4v4zWyIxSKd8RS9I2DZEiyFXUsGo+NYJWqRbEsNcWmt3QM+XnyVF4g22IT\nS/rZLNiwcH4NTLZr8CYip+BnEpfE6gXT0SUMwimqU+7QBU7UFaK/hIx2aLi3CZQ1\nogmWtmETy8p5GfJgGNDvo9oAq8N/nXebK1KsSxNFko7kPq4y5OH/k+AK4ko3HDJi\nIYUK6psYgq1v4E6xEPmE8+gxZlPOU0cS4BTwUDO460G5KmVZYBK9+fK081B0vg6J\newIDAQAB\n-----END PUBLIC KEY-----"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[272,1040],"id":"86288245-d72d-43c8-9471-36738a64d2cb","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,1040],"id":"6d0af8a7-1c2f-4c5f-bb9a-dde2d1061971","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Registrar aPubKey","height":112,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,1040],"id":"ffd21c35-95b0-44ad-98d5-7934cd8384a5","name":"Sticky Note"}],"connections":{"decrypt_request":{"main":[[{"node":"is_decrypt_ok","type":"main","index":0}]]},"is_decrypt_ok":{"main":[[{"node":"is_ping","type":"main","index":0}],[{"node":"Responder 421","type":"main","index":0}]]},"encrypt_error":{"main":[[{"node":"Responder ERROR","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"success","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"decrypt_request","type":"main","index":0}]]},"get_data":{"main":[[{"node":"is_data_valid","type":"main","index":0}]]},"Responder CONFIRMACION":{"main":[[{"node":"update_student","type":"main","index":0}]]},"is_ping":{"main":[[{"node":"encrypt_ok1","type":"main","index":0}],[{"node":"get_data","type":"main","index":0}]]},"is_data_valid":{"main":[[{"node":"encrypt_ok","type":"main","index":0}],[{"node":"encrypt_error","type":"main","index":0}]]},"encrypt_ok":{"main":[[{"node":"Responder CONFIRMACION","type":"main","index":0}]]},"encrypt_ok1":{"main":[[{"node":"Responder CONFIRMACION1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"8a03fde9-ed1c-4ee5-a0c8-19c1a7179a01","activeVersionId":"8a03fde9-ed1c-4ee5-a0c8-19c1a7179a01","versionCounter":278,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-04-10T23:05:07.536Z","createdAt":"2026-04-10T23:05:07.536Z","role":"workflow:owner","workflowId":"yJogVTpbycfRJZUN","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version 8a03fde9","description":""}}