n8n_workflows/get_new_state.json
{"updatedAt":"2026-07-06T20:57:36.442Z","createdAt":"2026-04-17T20:54:10.510Z","id":"Dnu3Ee62Ov27fck0","name":"get_new_state","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"fecha_formato_ISO8601\": \"<fecha_hora_inicio ORIGINAL de la clase en ISO 8601>\"\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,288]},{"parameters":{"assignments":{"assignments":[{"id":"e1c13ae2-9bcd-4843-9611-8a3830025f36","name":"seccess","value":"=true","type":"boolean"},{"id":"c278fbb2-3db3-45e6-85fe-4d166b38a3dc","name":"nuevo_id_estado_clase","value":"={{ $json.nuevo_id_estado_clase }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,208],"id":"ca2cdf23-d7a1-4948-a1df-53bd0475be7b","name":"relevant_data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now.plus(1, 'day') }}","operator":{"type":"dateTime","operation":"after"},"id":"d14d8abb-9f3a-4314-80e9-918948f02e8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELADA - DEVOLVER 100%"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"45586a12-ea88-4598-add5-cc05bf9d9394","leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now.plus(2, 'hour') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELADA - DEVOLVER MEDIA HORA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"385e830c-d43f-435a-a5d6-b5f41bff5743","leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELADA - REPROGRAMAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"37c437b7-db43-4a38-bbc0-6b627abbc25c","leftValue":"={{ $json.fecha_formato_ISO8601 }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CLASE PASADA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[368,256],"id":"2147a260-4b01-4a30-a6b2-f9e46620e1c7","name":"switch"},{"parameters":{"assignments":{"assignments":[{"id":"286f8148-40f9-4b8c-964f-3b7e91a21044","name":"fecha_formato_ISO8601","value":"={{ $json.fecha_formato_ISO8601 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,288],"id":"68042c0a-d9a6-4338-8e60-ac1f78baef5d","name":"set_data"},{"parameters":{"assignments":{"assignments":[{"id":"3aba835a-c226-4224-ae93-dff6248db3aa","name":"seccess","value":false,"type":"boolean"},{"id":"d7446376-f1b0-444d-9138-5c052e6b6795","name":"motivo","value":"La clase es del pasado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,592],"id":"6387d0c9-88fd-42df-a512-661c3e5ef489","name":"class_of_the_past"},{"parameters":{"assignments":{"assignments":[{"id":"bb10df5b-01bd-4f0e-950e-32ed48943dd7","name":"nuevo_id_estado_clase","value":3,"type":"number"},{"id":"fc1b9c3a-7d54-4275-be68-63aa07609e29","name":"percentage","value":"100%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,16],"id":"d648b25f-36c0-4db9-8756-f60c4376962b","name":"CANCELADA - DEVOLVER 100%"},{"parameters":{"assignments":{"assignments":[{"id":"509dece7-665a-457f-88bd-bfc8d489a58f","name":"nuevo_id_estado_clase","value":4,"type":"number"},{"id":"9b44c32d-a290-4965-9258-9559315faaa4","name":"percentage","value":"50%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,208],"id":"6d860003-cc6d-48e9-91ad-bd4380cd6367","name":"CANCELADA - DEVOLVER MEDIA HORA"},{"parameters":{"assignments":{"assignments":[{"id":"7f55303e-ebaf-42c8-ba7f-3093b3d2eabf","name":"nuevo_id_estado_clase","value":5,"type":"number"},{"id":"ab93a19b-ede1-4cf2-a507-d4746655185f","name":"percentage","value":"0%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,400],"id":"b406e207-2dea-4631-9b67-cf8b5489f887","name":"CANCELADA - REPROGRAMAR"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_data","type":"main","index":0}]]},"switch":{"main":[[{"node":"CANCELADA - DEVOLVER 100%","type":"main","index":0}],[{"node":"CANCELADA - DEVOLVER MEDIA HORA","type":"main","index":0}],[{"node":"CANCELADA - REPROGRAMAR","type":"main","index":0}],[{"node":"class_of_the_past","type":"main","index":0}]]},"set_data":{"main":[[{"node":"switch","type":"main","index":0}]]},"CANCELADA - DEVOLVER 100%":{"main":[[{"node":"relevant_data","type":"main","index":0}]]},"CANCELADA - DEVOLVER MEDIA HORA":{"main":[[{"node":"relevant_data","type":"main","index":0}]]},"CANCELADA - REPROGRAMAR":{"main":[[{"node":"relevant_data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"505305f4-3bd4-4a4c-9d5a-e07aff17141b","activeVersionId":null,"versionCounter":68,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-04-17T20:54:10.510Z","createdAt":"2026-04-17T20:54:10.510Z","role":"workflow:owner","workflowId":"Dnu3Ee62Ov27fck0","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}