n8n_workflows/langChain.json
{"updatedAt":"2026-03-13T23:12:42.208Z","createdAt":"2026-03-13T03:49:48.891Z","id":"OqSqp1rbrBvmkImi","name":"langChain","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"code":{"execute":{"code":"const { ChatOpenAI } = require('@langchain/openai');\nconst { HumanMessage, SystemMessage } = require('@langchain/core/messages');\nconst { DynamicTool } = require('@langchain/core/tools');\nconst { AgentExecutor, createOpenAIFunctionsAgent } = require('langchain/agents');\nconst { ChatPromptTemplate, MessagesPlaceholder } = require('@langchain/core/prompts');\n\nconst llm = new ChatOpenAI({\n  apiKey: $env.OPENAI_API_KEY,\n  modelName: 'gpt-4o-mini',\n  temperature: 0.1,\n});\n\n// Herramientas que el agente puede decidir usar\nconst tools = [\n  new DynamicTool({\n    name: 'buscar_precio_producto',\n    description: `Busca el precio de un producto por SKU.\n      Input: SKU del producto (ej: SKU-001).\n      Output: nombre y precio en pesos.`,\n    func: async (sku) => {\n      const precios = {\n        'SKU-001': { nombre: 'Notebook Dell', precio: 850000 },\n        'SKU-002': { nombre: 'Monitor LG 24\"', precio: 320000 },\n        'SKU-003': { nombre: 'Teclado Logitech', precio: 95000 }\n      };\n      const producto = precios[sku.trim().toUpperCase()];\n      return producto\n        ? `Producto: ${producto.nombre} | Precio: $${producto.precio.toLocaleString('es-AR')}`\n        : `Producto con SKU ${sku} no encontrado`;\n    }\n  }),\n\n  new DynamicTool({\n    name: 'calcular_descuento',\n    description: `Calcula el precio final con descuento.\n      Input: JSON string con formato {\"precio\": NUMBER, \"descuento_pct\": NUMBER}.\n      Output: precio final calculado.`,\n    func: async (inputStr) => {\n      try {\n        const { precio, descuento_pct } = JSON.parse(inputStr);\n        const precioFinal = precio - (precio * descuento_pct / 100);\n        return `Precio original: $${precio} | Descuento: ${descuento_pct}% | Precio final: $${precioFinal}`;\n      } catch {\n        return 'Error: el input debe ser JSON con precio y descuento_pct';\n      }\n    }\n  })\n];\n\n// createOpenAIFunctionsAgent es más estable que createReactAgent en n8n\n// Requiere MessagesPlaceholder('agent_scratchpad') — es donde el agente\n// escribe su razonamiento interno entre pasos\nconst prompt = ChatPromptTemplate.fromMessages([\n  new SystemMessage(`Sos un asistente de ventas de TechStore.\nTenés herramientas para buscar precios y calcular descuentos.\nUsá las herramientas cuando el cliente pregunte por productos o precios.`),\n  new MessagesPlaceholder('chat_history'),\n  ['human', '{input}'],\n  new MessagesPlaceholder('agent_scratchpad')\n]);\n\nconst agente = await createOpenAIFunctionsAgent({ llm, tools, prompt });\n\nconst executor = new AgentExecutor({\n  agent: agente,\n  tools: tools,\n  maxIterations: 5,\n  returnIntermediateSteps: true\n});\n\nconst items = $input.all();\n\nconst resultados = await Promise.all(\n  items.map(async (item) => {\n\n    const resultado = await executor.invoke({\n      input: item.json.chatInput,\n      chat_history: []  // podés pasar historial previo acá si tenés memoria\n    });\n\n    return {\n      json: {\n        sessionId: item.json.sessionId,\n        chatInput: item.json.chatInput,\n        respuesta: resultado.output,\n        // pasos muestra exactamente qué herramienta usó el agente y por qué\n        pasos: resultado.intermediateSteps.map(s => ({\n          tool_usada: s.action.tool,\n          input_enviado: s.action.toolInput,\n          resultado_recibido: s.observation\n        })),\n        procesado_en: new Date().toISOString()\n      }\n    };\n  })\n);\n\nreturn resultados;"}},"inputs":{"input":[{"type":"main"},{"type":"ai_languageModel"}]},"outputs":{"output":[{"type":"main"}]}},"type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[-416,-48],"id":"22d81332-218d-4ebb-985b-0c6155c4cceb","name":"LangChain Code"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-272,160],"id":"f850bf65-9e12-4fcf-b884-619eaa0e8910","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-640,-48],"id":"1e27ea54-bf02-4fa1-ac7b-7f4ec98b861b","name":"When chat message received","webhookId":"6ad685fe-02bb-4efc-a300-0d5dd695a0dc"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"LangChain Code","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"LangChain Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"7beb2709-58b9-47e2-b35c-54ed948971c8","activeVersionId":null,"versionCounter":62,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-13T03:49:48.891Z","createdAt":"2026-03-13T03:49:48.891Z","role":"workflow:owner","workflowId":"OqSqp1rbrBvmkImi","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}