n8n_workflows/main.json
{"updatedAt":"2026-07-06T22:07:52.872Z","createdAt":"2026-03-15T17:32:06.249Z","id":"YSjoWE39sgBRhE1H","name":"main","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2032,976],"id":"c3a0ef8c-1a28-4238-a5f3-c7cb35faa807","name":"check_status","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"03202e5a-b22d-444e-89b4-cb73110c2e33","leftValue":"={{ $json.id_alumno }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3344,992],"id":"b6f64024-64b6-4764-9e7d-988bdf536a96","name":"student_is_registred"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"ALUMNOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"filtersUI":{"values":[{"lookupColumn":"telefono_principal","lookupValue":"={{ $('set_data').first().json.sender }}"},{"lookupColumn":"telefono_alternativo","lookupValue":"={{ $('set_data').first().json.sender }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3536,992],"id":"1609e963-baae-44a2-8d0a-b1bc4c93ffa8","name":"verify_student","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4928,1072],"id":"163247af-a718-4787-b619-ce267579b17a","name":"do_nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4144,832],"id":"d48d25f5-01e6-46b8-9704-b4fa09706ead","name":"different_message"},{"parameters":{"assignments":{"assignments":[{"id":"daa3efb8-9334-4735-addf-d5fd98002170","name":"final_message","value":"={{ $json.final_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5744,960],"id":"40604893-de14-4279-89c0-8eec1819f86c","name":"txt_message"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=text_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7504,816],"id":"2e938311-c2d2-4a40-9305-342b207908b3","name":"is_message"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=voice_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7504,640],"id":"33d2884a-888b-4d4c-9e61-0fc464e18dec","name":"is_audio"},{"parameters":{"assignments":{"assignments":[{"id":"13684b52-17ec-4292-b622-f3fc8a57e2ac","name":"content_type","value":"={{ $json.message_type }}","type":"string"},{"id":"c306dbda-b821-479e-a013-72179cb9e47c","name":"data_time","value":"={{ $('Webhook').first().json.body.created_at }}","type":"string"},{"id":"c83e2009-c6f3-4f09-a810-216af9b588e4","name":"account_id","value":"={{ $('Webhook').first().json.body.account.id }}","type":"number"},{"id":"8cd5d12d-8dac-4220-a3bd-1197859ce2ad","name":"conversation_id","value":"={{ $('Webhook').first().json.body.conversation.id }}","type":"number"},{"id":"36ffbdb8-5ee6-4f76-9b80-e084992e5bfb","name":"sender","value":"={{ $('Webhook').first().json.body.conversation.meta.sender.phone_number.replace(/^\\+/, '') }}","type":"string"},{"id":"966336a8-5cfe-48de-b495-f2e7e8720b1b","name":"message_id","value":"={{ $('Webhook').first().json.body.source_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7280,816],"id":"b6206bec-46b7-4e66-8e0f-f14449dc5701","name":"set_data"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('set_data').first().json.sender }}_key","message":"={{ {\n  \"type\": \"ai\",\n  \"content\": $('join_messages').first().json.concat_message,\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n} }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3552,784],"id":"4d7c66ce-dd02-43da-a7c3-e3698b95f4ce","name":"insert_user_message_in_history","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4688,752],"id":"99ef448b-04f1-4c79-a8a1-751eddd8d110","name":"teacher_so_dont_answer"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('set_data').first().json.sender }}_key","message":"={{ {\n  \"type\": \"ai\",\n  \"content\": $('txt_message').first().json.final_message,\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n} }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5296,1072],"id":"da38c44b-faff-4d04-a148-6305cf796d18","name":"insert_our_message_in_history","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"contains"},"id":"0bc273e3-5ad3-40f6-ad62-5496d877b410"}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"94598980-9d81-4729-bcd4-5d3040fb7332","leftValue":"={{ $('Webhook').item.json.body.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-5552,960],"id":"1ca160fb-ab70-46fa-a894-2f1af5f06330","name":"is_inboundMessage"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-8704,992],"id":"117ede38-b380-4286-88cf-b145cd3d0669","name":"Error Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7504,992],"id":"ee6b7285-7cc2-460d-8481-f219c4f84fce","name":"neither_audio_nor_message"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').first().json.body.conversation.messages[0].attachments[0].data_url }}","rightValue":"audio","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e5351974-02cb-4772-8fc0-1ed77dbf8e92"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edcb1dfc-961b-45ec-ab24-306ae036c33f","leftValue":"={{ $('Webhook').first().json.body.content_type }}","rightValue":"text","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-7728,800],"id":"632f6155-dd41-4116-8bdf-43232d16bc10","name":"is_message_or_audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa4e974f-8f40-48a8-9919-d312647ace52","leftValue":"={{ $('Webhook').first().json.body.conversation.labels[0] }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3760,976],"id":"3d03ee4f-a4c5-41ac-9d7b-b7371d5c304a","name":"human_should_respond"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4352,1216],"id":"4c078026-8373-4424-a9de-64d2876d3737","name":"wait","webhookId":"d74e3db8-864a-48cb-9aa9-3968cd7f63a9"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).message_id }}","rightValue":"={{ $('set_data').first().json.message_id }}","operator":{"type":"string","operation":"notEquals"},"id":"ea522f43-53f8-498e-bc9d-44e8db0fa25f"}],"combinator":"and"},"renameOutput":true,"outputKey":"=Ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e2d70099-8aca-4c6e-b5b3-52612b49e5e9","leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus(15, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"looseTypeValidation":"={{ false }}","options":{"fallbackOutput":"extra","renameFallbackOutput":"wait"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4336,960],"id":"43221b16-cd11-4b71-8fec-262b13a3894b","name":"switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a3f2aba0-2f33-4b05-972b-e927255eacac","leftValue":"={{ $('set_data').first().json.content_type }}","rightValue":"=text_message","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6512,896],"id":"dd6e5b2e-429e-420d-a354-5b4e738b74a2","name":"is_a_text_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d746567-d382-42b6-8f67-65568246172d","leftValue":"={{ $json.telefono_profesor }}","rightValue":"={{ $('set_data').first().json.sender }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4928,896],"id":"fdb23e6f-f42d-41d5-9f51-7ade5e51cfbf","name":"is_teacher"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"telefono_profesor"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5104,896],"id":"d2846863-db3d-4a02-acc5-0a18a59016bf","name":"join_teachers_data"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5296,896],"id":"b511d7b5-15d1-47b8-859e-584186cce55e","name":"get_teachers_data","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3136,784],"id":"0b49da5c-95a6-4f1f-9c81-a4a0b110ea97","name":"message_to_human"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-6160,1040],"id":"7fedaf41-23d3-43cf-b346-46c86194f8ab","name":"transcribe_the_audio","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-6336,1040],"id":"90525d7c-647f-4e5a-b77b-f2f7aa20bf18","name":"download_audio"},{"parameters":{"httpMethod":"POST","path":"educare","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-8704,816],"id":"727ca51a-4bd2-48d9-a2cc-18fdec025a7e","name":"Webhook","webhookId":"80f355a9-095f-4aec-97a1-11a56765bbf9"},{"parameters":{"assignments":{"assignments":[{"id":"398e1f2d-7232-4dc6-866b-b9962f927fae","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3952,976],"id":"09f0b3ea-fb48-4e61-9e7c-14a181852fa8","name":"join_messages"},{"parameters":{"operation":"delete","key":"={{ $('set_data').first().json.sender }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4144,976],"id":"f0171bc7-5e2a-4d2f-b9ee-adaf09087623","name":"delete_buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('set_data').first().json.sender }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4496,976],"id":"4a8db97f-aa0f-4beb-9283-81b930048fcd","name":"get_buffer_data","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('set_data').first().json.sender }}_buffer","messageData":"={{ JSON.stringify({\n  'message_id': $('set_data').first().json.message_id,\n  'message': $('txt_message').first().json.final_message,\n  'date_time': $('set_data').first().json.data_time\n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4688,976],"id":"6b74dfe1-27d9-4162-81b3-012746943243","name":"buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5968,1040],"id":"bd137a0e-3bf3-4d8e-b4ab-5bd2c1c53d01","name":"voice_message.txt"},{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $('Webhook').item.json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5968,880],"id":"42b3cd20-dc57-4a13-9e84-3ab047d61f88","name":"text_message.txt"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').item.json.account_id }}/conversations/{{ $('set_data').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"humano\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-5104,1072],"id":"48faf826-b1cc-4e0e-9efb-37c57ebc00e3","name":"turn_off_bott","credentials":{"httpHeaderAuth":{"id":"YqxIe5WMlo9vceD0","name":"chatwootAdmin(noBOT)"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7728,624],"id":"e85247ea-b62f-466c-ae4d-ff8de92f1607","name":"form_response"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"registrar_alumno_nuevo\",\n    \"language\": { \"code\": \"es_AR\" },\n    \"components\": [\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"flow\",\n        \"index\": \"0\",\n        \"parameters\": [\n          {\n            \"type\": \"action\",\n            \"action\": {\n              \"flow_token\": \"{{ $('set_data').first().json.sender }}\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2592,1104],"id":"5de2921b-d36a-4c92-a6ad-c2a774aae197","name":"send_form"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-8544,816],"id":"c6c249b9-5578-404b-a2b6-f6738e45a435","name":"seccesss"},{"parameters":{"jsCode":"const items = $input.all();\nconst sender = String($('set_data').first().json.sender || '').trim();\n\nconst yaExiste = items.some(it => {\n  const a = it.json || {};\n  return String(a.telefono_principal || '').trim() === sender\n      || String(a.telefono_alternativo || '').trim() === sender;\n});\n\nif (sender && yaExiste) {\n  return [];\n}\n\nreturn [{\n  json: {\n    valido: true,\n    resultado: 'OK',\n    nuevo_id_alumno: Date.now(),\n    sender,\n    detalle: 'Alta nueva. id_alumno por epoch ms. Alumnos leidos: ' + items.length + '.'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2960,1104],"id":"5c4a12e6-8fae-484d-8308-7d3525fbae24","name":"get_new_id"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"ALUMNOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"columns":{"mappingMode":"defineBelow","value":{"id_alumno":"={{ $json.nuevo_id_alumno }}","telefono_principal":"={{ $('set_data').first().json.sender }}"},"matchingColumns":[],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_alumno","displayName":"nombre_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"apellido_alumno","displayName":"apellido_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono_principal","displayName":"telefono_principal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_alternativo","displayName":"telefono_alternativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_alumno","displayName":"correo_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"escuela/colegio/universidad","displayName":"escuela/colegio/universidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nivel_educativo","displayName":"nivel_educativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"madre/padre/tutor","displayName":"madre/padre/tutor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CUD","displayName":"CUD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"condicion_alumno","displayName":"condicion_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicopedagoga","displayName":"psicopedagoga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicopedagoga_nombre","displayName":"psicopedagoga_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicopedagoga_telefono_contacto","displayName":"psicopedagoga_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fono","displayName":"fono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fono_nombre","displayName":"fono_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fono_telefono_contacto","displayName":"fono_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicologo","displayName":"psicologo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicologo_nombre","displayName":"psicologo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"psicologo_telefono_contacto","displayName":"psicologo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"teo","displayName":"teo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"teo_nombre","displayName":"teo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"teo_telefono_contacto","displayName":"teo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2784,1104],"id":"aa4801a1-f4eb-420c-97d9-80e1674fe455","name":"add_student","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Flow enviado: registrar_alumno_nuevo]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2416,1104],"id":"7e86f7d9-698c-49ff-a84d-a007850e707d","name":"form_was_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"jsCode":"let id_alumno = 'idle';\n\n// Intentar obtener de check_status1\ntry {\n  const temp = $('get_new_id').first().json?.nuevo_id_alumno;\n  if (temp) id_alumno = temp;\n} catch (error) {\n  // Nodo no ejecutado, continuar\n}\n\n// Si no se obtuvo, intentar check_status\nif (id_alumno === 'idle') {\n  try {\n    const temp = $('student_is_registred').first().json?.id_alumno;\n    if (temp) id_alumno = temp;\n  } catch (error) {\n    // Nodo no ejecutado, usar default\n  }\n}\n\nreturn [{ json: { id_alumno } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,976],"id":"f191f9e9-60d4-4644-b0fe-57084c36dbc3","name":"id_alumno"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f8983c67-2592-494f-b22b-a8d4f377d737","leftValue":"={{ $('Webhook').item.json.body.private }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7952,800],"id":"d0b5f271-b262-439e-97a9-922e5b023148","name":"is_form_message"},{"parameters":{"jsCode":"if (\n  ($input.first().json.body.event === 'message_created')\n    &&( (($input.first().json.body.conversation.messages[0].sender_type === null) || (String($input.first().json.body.conversation.messages[0].sender_type || '').toLowerCase() === 'contact') || (String($input.first().json.body.conversation.messages[0].sender.name || '').toLowerCase() === 'administracion')))\n)\n{\n  return [{ json: {important: true}}];\n}\nelse {\n  return [{ json: {important: false}}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8352,816],"id":"8707bf60-6bbc-40f4-b2ff-dc42c7c22a33","name":"important_messages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1413084-5850-4552-b256-f4fd45521eb8","leftValue":"={{ $json.important }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-8160,816],"id":"fa5a0cf5-35fe-4c27-bdc8-59ed477cbffd","name":"is_important"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7952,976],"id":"df4f81ce-ecca-42b0-8feb-5c2411a3fd33","name":"ignore"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"ALUMNOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3136,1104],"id":"aedfa309-0820-43a7-bc2a-a131c68b3224","name":"get_students_data","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"operation":"get","propertyName":"is_processed","key":"=processed:msg:{{ $('set_data').first().json.message_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7088,816],"id":"bc9163f1-be3b-4e02-b00d-06d9a2b4c9e2","name":"dedup_check_get","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b5353ee8-4a45-4425-a8d8-12c21dcac8fd","leftValue":"={{ $json.is_processed }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6912,816],"id":"4cd40acb-8b3c-45b3-96bc-26ce496889ef","name":"is_duplicate"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6704,720],"id":"8daa909a-3af5-436f-a9b8-55fb188ab18e","name":"duplicate_ignored"},{"parameters":{"operation":"set","key":"=processed:msg:{{ $('set_data').first().json.message_id }}","value":"=1","keyType":"string","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6704,896],"id":"00aee5cf-1505-44d1-b798-648cffabfcf1","name":"dedup_check_set","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"primer_mensaje\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": []\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1472,1168],"id":"97c2d771-b29b-43fc-8d51-1c7a9cee374a","name":"first_message"},{"parameters":{"method":"POST","url":"https://sbdhjxylnpklsyeqqvfa.supabase.co/rest/v1/conversation_state","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"apikey","value":"SUPABASE_SECRET_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer SUPABASE_SECRET_PLACEHOLDER"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_data').first().json.sender }}"},{"name":"state","value":"first-message-sent"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1264,1168],"id":"26b773b4-3a36-49d4-9556-1dd53605c4cf","name":"set_first_message_sent"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"segundo_mensaje\",\n    \"language\": {\n      \"code\": \"es\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": []\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1056,656],"id":"d46c10d4-0cab-4017-9622-b5c2ba0f4607","name":"info_message"},{"parameters":{"method":"POST","url":"https://sbdhjxylnpklsyeqqvfa.supabase.co/rest/v1/conversation_state","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"apikey","value":"SUPABASE_SECRET_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer SUPABASE_SECRET_PLACEHOLDER"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_data').first().json.sender }}"},{"name":"state","value":"info-message-sent"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-832,656],"id":"def43ff5-6b88-41e2-96db-bd1b5899a3e6","name":"set_info_message_sent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Reservar Clase","operator":{"type":"string","operation":"contains"},"id":"a7074819-f75c-4df1-b783-2e9a79c840e8"}],"combinator":"and"},"renameOutput":true,"outputKey":"AGENDAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3c640a6-9114-4281-bbcc-feaef896757c","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Consultar Inform","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTAR_INFO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa46b9fc-db38-4344-8edc-2dd4e6e1127c","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Reprogramar Clase","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPROGRAMAR"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1360,640],"id":"0f6aaeca-9d29-4c0c-b0d2-fce106d5cae7","name":"orchestator2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1355e6b9-1d7f-439e-84c2-9d6154ba109f","leftValue":"={{ $json.state }}","rightValue":"estado-agendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGENDAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ceb26d42-fcf6-4dbb-b22c-1253b92884bd","leftValue":"={{ $json.state }}","rightValue":"first-message-sent","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FIRST"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bb271c95-6d59-47e3-9234-34b503c33bed","leftValue":"={{ $json.state }}","rightValue":"info-message-sent","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"INFO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0cdfdb21-1fa3-4dbc-a425-7a39367df246","leftValue":"={{ $json.state }}","rightValue":"info-faq","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FAQ"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1840,880],"id":"b6735d19-6a74-477a-a615-639b15ce7a9c","name":"orchestator1"},{"parameters":{"workflowId":{"__rl":true,"value":"CbF6NWf9dSJGZnXb","mode":"list","cachedResultUrl":"/workflow/CbF6NWf9dSJGZnXb","cachedResultName":"faq_agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}","sender":"={{ $('set_data').first().json.sender }}","message":"={{ $('join_messages').first().json.concat_message }}","message_id":"={{ $('set_data').first().json.message_id }}","date_time":"={{ $('set_data').first().json.data_time }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[544,1280],"id":"ca61559f-c61a-4532-a69c-7d65f669fbab","name":"bot_faq"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=https://maps.app.goo.gl/frEBmgxsgo6XiqxV6"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,1120],"id":"4e5b72b7-fa34-49e7-b369-6e804a2c6251","name":"send_ubi","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Aranceles Enviados]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[960,608],"id":"3b3f5bcb-f536-4306-b963-5de8be83552c","name":"aranceles_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Somos","operator":{"type":"string","operation":"contains"},"id":"a7074819-f75c-4df1-b783-2e9a79c840e8"}],"combinator":"and"},"renameOutput":true,"outputKey":"QUIENES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3c640a6-9114-4281-bbcc-feaef896757c","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Aranceles","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ARANCELES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa46b9fc-db38-4344-8edc-2dd4e6e1127c","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Políticas de Cancelación","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POLÍTICASC"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c2d75f09-5148-4416-a642-9645ff8836e9","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Medios de Pago","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MEDIOSP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"db702005-d87f-40df-a8f2-9343559efa44","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Ubicación","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UBI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7dc0ad63-26d9-4bb7-a3a2-e191d294b1e4","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Tengo otra Pregunta","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OTRA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"579244bc-be6f-459d-aa04-f67e03d2101b","leftValue":"={{ $('join_messages').first().json.concat_message }}","rightValue":"Quiero hablar con una Persona","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HUMANO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,832],"id":"7557115d-d21d-4b50-bfcb-d866a16f4942","name":"info_orchestator"},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,608],"id":"5f11ffb5-3be1-4dae-bf26-debf8e0bdb2d","name":"delete_state1","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,1120],"id":"6c0d65b2-3b3b-422d-83ab-613e87b7896b","name":"delete_state2","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Primer Mensaje Enviado]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1072,1168],"id":"0b78080d-571a-4deb-ac2d-15f82b142fe3","name":"first_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Mensaje con Opciones de Info Enviado]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-624,656],"id":"b790bd2d-72a7-45b3-945b-b261adda59c9","name":"info_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-832,816],"id":"8e29fd11-b26f-4596-80ba-3b5ba78f1798","name":"delete_state3","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,1440],"id":"0f437e3a-d9ad-4199-9e51-ab3aa4fba438","name":"delete_state4","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://sbdhjxylnpklsyeqqvfa.supabase.co/rest/v1/conversation_state","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"apikey","value":"SUPABASE_SECRET_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer SUPABASE_SECRET_PLACEHOLDER"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_data').first().json.sender }}"},{"name":"state","value":"estado-agendar"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1056,496],"id":"b9436596-cf8c-4483-9e28-a2a6b16af10c","name":"set_booking_state"},{"parameters":{"method":"POST","url":"https://sbdhjxylnpklsyeqqvfa.supabase.co/rest/v1/conversation_state","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"apikey","value":"SUPABASE_SECRET_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer SUPABASE_SECRET_PLACEHOLDER"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_data').first().json.sender }}"},{"name":"state","value":"info-faq"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,1280],"id":"3eadeca7-db89-42ea-b310-60a2c2b7231b","name":"set_info_faq"},{"parameters":{"workflowId":{"__rl":true,"value":"CbF6NWf9dSJGZnXb","mode":"list","cachedResultUrl":"/workflow/CbF6NWf9dSJGZnXb","cachedResultName":"faq_agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}","sender":"={{ $('set_data').first().json.sender }}","message":"={{ $('join_messages').first().json.concat_message }}","message_id":"={{ $('set_data').first().json.message_id }}","date_time":"={{ $('set_data').first().json.data_time }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1472,992],"id":"76538714-a829-42dc-aaf1-9bed85a88aea","name":"bot_faq1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uksimNDmsNXcOu5p","mode":"list","cachedResultName":"media_ids","cachedResultUrl":"/projects/gF8WLdww3biV88i1/datatables/uksimNDmsNXcOu5p"},"limit":10},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[336,608],"id":"aa3fdc2a-f0c5-4f22-95c4-f09d6d73714a","name":"get_images_ids"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $json.id_presenciales }}\",\n    \"caption\": \"\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,608],"id":"c4e51a2e-44f2-4dc7-a2b7-cee215c5dfee","name":"send_aranceles_presenciales"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $('get_images_ids').first().json.id_virtuales }}\",\n    \"caption\": \"\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,608],"id":"70879084-48c4-4b61-9ef9-3d8cacaa6164","name":"send_aranceles_virtuales"},{"parameters":{"workflowId":{"__rl":true,"value":"PvqSTZXj9kHwKkkl","mode":"list","cachedResultUrl":"/workflow/PvqSTZXj9kHwKkkl","cachedResultName":"booking_agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}","sender":"={{ $('set_data').first().json.sender }}","id_alumno":"={{ $('id_alumno').first().json.id_alumno }}","message":"={{ $('join_messages').first().json.concat_message }}","message_id":"={{ $('set_data').first().json.message_id }}","date_time":"={{ $('set_data').first().json.data_time }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-832,496],"id":"fc5f8504-a38a-4e04-961f-8a1f84af9a4c","name":"booking_agent"},{"parameters":{"workflowId":{"__rl":true,"value":"PvqSTZXj9kHwKkkl","mode":"list","cachedResultUrl":"/workflow/PvqSTZXj9kHwKkkl","cachedResultName":"booking_agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $('set_data').first().json.conversation_id }}","sender":"={{ $('set_data').first().json.sender }}","id_alumno":"={{ $('id_alumno').first().json.id_alumno }}","account_id":"={{ $('set_data').first().json.account_id }}","message":"={{ $('join_messages').first().json.concat_message }}","message_id":"={{ $('set_data').first().json.message_id }}","date_time":"={{ $('set_data').first().json.data_time }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1360,464],"id":"01f103a8-068e-4b85-a0b4-a20b73dbc8c5","name":"booking_agent1"},{"parameters":{"workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1056,816],"id":"bc0b8966-030a-4197-8ef3-6b18d596511e","name":"delegate_to_human"},{"parameters":{"workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[336,1440],"id":"55651ba8-f277-4c6f-bac4-8f1e587ac856","name":"delegate_to_human1"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-432,656],"id":"6592fffd-d45a-48be-adf2-b91bfea34727","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-432,816],"id":"8e714b2f-4748-4c56-9e7b-e6323dd5a086","name":"mark_last_processed1","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-880,1168],"id":"cc2ba0f9-5bb3-4a85-9470-8191880c6e8d","name":"mark_last_processed2","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,608],"id":"04fead50-06b4-4f0b-a27b-706a98cde3ae","name":"mark_last_processed3","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,1120],"id":"26a55d4e-4a56-4945-b2c9-910584a4d391","name":"mark_last_processed4","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[976,1440],"id":"59d62852-253f-4389-9a47-ff8e2da3f495","name":"mark_last_processed5","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3344,784],"id":"20877a37-4f50-4561-b050-51ffe816bbaa","name":"mark_last_processed6","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Ya te contacto con alguien del equipo. En cualquier momento se va a comunicar con vos para ayudarte"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,1440],"id":"418f1eaf-f4b1-4330-bf49-e8a55dcf0a7e","name":"send_human_message","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Ya te contacto con alguien del equipo. En cualquier momento se va a comunicar con vos para ayudarte"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-624,816],"id":"0af84421-7d5e-4b23-8767-26e42d4583ab","name":"send_human_message1","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,784],"id":"c7f0db8e-67db-442d-9605-63cb5f29db56","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uksimNDmsNXcOu5p","mode":"list","cachedResultName":"media_ids","cachedResultUrl":"/projects/gF8WLdww3biV88i1/datatables/uksimNDmsNXcOu5p"},"limit":10},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[336,784],"id":"1122de6e-dc1f-48f5-97a7-dfd547b9d8d6","name":"get_images_ids1"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,784],"id":"8c8aeaeb-8b26-4a0c-af9c-bbc677bdbaca","name":"mark_last_processed7","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $json.id_politicas_cancelacion }}\",\n    \"caption\": \"\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,784],"id":"e87ea1df-2f68-4db5-a1d6-5e6a930b9614","name":"send_politicas_cancelacion"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Politicas de Cancelacion Enviadas]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,784],"id":"35de7659-c3d6-4cf8-8948-4e8403a4529e","name":"politicas_sent1","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,448],"id":"a6f23eba-88cd-49f6-b28e-f4154cb16769","name":"delete_state5","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uksimNDmsNXcOu5p","mode":"list","cachedResultName":"media_ids","cachedResultUrl":"/projects/gF8WLdww3biV88i1/datatables/uksimNDmsNXcOu5p"},"limit":10},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[336,448],"id":"e4cabca4-d8bc-44cd-8bef-22ad31004229","name":"get_images_ids2"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,448],"id":"a048dceb-0f6b-4328-8ac8-8c2bf54b7bdc","name":"mark_last_processed8","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('set_data').first().json.sender }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"id\": \"{{ $json.id_quienes_somos }}\",\n    \"caption\": \"\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,448],"id":"31beeb0a-d1a6-4d1f-9a49-66cb6e146ce4","name":"send_quienes_somos"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=[Quienes Somos Enviado]"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,448],"id":"ca720f1f-daaf-4a87-a775-9ca73b59a230","name":"quienes_somos_sent","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('set_data').first().json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,960],"id":"e3ee266d-8674-4f17-9264-97ab581a1167","name":"delete_state6","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('set_data').first().json.sender }}","value":"={{ $('set_data').first().json.data_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,960],"id":"c2a88137-874b-449b-b337-a7c937a5c521","name":"mark_last_processed9","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=💳 Medios de pago\n\n💵 Efectivo\nPodés abonar en efectivo de manera presencial.\n\n📲 Mercado Pago\nPodés realizar el pago mediante transferencia a los siguientes alias:\n- Nivel Secundario y Terciario: educaresecundaria\n- Nivel Primario: centroeducare\n\n🏦 Transferencia Bancaria\nNivel Primario\nBanco: Francés\nTitular: Erica Gisela Cipolloni\nAlias: educare100\nCBU: 0170326740000041242843\nCUIL: 27-25162199-9\nTipo de cuenta: Caja de Ahorro en Pesos (CA$)\n\nNivel Secundario\nBanco: Francés\nTitular: Nilda Margarita Chavez\nAlias: educareclases\nCBU: 017015640000003375190"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,960],"id":"425c93ca-2fa1-473e-b53c-f4d8850d88fa","name":"send_medios_de_pago_message","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}}],"connections":{"check_status":{"main":[[{"node":"orchestator1","type":"main","index":0}]]},"student_is_registred":{"main":[[{"node":"id_alumno","type":"main","index":0}],[{"node":"get_students_data","type":"main","index":0}]]},"verify_student":{"main":[[{"node":"student_is_registred","type":"main","index":0}]]},"txt_message":{"main":[[{"node":"is_inboundMessage","type":"main","index":0}]]},"is_message":{"main":[[{"node":"set_data","type":"main","index":0}]]},"is_audio":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_data":{"main":[[{"node":"dedup_check_get","type":"main","index":0}]]},"insert_user_message_in_history":{"main":[[{"node":"mark_last_processed6","type":"main","index":0}]]},"insert_our_message_in_history":{"main":[[{"node":"turn_off_bott","type":"main","index":0}]]},"is_inboundMessage":{"main":[[{"node":"get_teachers_data","type":"main","index":0}],[{"node":"insert_our_message_in_history","type":"main","index":0}]]},"is_message_or_audio":{"main":[[{"node":"is_audio","type":"main","index":0}],[{"node":"is_message","type":"main","index":0}],[{"node":"neither_audio_nor_message","type":"main","index":0}]]},"human_should_respond":{"main":[[{"node":"insert_user_message_in_history","type":"main","index":0}],[{"node":"verify_student","type":"main","index":0}]]},"wait":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"switch":{"main":[[{"node":"different_message","type":"main","index":0}],[{"node":"delete_buffer","type":"main","index":0}],[{"node":"wait","type":"main","index":0}]]},"is_a_text_message":{"main":[[{"node":"text_message.txt","type":"main","index":0}],[{"node":"download_audio","type":"main","index":0}]]},"is_teacher":{"main":[[{"node":"teacher_so_dont_answer","type":"main","index":0}],[{"node":"buffer","type":"main","index":0}]]},"join_teachers_data":{"main":[[{"node":"is_teacher","type":"main","index":0}]]},"get_teachers_data":{"main":[[{"node":"join_teachers_data","type":"main","index":0}]]},"transcribe_the_audio":{"main":[[{"node":"voice_message.txt","type":"main","index":0}]]},"download_audio":{"main":[[{"node":"transcribe_the_audio","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"seccesss","type":"main","index":0}]]},"join_messages":{"main":[[{"node":"human_should_respond","type":"main","index":0}]]},"delete_buffer":{"main":[[{"node":"join_messages","type":"main","index":0}]]},"get_buffer_data":{"main":[[{"node":"switch","type":"main","index":0}]]},"buffer":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"voice_message.txt":{"main":[[{"node":"txt_message","type":"main","index":0}]]},"text_message.txt":{"main":[[{"node":"txt_message","type":"main","index":0}]]},"turn_off_bott":{"main":[[{"node":"do_nothing","type":"main","index":0}]]},"send_form":{"main":[[{"node":"form_was_sent","type":"main","index":0}]]},"seccesss":{"main":[[{"node":"important_messages","type":"main","index":0}]]},"get_new_id":{"main":[[{"node":"add_student","type":"main","index":0}]]},"add_student":{"main":[[{"node":"send_form","type":"main","index":0}]]},"form_was_sent":{"main":[[{"node":"id_alumno","type":"main","index":0}]]},"id_alumno":{"main":[[{"node":"check_status","type":"main","index":0}]]},"is_form_message":{"main":[[{"node":"form_response","type":"main","index":0}],[{"node":"is_message_or_audio","type":"main","index":0}]]},"important_messages":{"main":[[{"node":"is_important","type":"main","index":0}]]},"is_important":{"main":[[{"node":"is_form_message","type":"main","index":0}],[{"node":"ignore","type":"main","index":0}]]},"get_students_data":{"main":[[{"node":"get_new_id","type":"main","index":0}]]},"Error Trigger":{"main":[[]]},"dedup_check_get":{"main":[[{"node":"is_duplicate","type":"main","index":0}]]},"is_duplicate":{"main":[[{"node":"duplicate_ignored","type":"main","index":0}],[{"node":"dedup_check_set","type":"main","index":0}]]},"dedup_check_set":{"main":[[{"node":"is_a_text_message","type":"main","index":0}]]},"first_message":{"main":[[{"node":"set_first_message_sent","type":"main","index":0}]]},"info_message":{"main":[[{"node":"set_info_message_sent","type":"main","index":0}]]},"orchestator2":{"main":[[{"node":"set_booking_state","type":"main","index":0}],[{"node":"info_message","type":"main","index":0}],[{"node":"delegate_to_human","type":"main","index":0}],[{"node":"delegate_to_human","type":"main","index":0}]]},"orchestator1":{"main":[[{"node":"booking_agent1","type":"main","index":0}],[{"node":"orchestator2","type":"main","index":0}],[{"node":"info_orchestator","type":"main","index":0}],[{"node":"bot_faq1","type":"main","index":0}],[{"node":"first_message","type":"main","index":0}]]},"set_first_message_sent":{"main":[[{"node":"first_sent","type":"main","index":0}]]},"info_orchestator":{"main":[[{"node":"get_images_ids2","type":"main","index":0}],[{"node":"get_images_ids","type":"main","index":0}],[{"node":"get_images_ids1","type":"main","index":0}],[{"node":"send_medios_de_pago_message","type":"main","index":0}],[{"node":"send_ubi","type":"main","index":0}],[{"node":"set_info_faq","type":"main","index":0}],[{"node":"delegate_to_human1","type":"main","index":0}],[{"node":"delegate_to_human1","type":"main","index":0}]]},"aranceles_sent":{"main":[[{"node":"delete_state1","type":"main","index":0}]]},"send_ubi":{"main":[[{"node":"delete_state2","type":"main","index":0}]]},"set_info_message_sent":{"main":[[{"node":"info_sent","type":"main","index":0}]]},"first_sent":{"main":[[{"node":"mark_last_processed2","type":"main","index":0}]]},"delete_state3":{"main":[[{"node":"send_human_message1","type":"main","index":0}]]},"info_sent":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]},"delete_state1":{"main":[[{"node":"mark_last_processed3","type":"main","index":0}]]},"delete_state2":{"main":[[{"node":"mark_last_processed4","type":"main","index":0}]]},"delete_state4":{"main":[[{"node":"send_human_message","type":"main","index":0}]]},"set_booking_state":{"main":[[{"node":"booking_agent","type":"main","index":0}]]},"set_info_faq":{"main":[[{"node":"bot_faq","type":"main","index":0}]]},"get_images_ids":{"main":[[{"node":"send_aranceles_presenciales","type":"main","index":0}]]},"send_aranceles_presenciales":{"main":[[{"node":"send_aranceles_virtuales","type":"main","index":0}]]},"send_aranceles_virtuales":{"main":[[{"node":"aranceles_sent","type":"main","index":0}]]},"delegate_to_human":{"main":[[{"node":"delete_state3","type":"main","index":0}]]},"delegate_to_human1":{"main":[[{"node":"delete_state4","type":"main","index":0}]]},"booking_agent1":{"main":[[]]},"mark_last_processed6":{"main":[[{"node":"message_to_human","type":"main","index":0}]]},"send_human_message":{"main":[[{"node":"mark_last_processed5","type":"main","index":0}]]},"send_human_message1":{"main":[[{"node":"mark_last_processed1","type":"main","index":0}]]},"delete_state":{"main":[[{"node":"mark_last_processed7","type":"main","index":0}]]},"get_images_ids1":{"main":[[{"node":"send_politicas_cancelacion","type":"main","index":0}]]},"send_politicas_cancelacion":{"main":[[{"node":"politicas_sent1","type":"main","index":0}]]},"politicas_sent1":{"main":[[{"node":"delete_state","type":"main","index":0}]]},"delete_state5":{"main":[[{"node":"mark_last_processed8","type":"main","index":0}]]},"get_images_ids2":{"main":[[{"node":"send_quienes_somos","type":"main","index":0}]]},"send_quienes_somos":{"main":[[{"node":"quienes_somos_sent","type":"main","index":0}]]},"quienes_somos_sent":{"main":[[{"node":"delete_state5","type":"main","index":0}]]},"delete_state6":{"main":[[{"node":"mark_last_processed9","type":"main","index":0}]]},"send_medios_de_pago_message":{"main":[[{"node":"delete_state6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"504da1f7-a9ad-4861-993c-2eefd48955a6","activeVersionId":"504da1f7-a9ad-4861-993c-2eefd48955a6","versionCounter":3309,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-15T17:32:06.249Z","createdAt":"2026-03-15T17:32:06.249Z","role":"workflow:owner","workflowId":"YSjoWE39sgBRhE1H","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version 504da1f7","description":""}}