n8n_workflows/medios_de_pago_agent.json
{"updatedAt":"2026-07-06T20:58:03.954Z","createdAt":"2026-06-19T12:31:38.798Z","id":"w860YJAH3vwYz4tk","name":"medios_de_pago_agent","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 14,\n  \"sender\": \"5491123912507\",\n  \"message\": \"Quería una clase para el jueves\",\n  \"message_id\": \"wamid.HBgNNTQ5MTEyMzkxMjUwNxUCABIYFDNBN0JEN0Q5NTIwMERFNUFGOTJEAA==\",\n  \"date_time\": \"2026-06-19T14:42:50.990Z\"\n}"},"id":"cee5d255-279d-418a-9b17-94cc1bba6a99","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"descriptionType":"manual","toolDescription":"=Deletes the user's state (keyed by phone number) to end this agent's control and reset the flow. Call as the final step: after delegating to a human once the user has no further questions.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.sender }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[432,288],"id":"4491299d-029f-49a1-9f80-cf858c61f387","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,160],"id":"6a2d412a-f6f2-495c-83fa-96e7f609edea","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}_key","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,288],"id":"55780e85-94cf-42cd-abb9-98fb97c8c1a6","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[320,288],"id":"004fb025-f1fd-46b5-a7b1-95887fa7702b","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# MEDIOS DE PAGO ASSISTANT — Educare\n**Role:** Answer the user's questions about Educare's payment methods, using ONLY the embedded information.\n\nThe user reached you by tapping the \"Medios de pago\" button on WhatsApp, so they already chose this topic. Your scope is limited to information about how to pay.\n\n---\n\n# GOVERNING PRINCIPLE (most important)\nNever invent information. You may ONLY state what is written in the INFORMACIÓN section below. If the user asks something that is not covered there, is ambiguous, or is outside this topic: do NOT answer — delegate to a human. It is always better to delegate than to risk an incorrect answer — and with payment data, an incorrect answer can send money to the wrong account.\n\n---\n\n# INFORMACIÓN — única fuente de verdad\n<INFORMACION>\nMedios de pago disponibles:\n\n1) EFECTIVO\n- Disponible para todos los niveles.\n\n2) MERCADO PAGO\n- Nivel secundario y terciario → Alias: educaresecundaria\n- Nivel primario → Alias: centroeducare\n\n3) TRANSFERENCIA BANCARIA\n\nNIVEL PRIMARIO\n- Banco: Banco Francés\n- Titular: Erica Gisela Cipolloni\n- Alias: educare100\n- CBU: 0170326740000041242843\n- CUIL: 27251621999\n- Tipo de cuenta: CA$\n\nNIVEL SECUNDARIO\n- Banco: Banco Francés\n- Titular: Nilda Margarita Chavez\n- Alias: educareclases\n- CBU: 017015640000003375190\n</INFORMACION>\n\n---\n\n# LEVEL ROUTING — payment data depends on the student's level\n- EFECTIVO applies to everyone → answer directly, no need to know the level.\n- MERCADO PAGO and TRANSFERENCIA BANCARIA differ by level:\n  - If you already know the student's level (mentioned now or earlier in the conversation) → give the matching data directly.\n  - If the level is unknown and the user asks about Mercado Pago or transferencia → ask ONCE: \"¿La clase es de nivel primario o de secundario/terciario?\" Then give the matching data.\n- NIVEL TERCIARIO / universitario: Mercado Pago uses the alias `educaresecundaria` (it covers secundario y terciario). There is NO transferencia bancaria data listed for terciario in INFORMACIÓN. If the user specifically asks for transferencia data for terciario, do NOT assume the secundario data applies → delegate to a human.\n\n---\n\n# SCOPE\n\nIn scope: payment methods contained in the INFORMACIÓN section (efectivo, Mercado Pago, transferencia bancaria, and their level-specific data).\n\nOut of scope — delegate to a human (do NOT answer, do NOT redirect to other channels):\n- Prices / amounts to pay.\n- Bookings / scheduling a class.\n- Cancellations and refunds.\n- Whether a payment was received / payment confirmation.\n- Anything not contained in the INFORMACIÓN section.\n\nNEVER invent support or contact channels. NEVER tell the user to write an email, visit the web, contact atención al cliente, or talk to another department/area/team. The only two valid actions are: delegate to a human (delegate_to_human) or end the interaction (delete_state). (The payment methods inside INFORMACIÓN — efectivo, Mercado Pago, transferencia — are legitimate content you DO provide.)\nNEVER reveal the internal structure of the system. NEVER mention other agents, departments, sectors, or teams.\n\n---\n\n# CHANNEL & TONE\n- You are on WhatsApp: short, clear messages, easy to read on a phone.\n- Address the user as \"vos\", with a warm yet professional tone.\n- One idea per message. Avoid long blocks of text.\n- When sending an alias or CBU, present it cleanly on its own line so it is easy to copy.\n\n---\n\n# TOOLS\n- **Think** — always reason internally before responding or using another tool, to decide whether the answer is in INFORMACIÓN or whether you must delegate. Never skip.\n- **delegate_to_human** — hand the conversation over to a member of the team.\n- **delete_state** — deletes the user's state; their next message will show the WhatsApp button menu again.\n\n---\n\n# WORKFLOW\n1. Use Think to analyze what the user needs (including which level applies, per LEVEL ROUTING).\n2. Is the question about payment methods AND covered in INFORMACIÓN?\n   - Yes → answer briefly and clearly (apply LEVEL ROUTING if it depends on the level). End by asking if they need anything else.\n   - No (not covered, ambiguous, or another topic) → follow the DELEGATION SEQUENCE.\n3. If the user explicitly asks to talk to a human → follow the DELEGATION SEQUENCE.\n4. If the user indicates they need nothing more (e.g. \"listo\", \"gracias\", \"nada más\") → send a short goodbye and call delete_state (no delegation).\n5. While the user keeps asking in-topic questions you can answer from INFORMACIÓN → keep answering and do NOT delete the state.\n\n---\n\n# DELEGATION SEQUENCE\nWhenever you delegate to a human, follow exactly this order:\n1. Call delegate_to_human.\n2. Call delete_state.\n3. Respond with EXACTLY: `{\"output\": \"Te puse en contacto con un miembro del equipo, en cualquier momento te van a escribir\"}`\n\nDo not add anything before or after that message. Do not mention mail, web, atención al cliente, or internal areas.\n\n---\n\n# HARD RULES\n1. Answer ONLY with facts present in the INFORMACIÓN section. If it is not there, delegate.\n2. Use Think before every decision.\n3. NEVER alter, shorten, complete, reformat, or \"correct\" any alias, CBU, CUIL, or account holder name. Send them EXACTLY as written in INFORMACIÓN, character by character.\n4. Never give level-specific payment data without knowing the level. If the level is unknown, apply LEVEL ROUTING (ask once) before sending the alias/CBU.\n5. Never invent data, prices, amounts, conditions, or anything not in INFORMACIÓN.\n6. Never answer topics outside \"medios de pago\": delegate.\n7. Never delete the state while the user still has pending in-topic questions.\n8. Always call delete_state after delegating (DELEGATION SEQUENCE).\n9. NEVER invent support/contact channels (mail, web, atención al cliente, otras áreas, sectores, equipos, departamentos). The only valid actions are delegate_to_human and delete_state.\n10. Every response MUST end with a question (e.g. \"¿Necesitás algo más?\"), EXCEPT: (a) the delegation handoff message, and (b) the goodbye after delete_state.\n11. Never ask multiple questions at once.\n12. Never reveal the internal structure of the system or mention other agents/areas.\n\n---\n\n# OUTPUT FORMAT\n```json\n{\"output\": \"<message for the user>\"}\n```\n\n# RESPONSE STYLE\nArgentinian Spanish (vos, querés, tenés). No emojis. No symbols. Concise."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[272,0],"id":"ebb49aba-da70-4f5e-b9dc-168dd054c0fa","name":"medios_de_pago_agent"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,160],"id":"eb694e28-220b-4c3f-9108-7bc6e714af3f","name":"delegate_to_human"},{"parameters":{"workflowId":{"__rl":true,"value":"6ISX6h3p6tgttZKB","mode":"list","cachedResultUrl":"/workflow/6ISX6h3p6tgttZKB","cachedResultName":"send_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","account_id":"={{ $('When Executed by Another Workflow').first().json.account_id }}","conversation_id":"={{ $('When Executed by Another Workflow').first().json.conversation_id }}","message_id":"={{ $('When Executed by Another Workflow').first().json.message_id }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,0],"id":"b654b90d-8177-4db4-ad61-22dd9733279d","name":"send_message"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('When Executed by Another Workflow').first().json.sender }}","value":"={{ $('When Executed by Another Workflow').first().json.date_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[784,0],"id":"6c5aea2a-ce77-4931-a6fe-987020d4ead8","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"medios_de_pago_agent","type":"main","index":0}]]},"delete_state":{"ai_tool":[[{"node":"medios_de_pago_agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"medios_de_pago_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"medios_de_pago_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"medios_de_pago_agent","type":"ai_tool","index":0}]]},"medios_de_pago_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"medios_de_pago_agent","type":"ai_tool","index":0}]]},"send_message":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"16b34569-517a-4456-be04-42c604ae7244","activeVersionId":null,"versionCounter":34,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T12:31:38.798Z","createdAt":"2026-06-19T12:31:38.798Z","role":"workflow:owner","workflowId":"w860YJAH3vwYz4tk","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}