n8n_workflows/My_workflow.json
{"updatedAt":"2026-04-13T02:19:30.699Z","createdAt":"2026-03-10T15:31:52.840Z","id":"2SPM1pspKFyhzgm1","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[8704,-848],"id":"2cdedff3-7fe8-4541-80ba-4c54b535dea0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[8864,-848],"id":"f8fe16c6-1d94-4f96-b3fc-27cf995808dc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{"description":"Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed.\n\n\nEjemplo:\n```json\n{\n  \"razonamiento\": \"El usuario pregunta por precios de clases virtuales. Necesito buscar en la base de conocimiento la sección de precios, específicamente clases virtuales.\"\n}\n```\n\n\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[9024,-752],"id":"10b3f386-d1c8-4a62-a19b-2cf395a61044","name":"Think"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[8624,-304],"id":"ca84f36c-5b0e-4055-8cb8-b323eb12d526","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10544,-1584],"id":"799de17e-6b90-4f1a-aad3-0b431dd47211","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[10576,-1440],"id":"8d090f78-9a61-4d38-8df6-1ee9111a799b","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[10736,-1440],"id":"dcc9c536-0c32-4ad5-968f-999d993d5d8d","name":"Think1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[10512,-800],"id":"ae40e6c8-f25a-4b3e-856f-ff28c84eaa95","name":"Think2"},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[10672,-960],"id":"bf463406-04fd-4f25-8757-756d082c7f09","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10512,-960],"id":"67e93422-9bf7-44fe-8465-4c9ef7fc3060","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').item.json.account_id }}","conversation_id":"={{ $('set_data').item.json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[10096,-992],"id":"1ff8c8bf-899f-4b32-91eb-d80d3876a697","name":"Call 'hablar_con_humano'2"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[10304,-992],"id":"6466983c-0572-4314-ac11-c487608f902c","name":"sera contactado con humano"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[9840,-896],"id":"0f311de6-f832-4b2e-a32e-f4e5b4bd29ab","name":"send_message2"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[8624,-448],"id":"239cd477-27dd-48fe-bbb3-edf3238e1085","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[8832,-592],"id":"c479b111-0678-4c0c-8557-e66cff273040","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[10432,-224],"id":"4d9b5860-8a77-4609-a610-c2a3a93b1355","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[10432,-400],"id":"9fb8be64-88fe-40b9-8864-d6d4b17467d8","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10672,-528],"id":"d99233d9-7c67-42a3-8414-5521d89e74ff","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[10464,-2208],"id":"5cd4fff0-352e-4dd6-8e90-913342aa65ee","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[10464,-2032],"id":"75d5c51e-6296-46b1-a03e-800bb15613e6","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10592,-1920],"id":"aa5ece16-99ab-4511-8d37-1481976d4f6f","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Output Format\n\nYou must **always return a JSON object**:\n\n```\n{\n  \"estado_determinado\": true | false,\n  \"mensaje\": <Response or question for the user in spanish>\n}\n```\n\n# Identity\nYou are a **message output formatter**.\n\n## Purpose\nYour task is to take the input text and return it in **JSON format** according to the Output Parser.\n\n---\n\n# Instructions\n\nRead the content provided in **Input to format**.\n\nApply the rules above to **clean and segment the text**.\n\nReturn **only the resulting JSON**."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[9312,-976],"id":"a3b4fb30-7333-4d1d-a757-1f6d45c7d309","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[9312,-800],"id":"157cd912-8a3b-4bd5-bc96-a4e62f18f890","name":"OpenAI Chat Model10","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"estado_determinado\": \"Boolean\",\n  \"mensaje\": \"String\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[9376,-656],"id":"b39c61ec-9847-40a7-b210-65abf3c63fd2","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[9376,-496],"id":"bd8a0e3c-4463-42d2-863d-8a8f1d9dfaea","name":"OpenAI Chat Model11","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[11232,-1024],"id":"cb103abc-c4c8-4187-a744-6848aebc6229","name":"OpenAI Chat Model14","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[11344,-848],"id":"75755786-9f77-4e9c-980a-52b6b688513c","name":"OpenAI Chat Model15","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"03202e5a-b22d-444e-89b4-cb73110c2e33","leftValue":"={{ $json.id_alumno }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8032,-1072],"id":"5fc041fb-31bd-4db6-925a-2185036531c2","name":"student_is_registred"},{"parameters":{"text":"={{ $json }}","guardrails":{"keywords":"humano","jailbreak":{"value":{"threshold":0.8}},"nsfw":{"value":{"threshold":0.8}},"topicalAlignment":{"value":{"threshold":0.9,"prompt":"You are a **content moderation and scope validation system** for a tutoring institute chatbot.\n\n## Business Scope\nThe chatbot is designed to help users with **administrative matters related to a tutoring institute** that offers classes in subjects such as:\n\n- Matemática\n- Química\n- Física\n- Otras materias académicas similares\n\nThe chatbot is allowed to handle topics related to:\n\n- Reservar o agendar clases\n- Cancelar o modificar clases\n- Información sobre modalidades de clase (presencial o virtual)\n- Información sobre precios o packs de clases\n- Información sobre clases ya reservadas\n- Consultas administrativas del instituto\n\n## Out of Scope Content\nThe following types of content should be flagged as **outside the allowed scope**:\n\n- Resolución de ejercicios o tareas\n- Explicaciones académicas de materias\n- Preguntas de cultura general\n- Temas no relacionados con el instituto\n- Conversaciones personales o informales sin relación con las clases\n- Contenido político, religioso o sensible\n- Soporte técnico no relacionado con las clases\n- Cualquier tema no relacionado con la gestión de clases o información del instituto\n\n## Task\nAnalyze the user message and determine whether it stays within the **allowed business scope**.\n\nReturn:\n\n- **in_scope = true** if the message relates to class management or institute information\n- **in_scope = false** if the message is unrelated to the tutoring service\n\n## Output Format\nReturn **only JSON**:\n\n```json\n{\n  \"in_scope\": true | false,\n  \"reason\": \"brief explanation\"\n}\n```"}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[7536,-960],"id":"ed4bea07-9553-4533-981c-0124b3bc18d3","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[7536,-768],"id":"7df16f0c-5b2b-4ace-a3b5-545e85fdb35c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('set_data').first().json.account_id }}","conversation_id":"={{ $('set_data').first().json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7840,-848],"id":"186888e9-b509-49fe-8f25-158831ae7683","name":"Call 'hablar_con_humano'1"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.\n\n## Input\n\n```json\n{\n  \"conversation_id\": {{ $json.contact_id }}\n}\n```","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contact_id":"={{ $json.contact_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[9152,-752],"id":"4380ec9a-f9cf-498f-88e1-a6926e28b309","name":"delegate_to_human"},{"parameters":{"description":"=Search for relevant information in the vectorized knowledge base.\n\n## Parameters\n- **query**: A reformulated version of the user’s question optimized for semantic search.\n\n## Returns\nRelevant context extracted from the documents in the knowledge base.\n\n## Example\n\n```json\n{\n  \"query\": \"prices for virtual tutoring classes at secondary level\"\n}\n```\n"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[8704,-688],"id":"0f53174f-345d-4c17-a074-760008f76d72","name":"knowledge_base"},{"parameters":{"descriptionType":"manual","toolDescription":"=This tool assigns the **reservation state** to the student.\n\nWhen this state is set, the system will automatically **delegate the conversation to the `booking_agent`**, which is responsible for handling class booking.\n\nUse this tool when the user clearly indicates they want to **schedule or reserve a class**.","tableId":"conversation_state","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"num"},{"fieldId":"state","fieldValue":"estado-agendar"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[9024,-592],"id":"fc69c117-888d-4295-8d7c-3188b16b9fbe","name":"booking_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=This tool assigns the **cancellation state** to the student.\n\nWhen this state is set, the system will automatically **delegate the conversation to the **`cancel_agent`**, which is responsible for handling the cancellation of classes.\n\nUse this tool when the user clearly indicates they want to **cancel a class**.","tableId":"conversation_state","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"num"},{"fieldId":"state","fieldValue":"estado-cancelar"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[9152,-592],"id":"f0acd5bf-cc7c-4f58-aa2d-268397dd8dd7","name":"cancel_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to retrieve **all classes associated with a specific student** from the database.\n\nThe tool returns the student's scheduled classes along with their relevant details.","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"reservas(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_alumno","lookupValue":"="}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[9088,-416],"id":"c5bc3480-21b0-46fa-ab40-1c2d0df9c364","name":"get_classes","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"description":"=Search for relevant information in the vectorized knowledge base.\n\n## Parameters\n- **query**: A reformulated version of the user’s question optimized for semantic search.\n\n## Returns\nRelevant context extracted from the documents in the knowledge base.\n\n## Example\n\n```json\n{\n  \"query\": \"prices for virtual tutoring classes at secondary level\"\n}\n```"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[10560,-1760],"id":"666561b4-23c8-48f6-a5ab-75fa792e4785","name":"knowledge_base1"},{"parameters":{"descriptionType":"manual","toolDescription":"=Use this tool to retrieve the **subjects offered by the institute**.\n\nThe tool also returns the relationship between each **subject name** and its corresponding **id_materia**.\n\nThese subjects are an **internal abstraction used by the system** and must **not be shown to the student as a list**.","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":654411774,"mode":"list","cachedResultName":"materias_db","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=654411774"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[10896,-1440],"id":"a67232e9-ea86-47a4-857b-fb3ae7a3c518","name":"get_subjects","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"description":"=Use this tool to **retrieve potential dates and times available for class reservations**.\n\nThe available options are generated based on the **criteria provided in the input parameters**.\n\nThe tool returns a list of **possible scheduling slots** that match the requested conditions.","workflowId":{"__rl":true,"value":"6eKRRIEBPx9qvhCr","mode":"list","cachedResultUrl":"/workflow/6eKRRIEBPx9qvhCr","cachedResultName":"check_availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_materia_solicitada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_materia_solicitada', ``, 'number') }}","duracion_minutos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_minutos', ``, 'number') }}","id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', ``, 'number') }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', ``, 'number') }}","profesor_preferido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesor_preferido', `Si el alumno no especifico profesor_preferido rellenar con \"\" o dejar en empty`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_materia_solicitada","displayName":"id_materia_solicitada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"duracion_minutos","displayName":"duracion_minutos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"profesor_preferido","displayName":"profesor_preferido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10896,-1584],"id":"f855ff24-7afa-4bd5-b4d9-a8900f64b584","name":"check_availability"},{"parameters":{"description":"Use this tool to **verify whether a given date and time falls within the institute's operating hours**.\n\nThe tool returns **true or false**, along with a **reason if the time is not valid**.\n\n## Input\n\n- **fecha_hora**: Date and time in **ISO 8601 format**","workflowId":{"__rl":true,"value":"habecPuCgCf9J2si","mode":"list","cachedResultUrl":"/workflow/habecPuCgCf9J2si","cachedResultName":"comprobar_hora"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_preferida', ``, 'string') }}"},"matchingColumns":["fecha_preferida"],"schema":[{"id":"fecha_preferida","displayName":"fecha_preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10896,-1728],"id":"102464ef-670d-4d26-80d4-87d828052cec","name":"check_time"},{"parameters":{"description":"=Use this tool to **create a class reservation in the database**.\n\nWhen this tool is executed, the system attempts to **schedule the class for the student** using the provided information.\n\n## Result\nIf the operation is successful:\n\n- The reservation is **stored in the database**\n- The class becomes **officially booked for the student**\n\nIf the operation fails, the response will indicate the reason so the system can handle the situation appropriately.","workflowId":{"__rl":true,"value":"In7sN6n9AICU5TjV","mode":"list","cachedResultUrl":"/workflow/In7sN6n9AICU5TjV","cachedResultName":"book_class"},"workflowInputs":{"mappingMode":"defineBelow","value":{"duracion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_clase', ``, 'number') }}","id_alumno":0,"id_profesor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profesor', ``, 'number') }}","id_materia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_materia', ``, 'number') }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', ``, 'number') }}","fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}","descripcion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion_clase', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duracion_clase","displayName":"duracion_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_profesor","displayName":"id_profesor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_materia","displayName":"id_materia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"descripcion_clase","displayName":"descripcion_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10896,-1872],"id":"e95d71e2-0e68-40d3-b128-79b87d37f0ab","name":"book_class"},{"parameters":{"descriptionType":"manual","toolDescription":"=This tool removes the **current state assigned to the student in the system**.\n\nPossible states include:\n\n- **Cancelar**: The system delegates the conversation to the `cancel_agent`.\n- **Agendar**: The system delegates the conversation to the `booking_agent`.\n\nBy removing the current state, the system allows the user to be **delegated again to the appropriate agent**, such as the `cancel_agent`, depending on the user's request.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"numerito"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[11056,-1440],"id":"5e4567e0-9545-4588-a520-7c449c689256","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.\n\n## Input\n\n```json\n{\n  \"conversation_id\": {{ $json.contact_id }}\n}\n```","workflowId":{"__rl":true,"value":"7JlErSNWNcmTtoVJ","mode":"list","cachedResultUrl":"/workflow/7JlErSNWNcmTtoVJ","cachedResultName":"hablar_con_humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contact_id":"={{ $json.contact_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10720,-1584],"id":"4c1e16e6-cc74-4e40-8e41-49a0fa8e41d8","name":"delegate_to_human1"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"db_alumnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"filtersUI":{"values":[{"lookupColumn":"telefono_principal","lookupValue":"={{ $('set_data').first().json.sender }}"},{"lookupColumn":"telefono_alternativo","lookupValue":"={{ $('set_data').first().json.sender }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7840,-1072],"id":"5c895a7f-b875-49a2-9760-a92962ce1793","name":"verify_student","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"operation":"get","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('set_data').item.json.sender }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8560,-1088],"id":"ef500400-0ffd-4972-a33a-43dc535e1f6b","name":"check_status","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c45e3c0-c2b9-4be8-9248-de2c9fab5e7a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8752,-1088],"id":"a442fd27-dff6-41cd-8bb8-0c0731559ad7","name":"status_exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1cc0104e-ed21-4a82-a4a3-4f85d0d24b17","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[9632,-976],"id":"79884d6f-cb51-4cc6-8a35-3d07f7351615","name":"is_the_state_determined"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.state }}","rightValue":"estado-agendar","operator":{"type":"string","operation":"equals"},"id":"6934880c-2a19-43d8-be28-229a171acdc3"}],"combinator":"and"},"renameOutput":true,"outputKey":"AGENDAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a70ace2-a237-45de-b4a6-fc79d4be0623","leftValue":"={{ $json.state }}","rightValue":"estado-cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELAR"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[9840,-1120],"id":"bdbd3915-85da-4818-961d-ce98c16b2463","name":"switch1"},{"parameters":{"descriptionType":"manual","toolDescription":"=This tool removes the **current state assigned to the student in the system**.\n\nPossible states include:\n\n- **Cancelar**: The system delegates the conversation to the `cancel_agent`.\n- **Agendar**: The system delegates the conversation to the `booking_agent`.\n\nBy removing the current state, the system allows the user to be **delegated again to the appropriate agent**, such as the `booking_agent`, depending on the user's request.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"numerito"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[10896,-784],"id":"ef2d2272-6587-48c2-bd1a-8a551b9c600c","name":"delete_state1","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.\n\n## Input\n\n```json\n{\n  \"conversation_id\": {{ $json.contact_id }}\n}\n```","workflowId":{"__rl":true,"value":"7JlErSNWNcmTtoVJ","mode":"list","cachedResultUrl":"/workflow/7JlErSNWNcmTtoVJ","cachedResultName":"hablar_con_humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contact_id":"={{ $json.contact_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10672,-800],"id":"7288fc6f-47a6-48db-a536-f6737c1c62c0","name":"delegate_to_human2"},{"parameters":{"description":"=Search for relevant information in the vectorized knowledge base.\n\n## Parameters\n- **query**: A reformulated version of the user’s question optimized for semantic search.\n\n## Returns\nRelevant context extracted from the documents in the knowledge base.\n\n## Example\n\n```json\n{\n  \"query\": \"prices for virtual tutoring classes at secondary level\"\n}\n```"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[10512,-640],"id":"ec6863bd-71c9-46f7-a8e6-817a799446f7","name":"knowledge_base2"},{"parameters":{"description":"=Use this tool to **remove a class reservation from the database**.\n\nIf the operation is successful, the reservation is deleted and the **class is effectively cancelled**.","workflowId":{"__rl":true,"value":"kdNIysO9o8duF8Kd","mode":"list","cachedResultUrl":"/workflow/kdNIysO9o8duF8Kd","cachedResultName":"cancel_class"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', ``, 'number') }}","nuevo_id_estado_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nuevo_id_estado_clase', ``, 'number') }}","fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nuevo_id_estado_clase","displayName":"nuevo_id_estado_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11056,-944],"id":"54a13638-a90f-4f9a-9659-b70da5c2d4e9","name":"cancel_class"},{"parameters":{"jsonSchemaExample":"{\n\t\"response\": {\n      \"part_1\": \"Parte uno de la respuesta\",\n      \"part_2\": \"Parte dos de la respuesta (opcional)\",\n      \"part_3\": \"Parte tres de la respuesta (opcional)\"\n    }\n}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[11344,-1008],"id":"c7bd5ef9-f83b-4237-b36e-d9330d2e630a","name":"Structured Output Parser1"},{"parameters":{"hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Identity\nYou are a **WhatsApp message output formatter**.\n\n## Purpose\nYour task is to take the input text and return it in **JSON format** according to the Output Parser.\n\nThe output must be divided into **three parts**, but **only the first part is mandatory**.  \nIf the message is short, **part_2 and part_3 may be empty**.\n\n---\n\n# Instructions\n\n- **part_1 must always contain text.**\n- **part_2 and part_3 may be empty (\"\") or omitted if unnecessary.**\n\nIf **part_1 becomes too long**, you must **use part_2 and part_3** to split the message.\n\nNever include any information in the output that **does not come from the input text**.\n\nEach part must contain **no more than 20 words**.\n\nEnsure the final text is written in **Latin American Spanish**.\n\nRemove the following characters from the text:\n```\n*  ¡  #\n```\n\nSplit the input into **up to three logical parts**, preserving the **original meaning**.\n\nRemove **line breaks** inside the messages.\n\nDo **not add, remove, or reorder information**.\n\nNever output anything **outside the JSON**.  \nDo not include explanations or extra text.\n\n---\n\n# Input\n\nRead the content provided in **Input to format**.\n\nApply the rules above to **clean and segment the text**.\n\nReturn **only the resulting JSON**.\n\n---\n\n# Short Message Rules\n\n- **Maximum 20 words per message**\n- If the message exceeds this length, divide it into multiple `responder()` messages\n- Each message must be **self-contained and understandable on its own**"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[11232,-1200],"id":"56790453-081f-4ee9-9372-2553f5e3c744","name":"Basic LLM Chain1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[11904,-1072],"id":"cd54361a-3c0f-47e8-8ba1-d9c3fc3c43a0","name":"second_message_does_not_exists"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[12496,-1072],"id":"d127e4e8-951b-49bf-9eb4-e692592775d5","name":"third_message_does_not_exists"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[11568,-1200],"id":"94474c16-7a47-480c-a71f-4ab1cd3eb037","name":"send_message_1"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[12144,-1216],"id":"d8fb31fe-d1dd-46f3-b255-bedf2e808b66","name":"send_message_2"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[12720,-1232],"id":"bd2c5aec-3029-4232-a2ce-638dd972f602","name":"send_message_3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11904,-1216],"id":"9881c8d6-0227-47f6-9f0b-089d29eb6809","name":"wait1","webhookId":"6870ce85-e0b3-4cf7-a739-4a2cde0ee80f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12496,-1232],"id":"1f274462-ca1a-45c5-8e49-78b6b16189f3","name":"wait2","webhookId":"6870ce85-e0b3-4cf7-a739-4a2cde0ee80f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"652de2bc-de14-42a1-91db-2c70a5587fa5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[11728,-1200],"id":"680ef18f-c22b-4bc2-a090-734366d47732","name":"second_exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"652de2bc-de14-42a1-91db-2c70a5587fa5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[12304,-1216],"id":"1ef13aaa-d8c6-48fc-b4ca-b5fe610e8d31","name":"third_exists"},{"parameters":{"promptType":"define","text":"={{ $('join_messages').first().json.concat_message }}","options":{"systemMessage":"=# Identity\nYou are the **BOOKING assistant** for Educare. Your role is to help students schedule tutoring sessions step by step.\n\n## Purpose\nYour objective is to successfully **book a class for a student at Educare**, **only if the user actually wants to schedule a class**.\n\n## What You Do NOT Do\nYou do **not** answer:\n- Academic questions, homework, or exercises\n- General knowledge questions (history, science, culture, etc.)\n- Any request unrelated to managing classes at Educare\n\n**If the user asks something outside your scope, respond with:**\n\n\"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n\n## Communication Style\n- Communicate in **Argentinian Spanish used on WhatsApp**\n- Use informal forms such as *vos, querés, decís, tenés, pensás*\n- Friendly but professional\n- Natural, like a real human\n\n---\n\n# Instructions\n\nYou may **ask follow-up questions** until you clearly understand the information needed to schedule the class.\n\nTo accomplish your goal, you may use the available tools.\n\n---\n\n# Tools\n\n## Tool 1: Think\n\n### When to Use\nAlways use the **Think** tool internally to reason about:\n- What the user wants\n- Whether the next action you plan to take is correct\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 2: delegate_to_human1\n\n### When to Use\nUse **delegate_to_human1** when:\n\n- You cannot clearly determine the subject requested\n- There is no availability\n- The student rejects all available options\n\nOr also when:\n\n- You cannot clearly understand what the user wants\n- The user explicitly asks to speak with a human\n- The user implies they want to speak with a human\n- The user expresses a serious complaint\n- You cannot solve the problem\n- A technical error occurs\n- The user asks to speak with **Erica** or **Yamila**\n\n### Input\nNone\n\n### Output\n```\n{\n  \"succes\": true\n}\n```\n\n---\n\n## Tool 3: knowledge_base1\n\n### When to Use\nUse **knowledge_base1** whenever you need information about Educare.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 4: get_subjects\n\n### When to Use\nUse **get_subjects** to match the subject requested by the student with one of the subjects offered by the institute.\n\nAlso use it to determine the **id_materia** corresponding to that subject.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 5: check_availability\n\n### When to Use\nUse **check_availability** to determine one or more possible class options for the student.\n\n### Input\n```json\n{\n\"id_materia_solicitada\": <determine using get_subjects>,\n\"duracion_minutos\": [60 | 90 | 120],\n\"id_modalidad\": [1 | 2 | 3],\n\"profesor_preferido\": <teacher name | \"\" | null>,\n\"id_alumno\": <student id>\n}\n```\n\n#### Notes\n`profesor_preferido`: teacher name or **\"\"** if there is no preference.\n\n`id_modalidad`  \n1 = PRESENCIAL  \n2 = VIRTUAL  \n3 = INDISTINTO\n\n### Output\n```json\n{\n\"encontrado\": true,\n\"cantidad_opciones\": 3,\n\"opciones\": [\n{\n\"id_profesor\": 1,\n\"nombre_profesor\": \"Santiago Pica\",\n\"fecha_formato_ISO8601\": \"2026-02-24T14:00:00.000-03:00\",\n\"duracion_minutos\": 60,\n\"id_modalidad\": 1,\n\"modalidad\": \"PRESENCIAL\",\n\"justificacion\": \"...\"\n}\n]\n}\n```\n\n---\n\n## Tool 6: check_time\n\n### When to Use\nUse **check_time** to verify that the proposed class time is valid.\n\n### Input\n```json\n{\n\"fecha_preferida\": \"2026-02-24T14:00:00.000-03:00\"\n}\n```\n\n### Output\n```json\n{\n\"valido\": true,\n\"motivo\": \"Horario válido\"\n}\n```\n\n#### Notes\n\n**Opening hours**\n\nMonday to Friday  \n10:00 to 19:00 (last start time: 18:00)\n\nSaturday  \n10:00 to 12:00 (last start time: 11:00)\n\nSunday  \nClosed\n\n---\n\n## Tool 7: book_class\n\n### When to Use\nUse **book_class** once the student has confirmed the exact class they want to schedule.\n\n### Input\n```json\n{\n\"fecha_formato_ISO8601\": \"2026-02-24T14:00:00.000-03:00\",\n\"duracion_clase\": 60,\n\"id_alumno\": 5,\n\"id_profesor\": 1,\n\"id_materia\": 1,\n\"id_modalidad\": 1,\n\"descripcion_clase\": \"Clase regular\"\n}\n```\n\n### Output\n```json\n{\n\"success\": [true | false]\n}\n```\n\n---\n\n## Tool 8: delete_state\n\n### When to Use\nUse **delete_state** when:\n\n- The class was successfully scheduled and `book_class` returned `true`\n- The user decides they actually want to cancel a class\n- The user asks for information about their existing classes\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 9: notify_professor\n\n### When to Use\nUse **notify_professor** after a class has been successfully scheduled and `book_class` returned `true`.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n# Reasoning Steps\n\n## Use the chat history\nAlways check the conversation history to see if the student has already mentioned information relevant to booking the class.\n\n---\n\n## Identify if the user is a student or a tutor\n\nIf it is unclear, ask:\n\n\"Las clases son para vos o para otra persona?\"\n\n---\n\n## Collect class details\n\n### Subject\n\n### Educational level\n\nIf the user has not mentioned it, ask:\n\nIf speaking to the student  \n\"¿En qué año o grado estás?\"\n\nIf speaking to a tutor  \n\"¿En qué año o grado está?\"\n\nExpect answers like:\n\n- \"4to año\"\n- \"1er grado\"\n- \"3er año de universidad\"\n- \"5to grado primaria\"\n\nNormalize internally to:\n\n- \"4to año secundario\"\n- \"1er grado primario\"\n- \"3er año universitario\"\n\n---\n\n### Interpret subject according to level\n\nUse **get_subjects internally** (never show this to the user).\n\ns:\n\nUser says  \n\"matemática\" + \"4to año secundario\" → MATEMATICA - SECUNDARIO\n\nUser says  \n\"física\" + \"2do año universidad\" → FISICA - UNIVERSITARIO\n\nUser says  \n\"inglés\" + \"3er grado\" → INGLES - PRIMARIO\n\n---\n\n### Determine class duration\n\nIf not specified, ask:\n\n\"¿Querés la clase de 1 hora, 1 hora y media o 2 horas?\"\n\nIf the student asks for a recommendation, **always suggest 1 hour and 30 minutes**.\n\n---\n\n### Determine class modality\n\nIf not specified, ask:\n\n\"¿La preferís presencial, virtual o te es indistinto?\"\n\nIf the student says:\n\n- indistinto\n- me da lo mismo\n- me es igual\n- cualquiera\n\nReply:\n\n\"Perfecto. El sistema va a asignar la modalidad según disponibilidad de aulas y horarios del profesor.\"\n\n---\n\n### Preferred teacher (optional)\n\nIf the user mentions a teacher **at any moment**, store that preference.\n\nIf they do not mention one, **do not ask**.\n\n---\n\n## Search for availability\n\nOnce you have all class parameters, call **check_availability**.\n\nIf  \n`encontrado: false`\n\n→ call **delegate_to_human1**\n\nIf  \n`encontrado: true`\n\nPresent the first option:\n\n\"Encontré disponibilidad con [profesor] el [día DD/MM] a las [HH:MM], duración [X], modalidad [Y]. ¿Te sirve?\"\n\nIf rejected, offer the next option.\n\nIf all options are rejected → use **delegate_to_human1**.\n\n---\n\n## Validate time and book\n\nIf the student confirms an option:\n\n1. Verify the time using **check_time**\n2. If valid, call **book_class**\n\n---\n\n## After successful booking\n\nIf  \n`book_class.success = true`\n\nThen:\n\n1. Call **delete_state**\n2. Call **notify_professor**\n\nSend the user the confirmation message.\n\n---\n\n## If the user changes intention\n\nIf at any moment the user indicates they actually want to:\n\n- Cancel a class\n- Ask general information\n\nThen call **delete_state** so another agent can handle the request.\n\n---\n\n# Output Format\n\nReturn the message for the user in this format:\n\n```\n{\n\"output\": \"<message for the user>\"\n}\n```\n\n---\n\n# Context\n\n## Important about class status\n\nAll classes you schedule are created with the status:\n\n**PENDIENTE DE PAGO** (id_estado_clase: 2)\n\nThe administrative team will confirm them manually after payment.\n\n---\n\n## Date format\n\nAlways use **ISO8601 format**\n\n```\n2026-02-24T14:00:00.000-03:00\n```\n\n---\n\n## Detect student vs tutor\n\n### Indicators the user is a tutor\n\n- \"Mi hijo necesita clases\"\n- \"Quiero agendar para mi nene\"\n- \"Es para Juan, mi hijo\"\n- Refers to the student in third person\n\n### Indicators the user is the student\n\n- \"Necesito clases\"\n- \"Quiero agendar\"\n- \"Tengo un examen\"\n- Speaks in first person\n\n---\n\n# User Data\n\n**Student**\n\nNombre: {{nombre_alumno}}  \nTeléfono: {{telefono}}\n\n**User message**\n\n{{mensaje_usuario}}\n\n**Conversation history**\n\n{{historial_reciente}}\n\n---\n\n# Response Rules\n\n- Always write in **Argentinian Spanish**\n- Do not use emojis\n- Do not use unusual symbols such as ! @ # $ %\n- Keep responses concise\n- Include only relevant information\n- Avoid unnecessary filler\n\n---\n\n# Accuracy\n\n- If the knowledge base does not contain the information, say so\n- Do not invent information\n- If unsure, use **delegate_to_human1** and inform the user\n\n---\n\n# Interpreting Natural Messages\n\nUsers will respond naturally, **not using commands or structured formats**.\n\nYour job is to interpret their intent.\n\n---\n\n# If a tool fails\n\nIf you cannot understand the message, respond with:\n\n\"No entiendo bien tu mensaje. ¿Querés agendar, consultar, modificar o cancelar una clase?\"\n\n---\n\n# Important Restriction\n\n**DO NOT use get_subjects to show subject options to the user.**\n\n---\n\n**This is the final prompt. Follow it exactly.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[10752,-1312],"id":"c3252c0e-5a89-4563-97d2-5c617467a978","name":"booking_agent"},{"parameters":{"promptType":"define","text":"={{ $('join_messages').first().json.concat_message }}","options":{"systemMessage":"=# Identity\nYou are the **CANCELLATION assistant** for Educare.\n\nYour role is to help students **cancel scheduled tutoring classes** while correctly applying Educare's **refund policy**.\n\n---\n\n# Educare Cancellation Policy\n\nRefunds depend on how early the cancellation occurs:\n\n- **More than 24 hours before the class:** 100% refund (class is not charged)\n- **Between 2 and 24 hours before the class:** 50% refund (half the class is charged)\n- **Less than 2 hours before the class:** No refund (full class is charged)\n- **No-show:** No refund (full class is charged)\n\nYou must always clearly communicate the refund policy **before performing a cancellation**.\n\n---\n\n# Available Tools\n\n## Tool 1: Think2\nUse this tool to reason internally before taking an action.\n\n### When to use\nAlways use Think2 to:\n- Understand the user's intention\n- Verify that the next action is correct\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 2: delegate_to_human2\n\n### When to use\nUse this tool when:\n\n- The user request cannot be clearly interpreted\n- The user explicitly asks to speak with a human\n- The user implies they want to speak with a human\n- The user expresses a serious complaint\n- You cannot resolve the issue\n- A technical error occurs\n- The user asks to speak with **Erica** or **Yamila**\n\n### Output\n\n```json\n{\n  \"success\": true\n}\n```\n\n---\n\n## Tool 3: knowledge_base2\n\n### When to use\nUse when you need **information about Educare**.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 4: consult_active_classes\n\n### When to use\nUse this tool when you need to know **which active classes the student currently has scheduled**.\n\n### Input\nNone\n\n### Output\nReturns a list of scheduled classes.\n\nOnly classes with:\n\n- `id_estado_clase = 1`\n- `id_estado_clase = 2`\n\ncan be cancelled.\n\nExample response:\n\n```json\n[\n {\n  \"id_clase\": 1,\n  \"fecha_formato_ISO8601\": \"2026-03-14T13:00:00.000-03:00\",\n  \"duracion_clase\": 90,\n  \"fecha\": \"14/3/2026\",\n  \"hora_inicio_clase\": \"1:00:00 p. m.\",\n  \"hora_fin_clase\": \"2:00:00 p. m.\",\n  \"id_alumno\": 8,\n  \"nombre_completo_alumno\": \"mateo viotti\",\n  \"id_profesor\": 4,\n  \"nombre_completo_profesor\": \"Santiago Pica\",\n  \"id_materia\": 1,\n  \"nombre_materia\": \"MATEMATICA - PRIMARIO\",\n  \"modalidad\": \"PRESENCIAL\",\n  \"estado_clase\": \"PENDIENTE DE PAGO\"\n }\n]\n```\n\n---\n\n## Tool 5: delete_state1\n\n### When to use\nUse when:\n\n- A class has been successfully cancelled\n- The student wants to do something else (for example schedule a class)\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 6: cancel_class\n\n### When to use\nUse when you want to **actually cancel the class**.\n\n### Input\n\n```json\n{\n \"id_alumno\": 5,\n \"fecha_formato_ISO8601\": \"<original class start datetime in ISO 8601>\"\n}\n```\n\n### Output\n\n```json\n{\n \"exito\": true | false,\n \"motivo\": \"additional information\"\n}\n```\n\n---\n\n# Reasoning Flow\n\n## Step 1 — Check student classes\n\nUse `consult_active_classes` to determine which classes can be cancelled.\n\nCancelable classes are those with:\n\n- `id_estado_clase = 1`\n- `id_estado_clase = 2`\n\n---\n\n## If the student has scheduled classes\n\nDisplay them clearly and ask:\n\n\"¿Cuál querés cancelar?\"\n\nFormat:\n\n[día DD/MM] a las [HH:MM], con [profesor] de [materia], modalidad [modalidad]\n\nAfter the student selects one, ask for confirmation:\n\n\"Confirmás que querés cancelar la clase de [materia] del [día] a las [hora] con [profesor]?\"\n\nOnly proceed after explicit confirmation.\n\nThen:\n\n1. Execute `cancel_class`\n2. If successful → execute `delete_state1`\n\n---\n\n## If the student has no scheduled classes\n\nRespond:\n\n\"No tenés clases agendadas. ¿Querés agendar una?\"\n\n---\n\n## If at any moment the user does NOT want to cancel\n\nExecute:\n\ndelete_state1\n\nSo another agent can assist them.\n\n---\n\n# Validations\n\n## Class already passed\n\nIf the class date is in the past:\n\nExplain that the class cannot be cancelled.\n\nExample response:\n\nEsa clase ya pasó, no se puede cancelar.  \n¿Querés cancelar otra?\n\n---\n\n## Class already cancelled\n\nIf the class is already cancelled:\n\nEsta clase ya fue cancelada.  \n¿Hay otra que quieras cancelar?\n\n---\n\n# Critical Rules\n\n## Transparency\n\nAlways explain:\n\n- The **refund percentage**\n- Whether **any amount will be charged**\n\nThis must be explained **before cancellation**.\n\n---\n\n## Confirmation\n\nNever cancel a class **without explicit confirmation from the student**.\n\nIf there is a charge (50% or 100%), be **very clear**.\n\n---\n\n# Subject Name Rule\n\nNever show the subject **exactly as it appears in the database**.\n\nExamples:\n\nDatabase value:\nMATEMATICA - PRIMARIO\n\nUser message:\nMATEMATICA\n\nDatabase value:\nFISICA - UNIVERSITARIO\n\nUser message:\nFISICA\n\nAlways remove the level.\n\n---\n\n# Response Rules\n\n- Speak in **Argentinian Spanish**\n- Do not use emojis\n- Do not use symbols such as ! @ # $ %\n- Be concise\n- Only include relevant information\n- Do not add filler text\n\n---\n\n# Accuracy\n\n- If the knowledge base does not contain the information, say so\n- Do not invent information\n- If unsure, delegate to a human using `delegate_to_human2` and inform the user\n\n---\n\n# User Context\n\nStudent:\n\nName: {{nombre_alumno}}  \nPhone: {{telefono}}\n\nUser message:\n\n{{mensaje_usuario}}\n\nConversation context:\n\n{{historial_reciente}}\n\n---\n\n# Natural Language Interpretation\n\nUsers respond naturally, not with commands.\n\nYour job is to **interpret their intention**.\n\n---\n\n# If you do not understand the message\n\nRespond:\n\n\"No entiendo bien tu mensaje. ¿Querés agendar, consultar, modificar o cancelar una clase?\"\n\n---\n\nFollow these instructions **strictly**."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[10752,-1104],"id":"a314c5be-b8ad-45c9-9c48-df81ef5e98a5","name":"cancel_agent"},{"parameters":{"promptType":"define","text":"={{ $('join_messages').first().json.concat_message }}","options":{"systemMessage":"=# Identity\nYou are the **INFORMATION assistant** for Educare, a private tutoring institute.\n\n## Purpose\nYour main task is to determine whether the student wants to:\n- Book a class\n- Cancel a class\n\nYou must also assist students by providing:\n- Information about Educare\n- Information about their scheduled classes\n\n## What You Do NOT Do\nYou do **not** answer:\n- Academic questions, homework, or exercises\n- General knowledge questions (history, science, culture, etc.)\n- Any request unrelated to managing classes at Educare\n\n**If the user asks something outside your scope, respond:**\n\n\"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n\n## Communication Style\n- Communicate in **Argentinian Spanish as used on WhatsApp**\n- Use informal forms such as: *vos, querés, decís, tenés, pensás*\n- Friendly but professional\n- Natural, like a real person\n\n---\n\n# Instructions\n\nFrom the user's messages, determine whether they want to:\n\n- Book a class\n- Cancel a class\n- Get information about their classes\n- Get information about Educare\n\nYou may **ask follow-up questions** until the user's intention becomes clear.\n\nTo accomplish your task, you may use the available tools.\n\n---\n\n# Tools\n\n## Tool 1: Think\n\n### When to Use\nAlways use the **Think** tool to internally reason about:\n- What the user is asking\n- Whether the next action you plan to take is correct\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 2: delegate_to_human\n\n### When to Use\nUse **delegate_to_human** when:\n\n- You cannot clearly understand what the user wants\n- The user explicitly asks to speak with a human\n- The user implies they want to speak with a human\n- The user expresses a serious complaint\n- You cannot solve the user's problem\n- A technical error occurs\n- The user asks to speak with **Erica** or **Yamila**\n\n### Input\nNone\n\n### Output\n```\n{\n  \"succes\": true\n}\n```\n\n---\n\n## Tool 3: knowledge_base\n\n### When to Use\nUse **knowledge_base** whenever you need information about Educare.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 4: booking_state\n\n### When to Use\nUse **booking_state** once you are certain that the user wants to **book a class**.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 5: cancel_state\n\n### When to Use\nUse **cancel_state** once you are certain that the user wants to **cancel a class**.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n## Tool 6: get_classes\n\n### When to Use\nUse **get_classes** once you are certain that the user wants to **retrieve information about their already scheduled classes**.\n\n### Input\nNone\n\n### Output\nNone\n\n---\n\n# Reasoning Steps\n\n1. Interpret the user's message.\n2. If you cannot clearly determine the user's intention, ask questions until you identify whether they want to:\n   - Book a class\n   - Cancel a class\n   - Get information about Educare\n   - Get information about their scheduled classes\n\n3. If the user wants to **book a class**, call the `booking_state` tool. Then return:\n\n```\n{\n  \"estado_determinado\": true,\n  \"mensaje\": \"Write a response for the user here in spanish\"\n}\n```\n\n4. If the user wants to **cancel a class**, call the `cancel_state` tool. Then return:\n\n```\n{\n  \"estado_determinado\": true,\n  \"mensaje\": \"Write a response for the user here in spanish\"\n}\n```\n\n5. If the user wants **information about Educare**, call the `knowledge_base` tool. Then return:\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Write a response in spanish for the user here. Include the information retrieved from Educare.\"\n}\n```\n\n6. If the user wants **information about their classes**, call the `get_classes` tool. Then return:\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Write a response for the user here in spanish. Include the information retrieved from their classes.\"\n}\n```\n\n---\n\n# Output Format\n\nYou must **always return a JSON object**:\n\n```\n{\n  \"estado_determinado\": <true ONLY if cancel_state or booking_state was used>,\n  \"mensaje\": <Response or question for the user in spanish>\n}\n```\n\n---\n\n# Examples\n\n## Example 1\n\n<user_query>\nHola\n</user_query>\n\n<assistant_response>\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Hola, en que te puedo ayudar?\"\n}\n```\n\n</assistant_response>\n\n<user_query>\nQuiero que me expliques de historia\n</user_query>\n\n<assistant_response>\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n}\n```\n\n</assistant_response>\n\n---\n\n## Example 2\n\n<user_query>\nBuenas, quiero una clase\n</user_query>\n\n<assistant_response>\n\ncall booking_state\n\n```\n{\n  \"estado_determinado\": true,\n  \"mensaje\": \"\"\n}\n```\n\n</assistant_response>\n\n---\n\n## Example 3\n\n<user_query>\nBuenas, como va?\n</user_query>\n\n<assistant_response>\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Hola, todo bien? Decime\"\n}\n```\n\n</assistant_response>\n\n<user_query>\nEstaba buscando una clase con Juan\n</user_query>\n\n<assistant_response>\n\ncall booking_state\n\n```\n{\n  \"estado_determinado\": true,\n  \"mensaje\": \"\"\n}\n```\n\n</assistant_response>\n\n---\n\n## Example 4\n\n<user_query>\nAl final no voy a poder ir a la clase del lunes\n</user_query>\n\n<assistant_response>\n\ncall cancel_state\n\n```\n{\n  \"estado_determinado\": true,\n  \"mensaje\": \"\"\n}\n```\n\n</assistant_response>\n\n---\n\n## Example 5\n\n<user_query>\nHola como es el tema de los precios?\n</user_query>\n\n<assistant_response>\n\ncall knowledge_base  \n**reason about the tool output**\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Los precios dependen del nivel, que puede ser primario, secundario o universitario y de la modalidad si es presencial o virtual\"\n}\n```\n\n</assistant_response>\n\n<user_query>\nAh gracias, yo estaba buscando para nivel secundario y quería una clase presencial.\n</user_query>\n\n<assistant_response>\n\ncall knowledge_base  \n**reason about the tool output**\n\n```\n{\n  \"estado_determinado\": false,\n  \"mensaje\": \"Okay en ese caso los precios son: Hora por transferencia: 18500 pesos Pack de 12 horas por transferencia: 210000 pesos Hora en efectivo: 18000 pesos Pack de 12 horas en efectivo: 200000 pesos\"\n}\n```\n\n</assistant_response>\n\n<user_query>\nBuenisimo graciass\n</user_query>\n\n---\n\n# Context\n\n## USER DATA\n\n**Student**\n- Name: {{nombre_alumno}}\n- Phone: {{telefono}}\n\n**User Question**\n{{mensaje_usuario}}\n\n**Conversation Context**\n{{historial_reciente}}\n\n## Response Rules\n\n- Always write in **Argentinian Spanish**\n- Do not use emojis\n- Do not use unusual symbols such as ! @ # $ %\n- Keep responses concise\n- Only include relevant information\n- Avoid unnecessary filler\n\n## Accuracy\n\n- If the knowledge base **does NOT contain the information**, say so\n- Do not invent information\n- If you are unsure, use the **delegate_to_human** tool and inform the user\n\n---\n\n# Interpreting Natural Messages\n\nUsers will respond **naturally**, not with commands or structured formats.\n\nYour job is to **interpret their intention**.\n\n## If a Tool Fails\n\nIf you cannot understand the user's message, respond with:\n\n\"No entiendo bien tu mensaje. ¿Querés agendar, consultar, modificar o cancelar una clase?\"\n\n---\n\n**This is the final prompt. Follow it.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[8944,-976],"id":"d1f01452-d346-4731-9b1a-011dfd2a45d7","name":"orchestrator_agent"},{"parameters":{"description":"=Use this tool to retrieve the **active classes of a specific student**.\n\nOnly classes with the following statuses are returned:\n\n- **CONFIRMADA**\n- **PENDIENTE DE PAGO**\n\nThese represent the classes that are currently scheduled and still active for the student.","workflowId":{"__rl":true,"value":"76mUzLPhTZOJkj3U","mode":"list","cachedResultUrl":"/workflow/76mUzLPhTZOJkj3U","cachedResultName":"consult_active_classes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_alumno":0},"matchingColumns":["id_alumno"],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[10896,-944],"id":"9565f26f-d98b-48d3-a6d1-47885186674e","name":"consult_active_classes"},{"parameters":{"description":"=Use this tool to **notify the teacher after a class has been successfully scheduled with them**.\n\nThe notification informs the teacher that the class has been **confirmed and assigned**.","workflowId":{"__rl":true,"value":"6bhyTVxQgwi7mRu4","mode":"list","cachedResultUrl":"/workflow/6bhyTVxQgwi7mRu4","cachedResultName":"notify_professor"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11056,-1584],"id":"f3507454-72dc-43a2-a0bf-9e06f2cd26af","name":"notify_professor"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6000,-880],"id":"39eaa79f-d960-429e-bd2a-ca2daa3d9080","name":"do_nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6784,-1120],"id":"2011d06c-ea15-44ea-aabf-46390d733746","name":"different_message"},{"parameters":{"assignments":{"assignments":[{"id":"daa3efb8-9334-4735-addf-d5fd98002170","name":"final_message","value":"={{ $json.final_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5184,-992],"id":"ce0c1c71-d934-4c27-81af-62a6f30ad250","name":"txt_message"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=text_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3936,-1056],"id":"f41048ac-b474-4bdf-9015-142fae94b5a7","name":"is_message"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=voice_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3936,-1232],"id":"0b5c0ef2-803a-42ac-b2e2-a474dc2f01d3","name":"is_audio"},{"parameters":{"assignments":{"assignments":[{"id":"13684b52-17ec-4292-b622-f3fc8a57e2ac","name":"content_type","value":"={{ $json.message_type }}","type":"string"},{"id":"c306dbda-b821-479e-a013-72179cb9e47c","name":"data_time","value":"={{ $('Webhook').first().json.body.created_at }}","type":"string"},{"id":"c83e2009-c6f3-4f09-a810-216af9b588e4","name":"account_id","value":"={{ $('Webhook').first().json.body.account.id }}","type":"number"},{"id":"8cd5d12d-8dac-4220-a3bd-1197859ce2ad","name":"conversation_id","value":"={{ $('Webhook').first().json.body.conversation.id }}","type":"number"},{"id":"36ffbdb8-5ee6-4f76-9b80-e084992e5bfb","name":"sender","value":"={{ $('Webhook').first().json.body.conversation.meta.sender.phone_number }}","type":"string"},{"id":"966336a8-5cfe-48de-b495-f2e7e8720b1b","name":"message_id","value":"={{ $('Webhook').first().json.body.source_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4208,-1056],"id":"336b916a-8f5d-47d7-a136-581c883924c3","name":"set_data"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('set_data').item.json.sender }}","message":"={\n  \"type\": \"human\",\n  \"content\": \"{{ $('join_messages').first().json.concat_message }}\",\n  \"additional_kwargs\": {},\n  \"response_metadata\": {}\n}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7376,-1168],"id":"47710488-8726-4000-b9ec-3b07034f9c3b","name":"insert_user_message_in_history","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6240,-1200],"id":"9943a762-4383-4c8a-a2ba-c0b5e1ae3d6e","name":"teacher_so_dont_answer"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('set_data').item.json.sender }}","message":"={\n  \"type\": \"ai\",\n  \"content\": \"{{ $('txt_message').first().json.final_message }}\",\n  \"additional_kwargs\": {},\n  \"response_metadata\": {}\n}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5632,-880],"id":"f7b12722-d965-4135-a995-7c4874b5a8e5","name":"insert_our_message_in_history","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"contains"},"id":"0bc273e3-5ad3-40f6-ad62-5496d877b410"}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"94598980-9d81-4729-bcd4-5d3040fb7332","leftValue":"={{ $('Webhook').item.json.body.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[5376,-992],"id":"cf231515-a4cb-40c4-8dd8-f3215fef1a83","name":"is_inboundMessage"},{"parameters":{"content":"## QUE ME ENVIE UN MSJ","height":80,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,-880],"id":"c3385f0e-cd27-4f92-942c-0c7a470b8872","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[3264,-896],"id":"89596686-a5a7-443a-97b4-f6db5648dc1d","name":"Error Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3936,-880],"id":"aa032cc9-bba5-4b3a-8eb2-d13ed643cc57","name":"neither_audio_nor_message"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.conversation.messages[0].attachments[0].data_url }}","rightValue":"audio","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e5351974-02cb-4772-8fc0-1ed77dbf8e92"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edcb1dfc-961b-45ec-ab24-306ae036c33f","leftValue":"={{ $json.body.content_type }}","rightValue":"text","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3712,-1072],"id":"ab333c3f-cbfb-4a12-9cc4-1858dd970e8c","name":"is_message_or_audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa4e974f-8f40-48a8-9919-d312647ace52","leftValue":"={{ $('Webhook').first().json.body.conversation.labels[0] }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[7168,-976],"id":"a59115c2-abdd-4d83-b369-b2ca48b057df","name":"human_should_respond"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6576,-736],"id":"61c12fc1-f8fa-405e-b6ee-eae98d81efce","name":"wait","webhookId":"d74e3db8-864a-48cb-9aa9-3968cd7f63a9"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).message_id }}","rightValue":"={{ $('set_data').first().json.message_id }}","operator":{"type":"string","operation":"notEquals"},"id":"ea522f43-53f8-498e-bc9d-44e8db0fa25f"}],"combinator":"and"},"renameOutput":true,"outputKey":"=Ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e2d70099-8aca-4c6e-b5b3-52612b49e5e9","leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus(5, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"looseTypeValidation":"={{ false }}","options":{"fallbackOutput":"extra","renameFallbackOutput":"wait"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[6592,-992],"id":"94c6cc46-0bc2-4773-a7ed-f56a537d0595","name":"switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a3f2aba0-2f33-4b05-972b-e927255eacac","leftValue":"={{ $json.content_type }}","rightValue":"=text_message","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4416,-1056],"id":"5fa6203e-0e7d-4c97-9bdd-f191b864f746","name":"is_a_text_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d746567-d382-42b6-8f67-65568246172d","leftValue":"={{ $json.telefono_profesor }}","rightValue":"={{ $('set_data').first().json.sender }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6000,-1056],"id":"d3727bec-1cee-4600-a2d0-6d1d03a0b2e4","name":"is_teacher"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"telefono_profesor"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[5824,-1056],"id":"23c9c641-2361-429d-b93f-c5fa540dd7b3","name":"join_teachers_data"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1863051755,"mode":"list","cachedResultName":"db_profesores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1863051755"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5632,-1056],"id":"36a6b27d-ea1b-4836-a41e-6d85dc3baa28","name":"get_teachers_data","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7600,-1168],"id":"63d6201b-ebe0-4f75-8003-2d3b4c45674e","name":"message_to_human"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4768,-912],"id":"7ae2f0ae-bbba-4e26-99be-00060d90c31c","name":"transcribe_the_audio","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4592,-912],"id":"5d123c9e-cce0-4959-924d-e0b1986a961c","name":"download_audio"},{"parameters":{"httpMethod":"POST","path":"educare","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[3264,-1072],"id":"bee5708b-0d9b-4fb2-9f80-13f2159ae562","name":"Webhook","webhookId":"80f355a9-095f-4aec-97a1-11a56765bbf9"},{"parameters":{"assignments":{"assignments":[{"id":"398e1f2d-7232-4dc6-866b-b9962f927fae","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6960,-976],"id":"ef840694-e670-4f54-ae71-07f2d3f09df5","name":"join_messages"},{"parameters":{"operation":"delete","key":"={{ $('set_data').first().json.sender }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6784,-976],"id":"ab25e6ec-dece-4221-8668-cd228fe44ed4","name":"delete_buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('set_data').first().json.sender }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6432,-976],"id":"d0981b1f-1e69-4b9e-b9e9-62254fe07b2c","name":"get_buffer_data","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('set_data').first().json.sender }}_buffer","messageData":"={{ JSON.stringify({\n  'message_id': $('set_data').first().json.message_id,\n  'message': $('txt_message').first().json.final_message,\n  'date_time': $('set_data').first().json.data_time\n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[6240,-976],"id":"3ebccd73-c3f1-46fb-b156-84a3f91a7f08","name":"buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,-912],"id":"a2bb120f-b4e8-4019-9d91-46e88634bb50","name":"voice_message.txt"},{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $('Webhook').item.json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,-1072],"id":"42b542f6-86e7-41c9-863c-334f8a4b3949","name":"text_message.txt"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Disculpa, no te puedo seguir ayudando. El equipo se va a poner en contacto en cualquier momento"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[8048,-848],"id":"b3a7ac85-5a3a-4a4d-bc4a-c2ccf0a7b512","name":"response_guardarails","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').item.json.account_id }}/conversations/{{ $('set_data').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"humano\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[5824,-880],"id":"09f62aa3-e653-45a7-a6a8-8c7279568732","name":"turn_off_bott","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f8983c67-2592-494f-b22b-a8d4f377d737","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3488,-1072],"id":"1e88becf-9c3b-4535-a802-8da046e04cea","name":"is_form_response"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3712,-1264],"id":"f9fca281-e942-4ab5-83f4-b92ca3177e56","name":"form_response"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('set_data').first().json.account_id }}/conversations/{{ $('set_data').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Disculpa, no te puedo seguir ayudando. El equipo se va a poner en contacto en cualquier momento"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[8304,-976],"id":"415b76c1-6c67-4cf5-b3e1-c3f32c7f46ef","name":"send_form","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"orchestrator_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"orchestrator_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"booking_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"booking_agent","type":"ai_memory","index":0}]]},"Think1":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"Think2":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"cancel_agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"cancel_agent","type":"ai_languageModel","index":0}]]},"Call 'hablar_con_humano'2":{"main":[[{"node":"sera contactado con humano","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"knowledge_base","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"knowledge_base","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"knowledge_base2","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"knowledge_base2","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Supabase Vector Store2":{"ai_vectorStore":[[{"node":"knowledge_base1","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"knowledge_base1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"is_the_state_determined","type":"main","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model11":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model14":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model15":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"student_is_registred":{"main":[[{"node":"check_status","type":"main","index":0}],[{"node":"send_form","type":"main","index":0}]]},"Guardrails":{"main":[[{"node":"verify_student","type":"main","index":0}],[{"node":"Call 'hablar_con_humano'1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Call 'hablar_con_humano'1":{"main":[[{"node":"response_guardarails","type":"main","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"knowledge_base":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"booking_state":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"cancel_state":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"get_classes":{"ai_tool":[[{"node":"orchestrator_agent","type":"ai_tool","index":0}]]},"knowledge_base1":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"get_subjects":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"check_availability":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"check_time":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"book_class":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"delete_state":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"delegate_to_human1":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"verify_student":{"main":[[{"node":"student_is_registred","type":"main","index":0}]]},"check_status":{"main":[[{"node":"status_exists","type":"main","index":0}]]},"status_exists":{"main":[[{"node":"switch1","type":"main","index":0}],[{"node":"orchestrator_agent","type":"main","index":0}]]},"is_the_state_determined":{"main":[[{"node":"switch1","type":"main","index":0}],[{"node":"send_message2","type":"main","index":0}]]},"switch1":{"main":[[{"node":"booking_agent","type":"main","index":0}],[{"node":"cancel_agent","type":"main","index":0}],[{"node":"Call 'hablar_con_humano'2","type":"main","index":0}]]},"delete_state1":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"delegate_to_human2":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"knowledge_base2":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"cancel_class":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"send_message_1","type":"main","index":0}]]},"send_message_1":{"main":[[{"node":"second_exists","type":"main","index":0}]]},"send_message_2":{"main":[[{"node":"third_exists","type":"main","index":0}]]},"wait1":{"main":[[{"node":"send_message_2","type":"main","index":0}]]},"wait2":{"main":[[{"node":"send_message_3","type":"main","index":0}]]},"second_exists":{"main":[[{"node":"wait1","type":"main","index":0}],[{"node":"second_message_does_not_exists","type":"main","index":0}]]},"third_exists":{"main":[[{"node":"wait2","type":"main","index":0}],[{"node":"third_message_does_not_exists","type":"main","index":0}]]},"booking_agent":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"cancel_agent":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"orchestrator_agent":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"consult_active_classes":{"ai_tool":[[{"node":"cancel_agent","type":"ai_tool","index":0}]]},"notify_professor":{"ai_tool":[[{"node":"booking_agent","type":"ai_tool","index":0}]]},"is_message":{"main":[[{"node":"set_data","type":"main","index":0}]]},"is_audio":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_data":{"main":[[{"node":"is_a_text_message","type":"main","index":0}]]},"txt_message":{"main":[[{"node":"is_inboundMessage","type":"main","index":0}]]},"insert_our_message_in_history":{"main":[[{"node":"turn_off_bott","type":"main","index":0}]]},"is_inboundMessage":{"main":[[{"node":"get_teachers_data","type":"main","index":0}],[{"node":"insert_our_message_in_history","type":"main","index":0}]]},"is_message_or_audio":{"main":[[{"node":"is_audio","type":"main","index":0}],[{"node":"is_message","type":"main","index":0}],[{"node":"neither_audio_nor_message","type":"main","index":0}]]},"human_should_respond":{"main":[[{"node":"insert_user_message_in_history","type":"main","index":0}],[{"node":"Guardrails","type":"main","index":0}]]},"wait":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"switch":{"main":[[{"node":"different_message","type":"main","index":0}],[{"node":"delete_buffer","type":"main","index":0}],[{"node":"wait","type":"main","index":0}]]},"is_a_text_message":{"main":[[{"node":"text_message.txt","type":"main","index":0}],[{"node":"download_audio","type":"main","index":0}]]},"is_teacher":{"main":[[{"node":"teacher_so_dont_answer","type":"main","index":0}],[{"node":"buffer","type":"main","index":0}]]},"join_teachers_data":{"main":[[{"node":"is_teacher","type":"main","index":0}]]},"get_teachers_data":{"main":[[{"node":"join_teachers_data","type":"main","index":0}]]},"insert_user_message_in_history":{"main":[[{"node":"message_to_human","type":"main","index":0}]]},"transcribe_the_audio":{"main":[[{"node":"voice_message.txt","type":"main","index":0}]]},"download_audio":{"main":[[{"node":"transcribe_the_audio","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"is_form_response","type":"main","index":0}]]},"join_messages":{"main":[[{"node":"human_should_respond","type":"main","index":0}]]},"delete_buffer":{"main":[[{"node":"join_messages","type":"main","index":0}]]},"get_buffer_data":{"main":[[{"node":"switch","type":"main","index":0}]]},"buffer":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"voice_message.txt":{"main":[[{"node":"txt_message","type":"main","index":0}]]},"text_message.txt":{"main":[[{"node":"txt_message","type":"main","index":0}]]},"turn_off_bott":{"main":[[{"node":"do_nothing","type":"main","index":0}]]},"is_form_response":{"main":[[{"node":"form_response","type":"main","index":0}],[{"node":"is_message_or_audio","type":"main","index":0}]]},"send_form":{"main":[[{"node":"check_status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"d84f5760-3dbe-4468-8cc8-5f376efc1f61","activeVersionId":null,"versionCounter":2112,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T15:31:52.840Z","createdAt":"2026-03-10T15:31:52.840Z","role":"workflow:owner","workflowId":"2SPM1pspKFyhzgm1","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}