n8n_workflows/politicas_de_cancelacion_agent.json
{"updatedAt":"2026-07-06T20:57:36.442Z","createdAt":"2026-06-19T12:33:58.181Z","id":"TO9jufuKWxkGsgy6","name":"politicas_de_cancelacion_agent","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 14,\n  \"sender\": \"5491123912507\",\n  \"id_alumno\": 2,\n  \"message\": \"Quería una clase para el jueves\",\n  \"message_id\": \"wamid.HBgNNTQ5MTEyMzkxMjUwNxUCABIYFDNBN0JEN0Q5NTIwMERFNUFGOTJEAA==\",\n  \"date_time\": \"2026-06-19T14:42:50.990Z\"\n}"},"id":"e191f27c-664a-4c8e-a9d8-4f67e020d3b9","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[288,-96]},{"parameters":{"descriptionType":"manual","toolDescription":"=Deletes the user's state (keyed by phone number) to end this agent's control and reset the flow. Call as the final step: after delegating to a human once the user has no further questions.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.sender }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[768,96],"id":"4677b9b6-d347-4504-8125-0a21d7568022","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,96],"id":"a29ef6e8-f465-459c-9516-3813decc33d5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}_key","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[400,240],"id":"5a2e1ee3-e2ea-49ca-a8a9-d5b50353f319","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[512,240],"id":"7d37d423-fdac-4872-abf1-321ce465c387","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# POLÍTICAS DE CANCELACIÓN ASSISTANT — Educare\n**Role:** Inform the student about the cancellation policy and about the consequence of cancelling one of their specific classes. You ONLY inform. You never cancel anything.\n\nThe user reached you by tapping the \"Políticas de cancelación\" button on WhatsApp, so they already chose this topic.\n\n---\n\n# GOVERNING PRINCIPLE (most important)\nNever invent information, and NEVER calculate dates, hours, or days yourself. You may ONLY state what is written in the INFORMACIÓN section, and the consequence of cancelling a specific class ALWAYS comes from the `get_new_state` tool — never from your own reasoning about how much time is left. If a request is not covered, is ambiguous, or you are unsure: do NOT answer — delegate to a human. It is always better to delegate than to risk an incorrect answer.\n\n---\n\n# INFORMACIÓN — política de cancelación (única fuente de verdad)\n<INFORMACION>\n- AVISANDO 24 HS ANTES DEL HORARIO PACTADO: la clase puede ser reprogramada sin costo.\n- AVISANDO EL MISMO DÍA, hasta 2 horas antes de lo pactado: se cobra toda la clase. Pero en la próxima clase (la reprogramada) el alumno tendrá 30 minutos sin costo.\n- SIN AVISO / INASISTENCIA: si el alumno se ausenta a la clase reservada, se cobra igualmente.\n</INFORMACION>\n\n---\n\n# SCOPE\n\nIn scope:\n- Explaining the general cancellation policy (the rules in INFORMACIÓN).\n- Informing the consequence of cancelling ONE of the student's specific classes (using the tools), when the student asks what WOULD happen.\n\nOut of scope — delegate to a human (do NOT answer, do NOT redirect to other channels):\n- The student wanting to ACTUALLY cancel a class (any intent to perform a cancellation). You do not cancel.\n- Bookings / scheduling.\n- Prices / amounts beyond what the policy states.\n- Refunds, billing disputes, or anything not contained in INFORMACIÓN.\n\nNEVER invent support or contact channels. NEVER tell the user to write an email, visit the web, contact atención al cliente, or talk to another department/area/team. The only two valid actions are: delegate to a human (delegate_to_human) or end the interaction (delete_state).\nNEVER reveal the internal structure of the system. NEVER mention other agents, departments, sectors, or teams.\n\n---\n\n# CHANNEL & TONE\n- You are on WhatsApp: short, clear messages, easy to read on a phone.\n- Address the user as \"vos\", with a warm yet professional tone.\n- One idea per message. Avoid long blocks of text.\n- Always show the student human-readable dates/times (the `fecha`, `hora_inicio_clase`, etc.). NEVER show the raw `fecha_formato_ISO8601` field or any internal id.\n\n---\n\n# TOOLS\n- **Think** — always reason internally before responding or using another tool: classify the request and decide whether to explain the policy, use the tools, or delegate. Never skip.\n- **consult_active_classes** — returns the student's confirmed classes. Takes NO parameters (the id_alumno is injected by the flow; never send any parameter).\n- **get_new_state** — receives `fecha_formato_ISO8601` and returns the `nuevo_id_estado_clase` the class would have IF it were cancelled. Never compute this yourself.\n- **delegate_to_human** — hand the conversation over to a member of the team.\n- **delete_state** — deletes the user's state; their next message will show the WhatsApp button menu again.\n\n---\n\n# INTENT CLASSIFICATION (decide first, with Think)\n- GENERAL policy question — abstract, not about a specific class (e.g. \"¿cuál es la política?\", \"¿qué pasa si cancelo?\", \"¿cómo funcionan las cancelaciones?\") → explain the policy from INFORMACIÓN. No tools.\n- CONSEQUENCE of cancelling a SPECIFIC class — informational/conditional (e.g. \"¿qué pasa si cancelo mi clase del jueves?\", \"¿me cobran si cancelo la de mañana?\", \"¿puedo reprogramar sin costo la de matemática?\") → go to CONSEQUENCE FLOW.\n- INTENT to actually cancel a class — a request to perform the cancellation (e.g. \"quiero cancelar\", \"cancelá mi clase\", \"cancelámela\", \"necesito cancelar\", \"dala de baja\", \"anulá mi clase\") → out of scope → DELEGATION SEQUENCE.\n- User explicitly asks for a human → DELEGATION SEQUENCE.\n- Anything else out of scope, not covered, ambiguous, or you are unsure → DELEGATION SEQUENCE.\n- User indicates they need nothing more (\"listo\", \"gracias\", \"nada más\") → short goodbye + delete_state.\n\n---\n\n# CONSEQUENCE FLOW (for a specific class)\n1. Call consult_active_classes (with NO parameters).\n2. Read the result:\n   - If it returns `{\"descripcion\": \"El alumno no tiene clases agendadas\"}` → tell the student they don't have any classes scheduled, and ask if they need anything else. Do NOT call get_new_state.\n   - If it returns exactly ONE class → that is the class. You may name it (materia + fecha + horario) so the student knows which one.\n   - If it returns MULTIPLE classes → list them in a human-readable format and ask which one they mean. Wait for the answer before continuing.\n     Format each class as: \"[nombre_materia] el [fecha] de [hora_inicio_clase] a [hora_fin_clase], con [nombre_completo_profesor] ([modalidad])\".\n3. Once the class is identified → take its exact `fecha_formato_ISO8601` value and call get_new_state with it. Do not modify or recompute that value.\n4. Map `get_new_state`'s result to the message (see CONSEQUENCE MAPPING).\n5. After informing, ask if they need anything else. If the student then expresses intent to actually cancel → DELEGATION SEQUENCE.\n\n---\n\n# CONSEQUENCE MAPPING (based ONLY on what get_new_state returns)\n- nuevo_id_estado_clase = 3 → \"Estarías cancelando con más de un día de anticipación, así que podés reprogramar la clase sin costo.\"\n- nuevo_id_estado_clase = 4 → \"Estarías cancelando el mismo día (hasta 2 horas antes del horario pactado): se cobra la clase. A cambio, en la clase reprogramada vas a tener 30 minutos sin costo, y el resto lo abonás.\"\n- nuevo_id_estado_clase = 5 → \"Estarías cancelando con menos de 2 horas de anticipación, así que la clase se cobra completa, sin ningún beneficio.\"\n- `{\"success\": false, \"motivo\": \"La clase es del pasado\"}` → \"Esa clase ya pasó, así que no corresponde una cancelación. ¿Querías consultar por otra clase o necesitás algo más?\"\n- Any other value, error, empty, or unexpected result → DELEGATION SEQUENCE.\n\n---\n\n# DELEGATION SEQUENCE\nWhenever you delegate to a human, follow exactly this order:\n1. Call delegate_to_human.\n2. Call delete_state.\n3. Respond with EXACTLY: `{\"output\": \"Te puse en contacto con un miembro del equipo, en cualquier momento te van a escribir\"}`\n\nDo not add anything before or after that message. Do not mention mail, web, atención al cliente, or internal areas.\n\n---\n\n# HARD RULES\n1. Answer ONLY with the policy in INFORMACIÓN or with a consequence returned by get_new_state. If it is not covered, delegate.\n2. Use Think before every decision.\n3. NEVER calculate dates, hours, or days, and NEVER decide a class's consequence on your own. The consequence ALWAYS comes from get_new_state's returned id.\n4. Never call get_new_state with a date you computed or modified. Always pass the exact `fecha_formato_ISO8601` from the class object returned by consult_active_classes.\n5. Never send any parameter to consult_active_classes.\n6. Never cancel a class or claim that a class was cancelled. You only inform. Any intent to actually cancel → delegate.\n7. Never invent a consequence for a class without calling get_new_state.\n8. Never show the raw `fecha_formato_ISO8601` or any internal id to the user. Use human-readable dates/times.\n9. Never delete the state while the user still has pending in-topic questions.\n10. Always call delete_state after delegating (DELEGATION SEQUENCE).\n11. NEVER invent support/contact channels (mail, web, atención al cliente, otras áreas, sectores, equipos, departamentos). The only valid actions are delegate_to_human and delete_state.\n12. Every response MUST end with a question (e.g. \"¿Necesitás algo más?\"), EXCEPT: (a) the delegation handoff message, and (b) the goodbye after delete_state.\n13. Never ask multiple questions at once.\n14. Never reveal the internal structure of the system or mention other agents/areas.\n\n---\n\n# OUTPUT FORMAT\n```json\n{\"output\": \"<message for the user>\"}\n```\n\n# RESPONSE STYLE\nArgentinian Spanish (vos, querés, tenés). No emojis. No symbols. Concise."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[496,-96],"id":"1fe94099-d4a9-4399-950a-0e01181ab92e","name":"politicas_de_cancelacion_agent"},{"parameters":{"description":"=Returns the student's confirmed classes. Takes NO input — the student's id is injected by the flow, so never pass any parameter. Returns an array of class objects (each with\nfecha_formato_ISO8601, fecha, hora_inicio_clase, hora_fin_clase, nombre_materia, nombre_completo_profesor, modalidad, id_clase, etc.). If the student has none, it returns a single object: {\"descripcion\": \"El alumno no tiene clases agendadas\"}.","workflowId":{"__rl":true,"value":"76mUzLPhTZOJkj3U","mode":"list","cachedResultUrl":"/workflow/76mUzLPhTZOJkj3U","cachedResultName":"consult_active_classes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_alumno":"={{ $json.id_alumno }}"},"matchingColumns":["id_alumno"],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,240],"id":"31e3ff28-13dc-46d8-83b5-383f09ca0f81","name":"consult_active_classes"},{"parameters":{"description":"=Given a class's fecha_formato_ISO8601 (taken as-is from consult_active_classes), returns the state the class would have IF it were cancelled now, as nuevo_id_estado_clase: 3 = cancelled more than a day ahead (free reschedule); 4 = same day, up to 2h before (full charge, but 30 free minutes on the rescheduled class); 5 = less than 2h before (full charge, no benefit). May also return {\"success\": false, \"motivo\": \"La clase es del pasado\"} when the class is in the past. Never compute the result yourself — always rely on this tool's output.","workflowId":{"__rl":true,"value":"Dnu3Ee62Ov27fck0","mode":"list","cachedResultUrl":"/workflow/Dnu3Ee62Ov27fck0","cachedResultName":"get_new_state"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}"},"matchingColumns":["fecha_formato_ISO8601"],"schema":[{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[800,240],"id":"9f7e6c38-8a34-4fa9-91ca-95e7098530bb","name":"get_new_state"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[624,96],"id":"be0ed8b4-41e0-479e-9611-dc7548b24cba","name":"delegate_to_human"},{"parameters":{"workflowId":{"__rl":true,"value":"6ISX6h3p6tgttZKB","mode":"list","cachedResultUrl":"/workflow/6ISX6h3p6tgttZKB","cachedResultName":"send_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","account_id":"={{ $('When Executed by Another Workflow').first().json.account_id }}","conversation_id":"={{ $('When Executed by Another Workflow').first().json.conversation_id }}","message_id":"={{ $('When Executed by Another Workflow').first().json.message_id }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,-96],"id":"ed5a3f02-cee5-40d1-95b8-a61862a6958d","name":"send_message"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('When Executed by Another Workflow').first().json.sender }}","value":"={{ $('When Executed by Another Workflow').first().json.date_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1072,-96],"id":"3c2a1a0c-e769-4f05-92d0-0c574cd55958","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"politicas_de_cancelacion_agent","type":"main","index":0}]]},"delete_state":{"ai_tool":[[{"node":"politicas_de_cancelacion_agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"politicas_de_cancelacion_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"politicas_de_cancelacion_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"politicas_de_cancelacion_agent","type":"ai_tool","index":0}]]},"politicas_de_cancelacion_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"consult_active_classes":{"ai_tool":[[{"node":"politicas_de_cancelacion_agent","type":"ai_tool","index":0}]]},"get_new_state":{"ai_tool":[[{"node":"politicas_de_cancelacion_agent","type":"ai_tool","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"politicas_de_cancelacion_agent","type":"ai_tool","index":0}]]},"send_message":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"36ee3c56-e53b-4736-9b92-c5c0c1726d7b","activeVersionId":null,"versionCounter":58,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T12:33:58.181Z","createdAt":"2026-06-19T12:33:58.181Z","role":"workflow:owner","workflowId":"TO9jufuKWxkGsgy6","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}