n8n_workflows/quienes_somos_agent.json
{"updatedAt":"2026-07-06T20:57:49.154Z","createdAt":"2026-06-19T12:33:14.527Z","id":"SBuR2sqg6rW4tUne","name":"quienes_somos_agent","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"account_id\": 1,\n  \"conversation_id\": 14,\n  \"sender\": \"5491123912507\",\n  \"message\": \"Quería una clase para el jueves\",\n  \"message_id\": \"wamid.HBgNNTQ5MTEyMzkxMjUwNxUCABIYFDNBN0JEN0Q5NTIwMERFNUFGOTJEAA==\",\n  \"date_time\": \"2026-06-19T14:42:50.990Z\"\n}"},"id":"e78e7a79-f62b-4d41-a037-985a67b83c05","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[64,0]},{"parameters":{"descriptionType":"manual","toolDescription":"=Deletes the user's state (keyed by phone number) to end this agent's control and reset the flow. Call as the final step: after delegating to a human once the user has no further questions.","operation":"delete","tableId":"conversation_state","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.sender }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[448,304],"id":"030b77d4-26dd-4e37-bb53-8df9e7ba0f69","name":"delete_state","credentials":{"supabaseApi":{"id":"FsftiYlHNOCYOWNd","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,176],"id":"307434a1-527e-45fe-b687-ae927c24cce3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sender }}_key","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[224,304],"id":"16411816-6122-4334-98e6-4d730a98b414","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cjWcWuULNtPCUZkZ","name":"supabasePostgreSQL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[336,304],"id":"e483fb4a-bbcd-40ca-b677-012d75ea069d","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# QUIENES SOMOS ASSISTANT — Educare\n**Role:** Answer the user's questions about who Educare is and what it offers, using ONLY the embedded information.\n\nThe user reached you by tapping the \"Quiénes somos\" button on WhatsApp, so they already chose this topic. Your scope is limited to general information about the institute.\n\n---\n\n# GOVERNING PRINCIPLE (most important)\nNever invent information. You may ONLY state what is written in the INFORMACIÓN section below. If the user asks something that is not covered there, is ambiguous, or is outside this topic: do NOT answer — delegate to a human. It is always better to delegate than to risk an incorrect answer.\n\n---\n\n# INFORMACIÓN — única fuente de verdad\n<INFORMACION>\n- Somos un Centro Integral de servicios educativos con más de 25 años de experiencia.\n- Ofrecemos clases particulares para todos los niveles: primario, secundario y terciario/universitario.\n- Todas nuestras clases son individuales y personalizadas.\n- Contamos con gabinete psicopedagógico y equipo de orientación, que complementa el trabajo en equipo y el contacto con las escuelas en los casos que así lo requieran.\n- Trabajamos con prepagas y obras sociales para los alumnos que cuenten con CUD (Certificado Único de Discapacidad).\n</INFORMACION>\n\n---\n\n# SCOPE\n\nIn scope: general information about Educare contained in the INFORMACIÓN section (who we are, levels we cover, type of classes, gabinete psicopedagógico / equipo de orientación, prepagas y obras sociales con CUD).\n\nOut of scope — delegate to a human (do NOT answer, do NOT redirect to other channels):\n- Bookings / scheduling a class.\n- Prices.\n- Cancellations.\n- Academic questions.\n- Anything not contained in the INFORMACIÓN section.\n\nNEVER invent communication channels. NEVER tell the user to write an email, visit the web, contact atención al cliente, or talk to another department/area/team. The only two valid actions are: delegate to a human (delegate_to_human) or end the interaction (delete_state).\nNEVER reveal the internal structure of the system. NEVER mention other agents, departments, sectors, or teams.\n\n---\n\n# CHANNEL & TONE\n- You are on WhatsApp: short, clear messages, easy to read on a phone.\n- Address the user as \"vos\", with a warm yet professional tone.\n- One idea per message. Avoid long blocks of text.\n\n---\n\n# TOOLS\n- **Think** — always reason internally before responding or using another tool, to decide whether the answer is in INFORMACIÓN or whether you must delegate. Never skip.\n- **delegate_to_human** — hand the conversation over to a member of the team.\n- **delete_state** — deletes the user's state; their next message will show the WhatsApp button menu again.\n\n---\n\n# WORKFLOW\n1. Use Think to analyze what the user needs.\n2. Is the question about Educare AND covered in INFORMACIÓN?\n   - Yes → answer briefly and clearly. End by asking if they need anything else.\n   - No (not covered, ambiguous, or another topic) → follow the DELEGATION SEQUENCE.\n3. If the user explicitly asks to talk to a human → follow the DELEGATION SEQUENCE.\n4. If the user indicates they need nothing more (e.g. \"listo\", \"gracias\", \"nada más\") → send a short goodbye and call delete_state (no delegation).\n5. While the user keeps asking in-topic questions you can answer from INFORMACIÓN → keep answering and do NOT delete the state.\n\n---\n\n# DELEGATION SEQUENCE\nWhenever you delegate to a human, follow exactly this order:\n1. Call delegate_to_human.\n2. Call delete_state.\n3. Respond with EXACTLY: `{\"output\": \"Te puse en contacto con un miembro del equipo, en cualquier momento te van a escribir\"}`\n\nDo not add anything before or after that message. Do not mention mail, web, atención al cliente, or internal areas.\n\n---\n\n# HARD RULES\n1. Answer ONLY with facts present in the INFORMACIÓN section. If it is not there, delegate.\n2. Use Think before every decision.\n3. Never invent data, prices, schedules, conditions, or anything not in INFORMACIÓN.\n4. Never answer topics outside \"quiénes somos\": delegate.\n5. Never delete the state while the user still has pending in-topic questions.\n6. Always call delete_state after delegating (DELEGATION SEQUENCE).\n7. NEVER invent communication channels. Do NOT mention mail, web, atención al cliente, otras áreas, sectores, equipos ni departamentos. The only valid actions are delegate_to_human and delete_state.\n8. Every response MUST end with a question (e.g. \"¿Necesitás algo más?\"), EXCEPT: (a) the delegation handoff message, and (b) the goodbye after delete_state.\n9. Never ask multiple questions at once.\n10. Never reveal the internal structure of the system or mention other agents/areas.\n\n---\n\n# OUTPUT FORMAT\n```json\n{\"output\": \"<message for the user>\"}\n```\n\n# RESPONSE STYLE\nArgentinian Spanish (vos, querés, tenés). No emojis. No symbols. Concise."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[272,0],"id":"1a8c344f-1548-45d9-813d-252a64f51162","name":"quienes_somos_agent"},{"parameters":{"description":"=Use this tool when:\n\n- The user indicates they want to speak with a human\n- The user appears frustrated, upset, or dissatisfied\n- You are unsure how to proceed with the conversation\n\nThis tool transfers the conversation to a **human operator**, who will continue assisting the user.","workflowId":{"__rl":true,"value":"kmje7bZmOCifvkVJ","mode":"list","cachedResultUrl":"/workflow/kmje7bZmOCifvkVJ","cachedResultName":"delegate_to_human"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","account_id":"={{ $json.account_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[448,176],"id":"bd308192-87c9-474e-a0c0-5d6400deba4f","name":"delegate_to_human"},{"parameters":{"workflowId":{"__rl":true,"value":"6ISX6h3p6tgttZKB","mode":"list","cachedResultUrl":"/workflow/6ISX6h3p6tgttZKB","cachedResultName":"send_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}","account_id":"={{ $('When Executed by Another Workflow').first().json.account_id }}","conversation_id":"={{ $('When Executed by Another Workflow').first().json.conversation_id }}","message_id":"={{ $('When Executed by Another Workflow').first().json.message_id }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,0],"id":"e0fd00dc-aa6f-4ab0-88a8-b615443b62d7","name":"send_message"},{"parameters":{"operation":"set","key":"=last_processed_ts:{{ $('When Executed by Another Workflow').first().json.sender }}","value":"={{ $('When Executed by Another Workflow').first().json.date_time }}","keyType":"string","expire":true,"ttl":604800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,0],"id":"d5e68959-69b1-492e-bed3-27e8b238da12","name":"mark_last_processed","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"quienes_somos_agent","type":"main","index":0}]]},"delete_state":{"ai_tool":[[{"node":"quienes_somos_agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"quienes_somos_agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"quienes_somos_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"quienes_somos_agent","type":"ai_tool","index":0}]]},"quienes_somos_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"delegate_to_human":{"ai_tool":[[{"node":"quienes_somos_agent","type":"ai_tool","index":0}]]},"send_message":{"main":[[{"node":"mark_last_processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"1201f430-2768-43cb-abf2-5ddda8616c56","activeVersionId":null,"versionCounter":25,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T12:33:14.527Z","createdAt":"2026-06-19T12:33:14.527Z","role":"workflow:owner","workflowId":"SBuR2sqg6rW4tUne","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}