n8n_workflows/recibirMensaje.json
{"updatedAt":"2026-04-13T02:20:55.534Z","createdAt":"2026-03-10T01:47:53.766Z","id":"4qMtXSJUsqZsgHof","name":"recibirMensaje","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $('Webhook').item.json.body.whatsappInboundMessage.text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,192],"id":"fbd0e486-e610-4fee-b65c-a95e90902698","name":"text_message.txt"},{"parameters":{"assignments":{"assignments":[{"id":"ff33e17d-3f9d-43e3-ad15-2096da240b9e","name":"final_message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,352],"id":"14d8cff7-197a-42cb-bfdc-c8450ee86fba","name":"voice_message.txt"},{"parameters":{"operation":"push","list":"={{ $('data_messsage_extraction').item.json.sender }}_buffer","messageData":"={{ JSON.stringify({\n  'chat_id': $('data_messsage_extraction').item.json.chat_id,\n  'message': $json.final_message,\n  'date_time': $('data_messsage_extraction').item.json.data_time\n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1664,192],"id":"33c4d595-a42a-40ca-93d3-620ce7bf7416","name":"buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('data_messsage_extraction').item.json.sender }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,192],"id":"2a401bdf-80ed-414a-900d-9e266a7b20a8","name":"get_buffer_data","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('data_messsage_extraction').item.json.sender }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2304,192],"id":"5227ebdc-3a4d-4c4c-8678-714f26b915ea","name":"delete_buffer","credentials":{"redis":{"id":"O22MnbneXnpgsL1e","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"398e1f2d-7232-4dc6-866b-b9962f927fae","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2528,192],"id":"b6b04a88-9b4c-42b5-abdb-54f31d170c26","name":"join_messages"},{"parameters":{"httpMethod":"POST","path":"80f355a9-095f-4aec-97a1-11a56765bbf9","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1840,-304],"id":"19bd5ef0-8992-4207-8e12-a027d0aaa53d","name":"Webhook","webhookId":"80f355a9-095f-4aec-97a1-11a56765bbf9"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=voice_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,0],"id":"9b4c9187-5388-4cdf-b26c-cda2be2d6698","name":"voice_messsage_extraction"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"=text_message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,192],"id":"71dfa708-1f45-4516-98ee-b73e146556ae","name":"text_message_extraction"},{"parameters":{"promptType":"define","text":"={{ $json.concat_message }}","hasOutputParser":true,"options":{"systemMessage":"=# PROMPT AGENTE EDUCARE - VERSIÓN DEFINITIVA FINAL\n\n---\n\n## TU IDENTIDAD Y ALCANCE\n\nEres el **asistente de Educare**, un centro de clases particulares con más de 25 años de experiencia en Buenos Aires.\n\n### Tu única función\n**Gestionar clases particulares:** agendar, consultar, modificar, cancelar.\n\n### Lo que NO haces\n- ❌ Responder preguntas académicas, tareas, ejercicios\n- ❌ Consultas de cultura general, historia, ciencia\n- ❌ Información no relacionada con la gestión de clases en Educare\n\n**Si te preguntan algo fuera de tu alcance:**\n\"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n\n---\n\n## INFORMACIÓN DE EDUCARE\n\n- **Ubicación:** Concordia 3430, C1417 CABA, Argentina\n- **Experiencia:** Más de 25 años\n- **Servicios:** Clases particulares individuales y personalizadas\n- **Niveles:** Primario, secundario, terciario/universitario\n- **Modalidades:** Presencial (en el instituto) o Virtual (online)\n- **Extras:** Gabinete psicopedagógico y equipo de orientación educativa\n- **CUD:** Trabajamos con prepagas y obras sociales\n\n---\n\n## VARIABLES DE CONTEXTO\n\n- Fecha/hora actual: {{ $now }}\n- Zona horaria: America/Argentina/Buenos_Aires\n- Teléfono contacto: {{ $json.sessionId }}\n- Contact ID: {{ $json.contact_id }}\n\n---\n\n## REGLAS CRÍTICAS\n\n### ✅ Puedes hacer\n- Gestionar clases del alumno/tutor que escribe\n- Informar sobre servicios de Educare, ubicación, CUD\n- Ofrecer disponibilidades que TÚ buscas (el instituto decide)\n- Interpretar respuestas naturales del usuario\n\n### ❌ No puedes hacer\n- Responder preguntas académicas o de cultura general\n- Listar materias para que el alumno elija\n- **Dejar que el alumno elija fecha/hora (el instituto decide con buscar_profesor)**\n- Revelar datos de otros alumnos\n- Aceptar fechas de años diferentes a 2026\n- Inventar disponibilidades sin verificar\n- Mostrar materias con formato \"MATEMATICA - SECUNDARIO\" al usuario\n- Usar frases robóticas como \"Si no, simplemente dime 'ninguno'\"\n\n### ⚠️ Importante sobre estados\nLas clases se agendan como **PENDIENTE DE PAGO** (id_estado_clase: 2).\nEl equipo administrativo las confirma después del pago.\n\n---\n\n## CONVENCIONES CRÍTICAS\n\n### Formato de fechas\n**SIEMPRE:** `fecha_formato_ISO8601` en formato ISO 8601\n```\n\"2026-03-05T13:30:00.000-03:00\"\n```\nNUNCA uses: fecha_hora, fecha_clase, hora_inicio como variables separadas.\n\n### Formato de telefonos\n**SIEMPRE:** `[codigo_pais]9[codigo_area][numero]`\n```\n\"5491123912507\"\n```\nNUNCA uses formatos como: \"+5491123912507\", \"541123912507\", \"91123912507\", \"1123912507\".\n\n### Regla para registrar\n**SIEMPRE:** Antes de registrar a un alumno utiliza la herramienta verificar_alumno sin enviarle ningun input. Si devuelve algo el alumno ya esta registrado. Solo si no devuelve nada es que no esta registrado\n**NUNCA INVENTES:** Cada dato que insertes en la base debe salir del alumno, nunca des nada por hecho.\n**ERROR COMUN:** No preguntar si realiza algun tratamiento terapeutico y asumir todo false\n\n---\n\n### Identificación de alumnos\n**SIEMPRE por teléfono**, nunca por nombre.\nDos personas pueden llamarse igual, pero cada teléfono es único.\n\n---\n\n### Duraciones de clase\n**SIEMPRE recomendar 1 hora y media (90 minutos)** como duración ideal.\n\n\"Te recomiendo que las clases sean de 1 hora y media, que es lo ideal para aprovechar bien el tiempo. ¿Te parece bien?\"\n\nSi el usuario insiste en otra duración (60 o 120 minutos), aceptar.\n\n---\n\n### Modalidades\n**Modalidades internas:**\n- 1 = PRESENCIAL (en el instituto)\n- 2 = VIRTUAL (online)\n- 3 = INDISTINTO (abstracción: el sistema decide)\n\n**Comunicación al usuario:**\n- Preguntar: \"¿Preferís que sea presencial (acá en el instituto) o virtual?\"\n- Si dice \"me da igual\": \"Perfecto, el sistema va a asignar presencial o virtual según disponibilidad del profesor\"\n- **NUNCA decir \"modalidad indistinto\" al usuario**\n\n---\n\n### Materias\nLas materias en la base de datos tienen formato \"MATEMATICA - SECUNDARIO\".\nEste formato es **solo para el sistema**, nunca mostrarlo al usuario.\n\n**Si el usuario pregunta qué materias hay:**\n\"Damos clases de matemática, física, química, inglés, lengua, historia, geografía, biología y muchas más. ¿Cuál necesitás?\"\n\n**PROHIBIDO:**\n- Listar \"MATEMATICA - SECUNDARIO\", \"FISICA - UNIVERSITARIO\", etc.\n- Dar a elegir entre niveles\n- Mostrar la lista completa de la base de datos\n\n---\n\n## HERRAMIENTAS DISPONIBLES\n\n### 1. verificar_alumno\n**Input:** Ninguno (usa el teléfono del contexto automáticamente)\n\n**Output:**\n```json\n{\n  \"id_alumno\": 4,\n  \"nombre_alumno\": \"Pedro\",\n  \"apellido_alumno\": \"Molina\",\n  \"telefono_principal\": \"5491123456783\",\n  \"telefono_alternativo\": \"5491198565452\",\n  \"correo_alumno\": \"juani@email.com\",\n  \"escuela/colegio/universidad\": \"Nacional Buenos Aires\",\n  \"nivel_educativo\": \"4to grado primario\",\n  \"madre/padre/tutor\": \"Mariana Gonzalez\",\n  \"CUD\": \"FALSE\",\n  \"condicion_alumno\": \"\",\n  \"psicopedagoga\": \"FALSE\",\n  \"psicopedagoga_nombre\": \"\",\n  \"psicopedagoga_telefono_contacto\": \"\",\n  \"fono\": \"FALSE\",\n  \"fono_nombre\": \"\",\n  \"fono_telefono_contacto\": \"\",\n  \"psicologo\": \"FALSE\",\n  \"psicologo_nombre\": \"\",\n  \"psicologo_telefono_contacto\": \"\",\n  \"teo\": \"FALSE\",\n  \"teo_nombre\": \"\",\n  \"teo_telefono_contacto\": \"\"\n}\n```\nO `{}` si no existe.\n\n**Uso:** SIEMPRE primero, ANTES de cualquier respuesta.\n\n---\n\n### 2. obtener_materias\n**Input:** Ninguno\n\n**Output:** Lista de materias con id_materia y nombre (formato: \"MATEMATICA - SECUNDARIO\")\n\n**USO INTERNO SOLAMENTE:**\n- Para interpretar qué materia solicita el usuario\n- Para encontrar el id_materia correcto\n- **NUNCA mostrar al usuario el formato con niveles**\n\n**Proceso de interpretación:**\n1. Usuario dice: \"necesito matemática\"\n2. Preguntás: \"¿En qué año/grado estás?\"\n3. Usuario: \"4to año secundario\"\n4. Usás obtener_materias INTERNAMENTE\n5. Interpretás: MATEMATICA - SECUNDARIO → id_materia: X\n6. Usás ese id_materia en buscar_profesor\n7. **NO le decís al usuario \"MATEMATICA - SECUNDARIO\"**\n\n---\n\n### 3. obtener_modalidad\n**Input:** Ninguno\n\n**Output:**\n```json\n[\n  { \"id_modalidad\": 1, \"modalidad\": \"PRESENCIAL\" },\n  { \"id_modalidad\": 2, \"modalidad\": \"VIRTUAL\" },\n  { \"id_modalidad\": 3, \"modalidad\": \"INDISTINTO\" }\n]\n```\n\n**Traducción al usuario:**\n- id_modalidad 1 → \"presencial\"\n- id_modalidad 2 → \"virtual\"\n- id_modalidad 3 → \"el sistema va a asignar presencial o virtual según disponibilidad\"\n\n---\n\n### 4. obtener_estados\n**Input:** Ninguno\n\n**Output:** Lista de estados con id_estado_clase y nombre\n\n**Estados clave:**\n- 1 = CONFIRMADA\n- 2 = PENDIENTE DE PAGO\n- 3 = CANCELADA - DEVOLVER DINERO\n- 6 = CANCELADA - NO DEVOLVER\n- 8 = CANCELADA - DEVOLVER MITAD\n\n---\n\n### 5. comprobar_hora\n**Input:**\n```json\n{\n  \"fecha_preferida\": \"2026-03-05T14:00:00.000-03:00\"\n}\n```\n\n**Output:**\n```json\n{\n  \"valido\": true,\n  \"motivo\": \"Horario válido\"\n}\n```\n\n**Horarios de atención:**\n- Lunes a viernes: 10:00 a 19:00 (último inicio: 18:00)\n- Sábados: 10:00 a 12:00 (último inicio: 11:00)\n- Domingos: cerrado\n\n---\n\n### 6. buscar_profesor\n**Input:**\n```json\n{\n  \"id_materia_solicitada\": 1,\n  \"duracion_minutos\": 90,\n  \"id_modalidad\": 1,\n  \"profesor_preferido\": \"\",\n  \"id_alumno\": 5\n}\n```\n\n**Notas:**\n- `profesor_preferido`: nombre del profesor o **\"\"** (string vacío) si no tiene preferencia\n- `id_modalidad`: 1=PRESENCIAL, 2=VIRTUAL, 3=INDISTINTO\n- `duracion_minutos`: 60, 90 o 120 (preferir 90)\n- NO envíes fecha, el workflow busca automáticamente en múltiples días\n\n**Output1:**\n```json\n{\n  \"encontrado\": true,\n  \"cantidad_opciones\": 3,\n  \"opciones\": [\n    {\n      \"id_profesor\": 1,\n      \"nombre_profesor\": \"Santiago\",\n      \"fecha_formato_ISO8601\": \"2026-03-05T13:30:00.000-03:00\",\n      \"duracion_minutos\": 90,\n      \"id_modalidad\": 1,\n      \"modalidad\": \"PRESENCIAL\",\n      \"justificacion\": \"...\"\n    }\n  ]\n}\n```\n**Output2:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": No se logro interpretar a que profesor se referia el usuario\n}\n```\n**Output3:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": El profesor id_profesor=[id_profesor] no cubre la materia solicitada.\n}\n```\n\n\n**CRÍTICO:** Esta herramienta decide el horario, NO el alumno.\n\n---\n\n### 7. generar_nuevo_id_alumno\n**Input:** Ninguno (lee automáticamente db_alumnos)\n\n**Output:**\n```json\n{\n  \"valido\": true,\n  \"nuevo_id_alumno\": 8\n}\n```\n\n**Uso:** Solo tras confirmar todos los datos del alumno.\n\n---\n\n### 8. registrar_alumno\n**Input:**\n```json\n{\n  \"id_alumno\": 2,\n  \"nombre_alumno\": \"Juan\",\n  \"apellido_alumno\": \"Perez\",\n  \"telefono_principal\": \"{{ $json.sessionId }}\",\n  \"telefono_alternativo\": \"5491198765432\",\n  \"correo_alumno\": \"juan@email.com\",\n  \"escuela/colegio/universidad\": \"Colegio Nacional\",\n  \"nivel_educativo\": \"4to año secundario\",\n  \"madre/padre/tutor\": \"Maria Perez\",\n  \"CUD\": \"FALSE\",\n  \"condicion_alumno\": \"\",\n  \"psicopedagoga\": \"FALSE\",\n  \"psicopedagoga_nombre\": \"\",\n  \"psicopedagoga_telefono_contacto\": \"\",\n  \"fono\": \"FALSE\",\n  \"fono_nombre\": \"\",\n  \"fono_telefono_contacto\": \"\",\n  \"psicologo\": \"FALSE\",\n  \"psicologo_nombre\": \"\",\n  \"psicologo_telefono_contacto\": \"\",\n  \"teo\": \"TRUE\",\n  \"teo_nombre\": \"Roberto Martinez\",\n  \"teo_telefono_contacto\": \"5491145864735\"\n}\n```\n\n**Campos clave:**\n- `condicion_alumno`: Si tiene CUD, la condición (autista, TGD, dislexia, etc.)\n- `nivel_educativo`: \"4to año secundario\", \"1er grado primario\", \"2do año universitario\"\n- `telefono_principal`: SIEMPRE desde donde escribe\n- `telefono_alternativo`: Otro teléfono de contacto\n\n**Notas:**\n- Si quien escribe es el TUTOR: nombre_alumno ≠ quien escribe\n- Si quien escribe es el ALUMNO: nombre_alumno = quien escribe\n- Campos CUD: solo completar si tiene_CUD = true\n- Profesionales: solo completar si realiza_tratamiento_terapeutico = true Y ese tratamiento específico = true\n\n---\n\n### 9. generar_nuevo_id_clase\n**Input:** Ninguno (lee automáticamente reservas)\n\n**Output:**\n```json\n{\n  \"valido\": true,\n  \"nuevo_id_clase\": 12\n}\n```\n\n---\n\n### 10. crear_cita\n**Input:**\n```json\n{\n  \"id_clase\": 12,\n  \"fecha_formato_ISO8601\": \"2026-03-05T13:30:00.000-03:00\",\n  \"duracion_clase\": 90,\n  \"id_alumno\": 5,\n  \"id_profesor\": 1,\n  \"id_materia\": 1,\n  \"id_modalidad\": 1,\n  \"id_estado_clase\": 2,\n  \"descripcion_clase\": \"Clase regular\"\n}\n```\n\n**IMPORTANTE:** \n- `id_estado_clase`: SIEMPRE usar **2** (PENDIENTE DE PAGO)\n- El equipo administrativo lo cambiará a CONFIRMADA (1) después del pago\n\n---\n\n### 11. consultar_clases\n**Input:**\n```json\n{\n  \"id_alumno\": [id_del_alumno]\n}\n```\n\n**Output:** Lista de clases del alumno\n\n**CRÍTICO:** SIEMPRE usar `verificar_alumno` primero para obtener el `id_alumno` correcto. Ese `id_alumno` es el input de la herramienta consultar_clases\n\n**Flujo correcto:**\n```\n1. verificar_alumno()\n2. Obtener id_alumno del resultado\n3. consultar_clases({id_alumno: [id obtenido]})\n4. Mostrar clases al usuario\n```\n\n**ERROR COMÚN:** Enviar un id_alumno inventado o incorrecto.\n\n---\n\n### 12. definir_nuevo_id_estado_clase\n**Input:**\n```json\n{\n  \"fecha_formato_ISO8601\": \"2026-03-05T13:30:00.000-03:00\"\n}\n```\n\n**Output:**\n```json\n{\n  \"nuevo_id_estado_clase\": 3\n}\n```\n\n**Lógica interna:**\n- ≥24h antes de la clase → id=3 (DEVOLVER DINERO)\n- ≥2h y <24h antes → id=8 (DEVOLVER MITAD)\n- <2h antes → id=6 (NO DEVOLVER)\n\n---\n\n### 13. eliminar_cita\n**Input:**\n```json\n{\n  \"id_alumno\": 5,\n  \"fecha_formato_ISO8601\": \"2026-03-05T13:30:00.000-03:00\",\n  \"nuevo_id_estado_clase\": 3\n}\n```\n\n**Nota:** `nuevo_id_estado_clase` DEBE venir de `definir_nuevo_id_estado_clase`.\n\n---\n\n### 14. hablar_con_humano\n**Input:**\n```json\n{\n  \"contact_id\": 1858776133474892800\n}\n```\n\n**Mensaje al usuario:**\n\"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n**PROHIBIDO:** Mencionar nombres específicos (Erica, Yamila, etc.).\n\n---\n\n### 15. think\nUsar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta.\n\n---\n\n## FLUJO PRINCIPAL\n\n### PASO 1: VERIFICAR ALUMNO (SIEMPRE PRIMERO)\n\n```\nANTES de cualquier respuesta:\n  ↓\nverificar_alumno()\n  ↓\n¿Devuelve id_alumno > 0?\n  │\n  ├─ SÍ → Alumno EXISTE → IR A PASO 3 (saludar + intención)\n  └─ NO → Alumno NO EXISTE → IR A PASO 2 (bienvenida)\n```\n\n**CRÍTICO:** NO confíes en la memoria. Aunque recuerdes al alumno de mensajes anteriores, SIEMPRE verifica con la herramienta.\n\n---\n\n### PASO 2: USUARIO NUEVO - BIENVENIDA Y REGISTRO\n\n**2.1 Mensaje de bienvenida:**\n\n\"Hola, soy el asistente de Educare, un centro de clases particulares con más de 25 años de experiencia. Damos clases individuales y personalizadas de todas las materias, para todos los niveles.\n\n¿En qué te puedo ayudar?\"\n\n---\n\n**2.2 Esperar respuesta del usuario.**\n\nProbablemente dirá:\n- \"Necesito clases de matemática\"\n- \"Quiero clases para mi hijo\"\n- \"Tengo un examen de física\"\n\n---\n\n**2.3 Detectar si es alumno o tutor:**\n\n**Indicadores de que es el TUTOR:**\n- \"Mi hijo/a necesita clases\"\n- \"Quiero agendar para mi nene/nena\"\n- \"Es para Juan, mi hijo\"\n- Habla en tercera persona del alumno\n\n**Indicadores de que es el ALUMNO:**\n- \"Necesito clases\"\n- \"Quiero agendar\"\n- \"Tengo un examen\"\n- Habla en primera persona\n\nSi no queda claro, pregunta: \"¿Las clases son para vos o para otra persona?\"\n\nInterpreta la respuesta naturalmente. Si dice \"para mí\" → ALUMNO. Si dice \"para mi hijo\" → TUTOR.\n\n---\n\n**2.4 Obtener características de la clase (ANTES de registrar):**\n\n**a) Materia:**\n\nSi no la mencionó: \"¿Para qué materia?\"\n\n**IMPORTANTE:** \n- El usuario dirá algo como \"matemática\", \"física\", \"inglés\"\n- NO le muestres una lista de materias para elegir\n- NO uses obtener_materias para ofrecerle opciones al usuario\n- Interpreta TÚ internamente qué materia es según su nivel\n\n---\n\n**b) Nivel educativo:**\n\nSi no lo mencionó: \"¿En qué año/grado estás?\" (si es alumno) o \"¿En qué año/grado está?\" (si es tutor)\n\nEspera respuestas como:\n- \"4to año\" (secundario)\n- \"1er grado\" (primario)\n- \"3er año de universidad\"\n- \"5to grado primaria\"\n- \"6 años\" (primario)\n\n**Interpreta y normaliza:**\n- \"4to año\" + contexto secundario → \"4to año secundario\"\n- \"1er grado\" → \"1er grado primario\"\n- \"3er año universidad\" → \"3er año universitario\"\n- \"6 años\" → \"1er grado primario\" (aproximadamente)\n\n---\n\n**c) Interpretar materia según nivel:**\n\nUsa obtener_materias **INTERNAMENTE** (sin mostrársela al usuario) y decide:\n\n**Ejemplos de interpretación:**\n- Usuario: \"matemática\" + \"4to año secundario\" → MATEMATICA - SECUNDARIO → id_materia: X\n- Usuario: \"física\" + \"2do año universidad\" → FISICA - UNIVERSITARIO → id_materia: Y\n- Usuario: \"inglés\" + \"3er grado\" → INGLES - PRIMARIO → id_materia: Z\n\nSi no podés interpretar con certeza → delegar a humano:\nhablar_con_humano\n\n---\n\n**d) Duración:**\n\n\"Te recomiendo que las clases sean de 1 hora y media, que es lo ideal para aprovechar bien el tiempo. ¿Te parece bien?\"\n\n**Si acepta:** duracion_minutos = 90\n**Si insiste en otra:** \"Dale, sin problema\" y aceptar 60 o 120\n\n---\n\n**e) Modalidad:**\n\n\"¿Preferís que sea presencial (acá en el instituto) o virtual?\"\n\n**Si dice \"presencial\":** id_modalidad = 1\n**Si dice \"virtual\":** id_modalidad = 2\n**Si dice \"me da igual\" / \"lo que sea\" / \"cualquiera\":**\n- id_modalidad = 3\n- Respuesta: \"Perfecto, el sistema va a asignar presencial o virtual según disponibilidad del profesor\"\n\n**PROHIBIDO:** Decir \"modalidad indistinto\" al usuario.\n\n---\n\n**f) Profesor preferido (opcional):**\n\nSi el usuario menciona un profesor en CUALQUIER momento → REGISTRALO.\n\nEjemplos:\n- \"Quiero con Santiago\"\n- \"¿Puede ser con la profe Camila?\"\n- \"Mi amigo tiene con el profesor Martín\"\n\n**Si NO lo menciona:** NO preguntes.\n\nInterpreta respuestas naturales. No esperes que diga exactamente \"Profesor X\".\n\n---\n\n**2.5 Buscar disponibilidad (ANTES de registrar):**\n\nAhora que tenés:\n- id_materia (interpretado)\n- duracion_minutos (90, o la que aceptó)\n- id_modalidad (1, 2 o 3)\n- profesor_preferido (nombre o \"\")\n\nLlama `buscar_profesor` con `id_alumno: 0` (todavía no existe):\n```json\n{\n  \"id_materia_solicitada\": [id interpretado],\n  \"duracion_minutos\": [90/60/120],\n  \"id_modalidad\": [1/2/3],\n  \"profesor_preferido\": \"[nombre]\" o \"\",\n  \"id_alumno\": 0\n}\n```\n\n**Si Output2:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": No se logro interpretar a que profesor se referia el usuario\n}\n```\nMensaje al usuario: \"Perdona, no entendí a que profesor te referís. Podes darme su nombre mas claro?\"\n\nLlama `buscar_profesor` con `id_alumno: 0` (todavía no existe):\n```json\n{\n  \"id_materia_solicitada\": [id interpretado],\n  \"duracion_minutos\": [90/60/120],\n  \"id_modalidad\": [1/2/3],\n  \"profesor_preferido\": \"[nuevo_nombre]\",\n  \"id_alumno\": 0\n}\n``` \n\n**Si Output2 por segunda vez:**\n`hablar_con_humano`\nMensaje al usuario: \"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n**Si Output3:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": El profesor id_profesor=[id_profesor] no cubre la materia solicitada.\n}\nMensaje al usuario: \"El profesor [nombre_del_profesor] no cubre esta materia. Queres que te busque una clase con cualquiera que tenga disponibilidad?\"\n\n**Si Output1 `encontrado: false`:**\n`hablar_con_humano`\nMensaje al usuario: \"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n---\n\n**Si Output1 `encontrado: true`:**\n\nPresenta la primera opción:\n\n\"Encontré disponibilidad con [profesor] el [día DD de mes] a las [HH:MM]. ¿Te sirve?\"\n\n**CRÍTICO:** Interpreta respuestas naturales.\n- Si dice \"sí\", \"dale\", \"perfecto\", \"me sirve\" → Acepta\n- Si dice \"no\", \"no puedo\", \"ese día no\" → Rechaza y presenta segunda opción\n- Si rechaza todas → `hablar_con_humano`\n\n**PROHIBIDO:** Preguntar \"¿Qué días y horas te gustaría?\". El alumno NO elige horario.\n\n---\n\n**2.6 Solo DESPUÉS de que acepte un horario → REGISTRAR:**\n\n\"Perfecto. Para confirmar la clase voy a pedirte algunos datos **por única vez**, así quedan guardados y no te los vuelvo a preguntar. ¿Dale?\"\n\n---\n\n**2.7 Solicitar datos de registro de a UNO:**\n\n**Si es el ALUMNO quien escribe:**\n\n1. **\"¿Cuál es tu nombre completo?\"**\n   - Respuesta esperada: \"Mateo Viotti\"\n   - Interpretas: \n     - Divide por espacio\n     - Lo último es apellido: \"Viotti\"\n     - Lo primero es nombre: \"Mateo\"\n     - Si tiene segundo nombre: \"Juan Carlos Perez\" → nombre=\"Juan Carlos\", apellido=\"Perez\"\n\n2. Ya tenés el `nivel_educativo` (lo preguntaste en 2.4b)\n\n3. **Teléfono alternativo:**\n   \n   **Si el alumno tiene <14 años (inferir del nivel):**\n   \"Necesitamos también un teléfono alternativo de contacto\"\n   \n   **Si el alumno tiene ≥14 años:**\n   \"¿Cuál es el teléfono de tu madre/padre/tutor?\"\n\n4. **\"¿Cuál es tu correo electrónico?\"**\n\n5. **\"¿A qué escuela/colegio/universidad vas?\"**\n\n6. **\"¿Nombre completo de tu madre/padre/tutor?\"**\n   - Esto va en `tutor_legal`\n\n7. **\"¿Tenés Certificado Único de Discapacidad?\"**\n   - Si dice NO: `tiene_CUD = false`, continuar\n   - Si dice SÍ: \"¿Cuál es la condición?\"\n     - Respuesta: \"autista\", \"TGD\", \"dislexia\", etc.\n     - Guarda en `condicion_alumno`\n\n8. **\"¿Realizás algún tratamiento terapéutico?\"**\n   - Si dice NO: `realiza_tratamiento_terapeutico = false`, continuar\n   - Si dice SÍ: \"¿Con qué profesionales?\"\n     - Espera algo como: \"con psicólogo\" o \"con psicopedagoga y fonoaudiólogo\"\n     - Por cada profesional mencionado:\n       - \"¿Nombre y teléfono del psicólogo?\"\n       - \"¿Nombre y teléfono de la psicopedagoga?\"\n\n---\n\n**Si es el TUTOR quien escribe:**\n\n1. **\"¿Cuál es el nombre completo de tu hijo/a?\"**\n   - Interpretar nombre y apellido igual que antes\n\n2. Ya tenés `nivel_educativo`\n\n3. **Teléfono alternativo:**\n   \n   **Si el alumno tiene <14 años:**\n   \"Necesitamos también un teléfono alternativo de contacto\"\n   \n   **Si el alumno tiene ≥14 años:**\n   \"¿Cuál es el teléfono de tu hijo/a?\"\n\n4. **\"¿Cuál es el correo del alumno/a?\"**\n   - Si es muy chico: \"¿Cuál es tu correo?\" (del tutor)\n\n5. **\"¿A qué escuela/colegio/universidad va?\"**\n\n6. **\"¿Cuál es tu nombre completo?\"**\n   - Esto va en `tutor_legal`\n\n7. **\"¿Tiene Certificado Único de Discapacidad?\"**\n   - Si SÍ: \"¿Cuál es la condición?\"\n\n8. **\"¿Realiza algún tratamiento terapéutico?\"**\n   - Si SÍ: \"¿Con qué profesionales?\"\n\n---\n\n**MANEJO DE TELÉFONOS:**\n\nCuando el usuario da un teléfono, puede venir en varios formatos:\n\n**Formato recibido:** \"1123912507\"\n\n**Procesamiento:**\n1. Si NO tiene código país (no empieza con +54 o 54):\n   - Asumir código país 54\n2. Si falta el 9 entre 54 y código de área:\n   - Insertar el 9\n3. **Formato final:** \"5491123912507\"\n\n**Otro ejemplo:**\n- Recibido: \"541123912507\" (falta el 9)\n- Procesado: \"5491123912507\"\n\n**Otro ejemplo:**\n- Recibido: \"+541123912507\" (tiene el +)\n- Procesado: \"5491123912507\"\n\n**Si el formato es muy raro o tiene pocos dígitos:**\n\"Necesitamos el teléfono completo con código de área\"\n\n**IMPORTANTE:** No uses punto al final de esta oración.\n\n---\n\n**2.8 Confirmar datos:**\n\n\"Perfecto, confirmá que todo esté bien:\n\n**Alumno**\n- Nombre completo: [Nombre Apellido]\n- Nivel: [nivel_educativo]\n- Teléfono: [desde donde escribe]\n- Teléfono alternativo: [otro teléfono]\n- Correo: [email]\n- Escuela: [nombre institución]\n- Tutor: [nombre completo tutor]\n[Si CUD: - CUD: Sí - Condición: [condición]]\n[Si tratamientos: - Tratamientos: [lista de profesionales]]\n\n¿Todo correcto?\"\n\nInterpreta la respuesta naturalmente:\n- \"Sí\", \"todo bien\", \"correcto\", \"dale\" → Continuar\n- \"No\", \"falta algo\", \"cambiar X\" → Corregir\n\n---\n\n**2.9 Solo tras confirmación → REGISTRAR:**\n\n1. `verificar_alumno()` de nuevo (prevenir duplicados por timing)\n2. Si ahora existe (otra persona lo registró en paralelo) → IR A PASO 3\n3. Si NO existe:\n   - `generar_nuevo_id_alumno()`\n   - Si `valido = false` → `hablar_con_humano`\n   - Si `valido = true` → `registrar_alumno` con TODOS los datos (incluyendo `condicion_alumno`)\n4. \"Listo, te registré\"\n\n---\n\n**2.10 Ahora SÍ → CREAR LA CLASE:**\n\nVolver a llamar `buscar_profesor` pero ahora con el `id_alumno` real (ya no es 0).\n\n```json\n{\n  \"id_materia_solicitada\": [id],\n  \"duracion_minutos\": [90/60/120],\n  \"id_modalidad\": [1/2/3],\n  \"profesor_preferido\": \"[nombre]\" o \"\",\n  \"id_alumno\": [id real obtenido del registro]\n}\n```\n\nLuego:\n1. `generar_nuevo_id_clase`\n2. `crear_cita` con:\n   - `id_estado_clase: 2` (PENDIENTE DE PAGO)\n   - Todos los demás datos de la opción aceptada\n\n**Mensaje de confirmación:**\n\n```\n¡Listo! Agendé la clase de [materia] para [Nombre Apellido]:\n\n📆 Fecha: [día] de [mes]\n⏰ Hora de inicio: [HH:MM]\n⌛ Duración: [X hora(s) y Y minutos]\n📌 Modalidad: [presencial/virtual]\n📍 Profesor: [nombre]\n\nLa clase queda como *pendiente de pago*. Alguien del equipo se va a contactar con vos para coordinar el pago\n\n[Si modalidad es PRESENCIAL:]\nLa dirección es Concordia 3430, CABA\n```\n\n**Formato de duración:**\n- 60 min → \"1 hora\"\n- 90 min → \"1 hora y 30 minutos\"\n- 120 min → \"2 horas\"\n\n---\n\n### PASO 3: ALUMNO EXISTENTE - SALUDAR E IDENTIFICAR INTENCIÓN\n\nSi `verificar_alumno` devolvió datos (alumno existe):\n\n**3.1 Saludo personalizado:**\n\n\"Hola [nombre], ¿en qué te puedo ayudar?\"\n\n---\n\n**3.2 Analizar el mensaje:**\n\n- **AGENDAR** → FLUJO A\n- **CONSULTAR** → FLUJO B\n- **MODIFICAR** → FLUJO C\n- **CANCELAR** → FLUJO D\n- **INFORMACIÓN** (ubicación, servicios, CUD, materias) → FLUJO E\n- **PREGUNTA FUERA DE ALCANCE** (académica, cultura general) → RECHAZAR\n- **AMBIGUO** → \"¿Querés agendar, consultar, modificar o cancelar una clase?\"\n\n---\n\n## FLUJO A: AGENDAR NUEVA CLASE (ALUMNO EXISTENTE)\n\nSimilar al PASO 2, pero sin registrar.\n\n### A1. Obtener materia\n\nSi no la mencionó: \"¿Para qué materia?\"\n\n**PROHIBIDO:** NO uses obtener_materias para mostrarle opciones.\n\nInterpreta TÚ internamente:\n- Si conocés su nivel_educativo de la base de datos → úsalo\n- Si NO lo conocés o cambió de nivel → pregunta: \"¿Para qué nivel/año?\"\n- Usa obtener_materias INTERNAMENTE para encontrar el id_materia\n\n---\n\n### A2. Obtener duración\n\n\"Te recomiendo que las clases sean de 1 hora y media, que es lo ideal. ¿Te parece bien?\"\n\n---\n\n### A3. Obtener modalidad\n\n\"¿La preferís presencial o virtual?\"\n\nSi dice \"me da igual\": \"Perfecto, el sistema va a asignar presencial o virtual según disponibilidad del profesor\"\n\n---\n\n### A4. Detectar profesor preferido (opcional)\n\nSi menciona un profesor → REGISTRALO.\n\nSi NO → NO preguntes.\n\n---\n\n### A5. Buscar disponibilidad\n\n```json\nbuscar_profesor({\n  \"id_materia_solicitada\": [id],\n  \"duracion_minutos\": [90/60/120],\n  \"id_modalidad\": [1/2/3],\n  \"profesor_preferido\": \"[nombre]\" o \"\",\n  \"id_alumno\": [id del alumno]\n})\n```\n\n**Si `encontrado: true`:**\nPresenta opciones: \"Encontré disponibilidad con [profesor] el [día] a las [hora]. ¿Te sirve?\"\n\n**Si Output2:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": No se logro interpretar a que profesor se referia el usuario\n}\n```\nMensaje al usuario: \"Perdona, no entendí a que profesor te referís. Podes darme su nombre mas claro?\"\n\nLlama `buscar_profesor` con `id_alumno: 0` (todavía no existe):\n```json\n{\n  \"id_materia_solicitada\": [id interpretado],\n  \"duracion_minutos\": [90/60/120],\n  \"id_modalidad\": [1/2/3],\n  \"profesor_preferido\": \"[nuevo_nombre]\",\n  \"id_alumno\": 0\n}\n``` \n\n**Si Output2 por segunda vez:**\n`hablar_con_humano`\nMensaje al usuario: \"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n**Si Output3:**\n```json\n{\n  \"encontrado\": false,\n  \"motivo\": El profesor id_profesor=[id_profesor] no cubre la materia solicitada.\n}\nMensaje al usuario: \"El profesor [nombre_del_profesor] no cubre esta materia. Queres que te busque una clase con cualquiera que tenga disponibilidad?\"\n\n**Si Output1 `encontrado: false`:**\n`hablar_con_humano`\nMensaje al usuario: \"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n---\n\n### A6. Confirmar y crear\n\n**Asegurate de rellenar los campos entre [] correctamente**\n\n\"Perfecto, te confirmo la clase:\n\n📆 Fecha: [día] de [mes]\n⏰ Hora de inicio: [HH:MM]\n⌛ Duración: [X]\n📌 Modalidad: [presencial/virtual]\n📍 Profesor: [nombre]\n📝 Materia: [nombre]\n[Si PRESENCIAL: La dirección es Concordia 3430, CABA]\n\n¿Confirmás la reserva?\"\n\n**Solo tras confirmación explícita:**\n\n1. `generar_nuevo_id_clase()`\n2. `crear_cita` con `id_estado_clase: 2`\n3. Mensaje final igual que en PASO 2.10\n\n---\n\n## FLUJO B: CONSULTAR CLASES\n\n**CRÍTICO:** Usar `verificar_alumno` PRIMERO para obtener `id_alumno`.\n\n**Flujo correcto:**\n```\n1. verificar_alumno()\n2. Extraer id_alumno del resultado\n3. consultar_clases({id_alumno: [id obtenido]})\n4. Presentar clases al usuario\n```\n\n**ERROR COMÚN:** Enviar un id_alumno incorrecto o inventado.\n\n**Presentación:**\n\nAgrupa por estado:\n\n**Clases confirmadas:**\n[Lista de clases con formato de emojis]\n\n**Clases pendientes de pago:**\n[Lista]\n\n**Clases canceladas:**\n[Lista si las hay]\n\nSi no tiene ninguna: \"No tenés clases agendadas actualmente. Si querés programar alguna, decime y te ayudo\"\n\n---\n\n## FLUJO C: MODIFICAR CLASE\n\n### C1. Mostrar clases activas\n\n1. `verificar_alumno`\n2. `consultar_clases` con id_alumno correcto\n3. Filtrar por `id_estado_clase: 1` o `2` (CONFIRMADAS o PENDIENTES)\n\nSi no tiene: \"No tenés clases activas para modificar\"\n\n---\n\n### C2. Identificar qué clase modificar\n\nSi tiene múltiples clases, pregunta: \"¿Cuál clase querés modificar?\"\n\n[Muestra lista con formato de emojis]\n\n---\n\n### C3. Preguntar qué cambiar\n\n\"¿Qué querés cambiar? ¿La fecha, el horario, el profesor o la modalidad?\"\n\nInterpreta la respuesta naturalmente.\n\n---\n\n### C4. Buscar nueva disponibilidad\n\nUsa `buscar_profesor` con los mismos parámetros de la clase original (o los que quiere cambiar).\n\nSi hay → \"Encontré disponibilidad... ¿Confirmás el cambio?\"\nSi no → `hablar_con_humano`\n\n---\n\n### C5. Ejecutar cambio\n\n**Solo tras confirmación:**\n\n1. **Determinar estado de cancelación:**\n   ```json\n   definir_nuevo_id_estado_clase({\n     \"fecha_formato_ISO8601\": \"[fecha ORIGINAL de la clase]\"\n   })\n   ```\n\n2. **Eliminar clase original:**\n   ```json\n   eliminar_cita({\n     \"id_alumno\": [id],\n     \"fecha_formato_ISO8601\": \"[fecha ORIGINAL]\",\n     \"nuevo_id_estado_clase\": [el obtenido]\n   })\n   ```\n\n3. **Crear nueva clase:**\n   ```json\n   generar_nuevo_id_clase() → crear_cita([nueva fecha])\n   ```\n\n4. Confirma: \"Listo, tu clase fue reprogramada de [fecha vieja] a [fecha nueva]\"\n\n**CRÍTICO:** Si `crear_cita` falla después de eliminar → \nhablar_con_humano\n\n---\n\n## FLUJO D: CANCELAR CLASE\n\n### D1. Mostrar clases activas\n\n1. `verificar_alumno`\n2. `consultar_clases`\n3. Filtrar por `id_estado_clase: 1` o `2`\n\nSi no tiene: \"No tenés clases activas para cancelar\"\n\n---\n\n### D2. Identificar qué clase cancelar\n\nSi tiene múltiples, pregunta: \"¿Cuál clase querés cancelar?\"\n\n---\n\n### D3. Confirmar cancelación\n\n\"¿Confirmás que querés cancelar la clase de [materia] del [día] a las [hora] con [profesor]?\"\n\n---\n\n### D4. Ejecutar cancelación\n\n**Solo tras confirmación:**\n\n1. **Determinar tipo de cancelación:**\n   ```json\n   definir_nuevo_id_estado_clase({\n     \"fecha_formato_ISO8601\": \"[fecha de la clase]\"\n   })\n   ```\n\n2. **Cancelar:**\n   ```json\n   eliminar_cita({\n     \"id_alumno\": [id],\n     \"fecha_formato_ISO8601\": \"[fecha de la clase]\",\n     \"nuevo_id_estado_clase\": [el obtenido]\n   })\n   ```\n\n3. **Informar según el estado:**\n   - Estado 3: \"Tu clase fue cancelada. Se te devolverá el monto completo\"\n   - Estado 8: \"Tu clase fue cancelada. Se te devolverá el 50% del monto\"\n   - Estado 6: \"Tu clase fue cancelada. No hay devolución por cancelación tardía (menos de 2hs de anticipación)\"\n\n---\n\n## FLUJO E: INFORMACIÓN GENERAL\n\n### Sobre ubicación\n\"Estamos en Concordia 3430, CABA\"\n\n---\n\n### Sobre servicios\n\"Somos un centro con más de 25 años de experiencia. Damos clases individuales y personalizadas de todas las materias, para todos los niveles. También tenemos gabinete psicopedagógico y equipo de orientación que trabaja en conjunto con las escuelas\"\n\n---\n\n### Sobre materias (si el usuario pregunta)\n**Usuario:** \"¿Qué materias dan?\"\n\n**Respuesta correcta:**\n\"Damos clases de matemática, física, química, inglés, lengua, historia, geografía, biología y muchas más. ¿Cuál necesitás?\"\n\n**PROHIBIDO:**\n- Listar \"MATEMATICA - SECUNDARIO\", \"FISICA - UNIVERSITARIO\"\n- Decir \"No puedo mostrar la lista de materias\"\n- Dar a elegir entre niveles\n\n**Solo mostrar nombres de materias, sin niveles. Es informativo, NO para elegir.**\n\n---\n\n### Sobre modalidades\n\"Tenemos clases presenciales (acá en el instituto, en Concordia 3430) y virtuales\"\n\n---\n\n### Sobre CUD\n\"Trabajamos con prepagas y obras sociales para alumnos con Certificado Único de Discapacidad\"\n\n---\n\n## RECHAZO DE CONSULTAS FUERA DE ALCANCE\n\nSi el usuario pregunta algo que NO es sobre gestión de clases en Educare:\n\n**Ejemplos que debes rechazar:**\n- \"Dame información de Palestina\"\n- \"¿Cómo se resuelve esta ecuación de matemática?\"\n- \"¿Quién ganó el mundial de fútbol?\"\n- \"¿Qué significa esta palabra en inglés?\"\n- \"Ayudame con mi tarea de historia\"\n- \"¿Cuál es la capital de Francia?\"\n\n**Respuesta estándar:**\n\n\"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n\n**NO intentes responder la pregunta académica o general.**\n\n---\n\n## DELEGACIÓN A HUMANO\n\nUsa `hablar_con_humano` cuando:\n- El alumno/tutor lo pide explícitamente\n- Queja grave sobre un profesor o servicio\n- Tras 2 intentos sin resolver el problema\n- Error técnico grave (falló generar ID, crear clase después de cancelar, etc.)\n- Sin disponibilidad tras buscar\n- Alumno rechaza todas las opciones de horario\n- No podés interpretar la materia solicitada con certeza\n- Profesor preferido no da esa materia\n- Consulta sobre pagos, precios, o temas administrativos\n- Modalidad INDISTINTO sin espacio físico disponible (el workflow lo detecta)\n\n**Mensaje al alumno:**\n\n\"Alguien del equipo se va a contactar con vos para ayudarte mejor\"\n\n**PROHIBIDO:** Mencionar nombres específicos (Erica, Yamila, etc.). Siempre \"alguien del equipo\".\n\n---\n\n## ESTILO DE COMUNICACIÓN\n\n### Tono\n- **WhatsApp argentino:** \"querés\", \"podés\", \"tenés\", \"vas\"\n- **Amigable pero profesional:** Como un recepcionista amable\n- **Natural:** NO robótico, NO frases programadas\n\n### Formato\n- **Respuestas cortas:** 1-3 oraciones por mensaje (excepto confirmaciones de clase)\n- **Sin emojis en conversación normal** (solo en confirmación de clase con formato estructurado)\n- **Sin punto final en la última oración** cuando son instrucciones simples\n- **Una pregunta por mensaje:** No abrumes con múltiples preguntas\n\n### Lo que NO hacer\n- ❌ NO digas: \"Si no, simplemente dime 'ninguno'\"\n- ❌ NO digas: \"Si no contesta 'no'\"\n- ❌ NO uses puntos finales en instrucciones simples\n- ❌ NO seas excesivamente formal (\"estimado cliente\")\n- ❌ NO repitas información innecesariamente\n- ❌ NO uses lenguaje técnico (\"id_alumno\", \"workflow\", \"herramienta\")\n\n### Confirmaciones\n- **SIEMPRE** confirma antes de crear/modificar/eliminar clases\n- **NUNCA** asumas, siempre pregunta si hay ambigüedad\n\n---\n\n## INTERPRETACIÓN DE RESPUESTAS NATURALES\n\nEl usuario responde de forma natural, NO con comandos o formatos específicos.\n\n**Tu trabajo:** Interpretar lo que quiere decir.\n\n**Ejemplos de interpretación correcta:**\n\n| Usuario dice | Interpretas |\n|--------------|-------------|\n| \"No tengo preferencia de profesor\" | profesor_preferido = \"\" |\n| \"Me da igual presencial o virtual\" | id_modalidad = 3 |\n| \"Lo que sea\" (sobre modalidad) | id_modalidad = 3 |\n| \"Mateo Viotti\" (nombre completo) | nombre=\"Mateo\", apellido=\"Viotti\" |\n| \"Juan Carlos Perez\" | nombre=\"Juan Carlos\", apellido=\"Perez\" |\n| \"1123912507\" (teléfono) | \"5491123912507\" |\n| \"Sí, me sirve\" (sobre horario) | Acepta |\n| \"Dale\" (sobre cualquier cosa) | Acepta |\n| \"No puedo ese día\" (sobre horario) | Rechaza |\n| \"Sí, con psicólogo\" (tratamiento) | realiza_tratamiento_terapeutico=true, atencion_psicologo=true |\n\n**NO esperes respuestas exactas. Interpreta el significado.**\n\n---\n\n## MANEJO DE ERRORES\n\n### Si una herramienta falla\n\n1. **Primera vez:** Informa brevemente sin detalles técnicos\n   \"Hubo un inconveniente. ¿Probamos de nuevo?\"\n\n2. **Segunda vez:** Delega a humano\nhablar_con_humano\n\n---\n\n### Si no entendés el mensaje del usuario\n\n\"No entiendo bien tu mensaje. ¿Querés agendar, consultar, modificar o cancelar una clase?\"\n\n---\n\n### Si el usuario te pregunta algo fuera de tu alcance\n\n\"Disculpá, pero solo puedo ayudarte con la gestión de clases acá en Educare. Si necesitás agendar, consultar, modificar o cancelar una clase, decime y te ayudo\"\n\n---\n\n## NOTAS FINALES CRÍTICAS\n\n### Sobre fechas\n- **SOLO** `fecha_formato_ISO8601` en formato ISO 8601\n- NUNCA fecha_hora, fecha_clase, hora_inicio como variables separadas\n\n---\n\n### Sobre verificación\n- **SIEMPRE** por teléfono, nunca por nombre\n- Usar `verificar_alumno` ANTES de cualquier operación\n\n---\n\n### Sobre estados de clase\n- **SIEMPRE** crear con id_estado_clase: 2 (PENDIENTE DE PAGO)\n- El equipo lo cambia a 1 (CONFIRMADA) después del pago\n\n---\n\n### Sobre registro\n- **DESPUÉS** de ver disponibilidad, NO al inicio\n- Aclarar que las preguntas son \"por única vez\"\n\n---\n\n### Sobre materias\n- **NUNCA** mostrar formato \"MATEMATICA - SECUNDARIO\" al usuario\n- Solo nombres: matemática, física, inglés\n- Solo informativo, nunca para elegir\n\n---\n\n### Sobre duración\n- **SIEMPRE** recomendar 1.5h (90 minutos)\n- Aceptar otras si insisten\n\n---\n\n### Sobre horarios\n- **EL INSTITUTO DECIDE, NO EL ALUMNO**\n- Usar buscar_profesor para encontrar disponibilidad\n- Nunca preguntar \"¿qué días y horas te gustaría?\"\n\n---\n\n### Sobre delegación\n- **SIEMPRE** \"alguien del equipo\"\n- NUNCA nombres específicos (Erica, Yamila)\n\n---\n\n### Sobre tu alcance\n- **SOLO** gestión de clases en Educare\n- NO preguntas académicas, tareas, cultura general\n- Rechazar educadamente y redirigir a tu función\n\n---\n\n### Sobre consultar_clases\n- **SIEMPRE** usar verificar_alumno primero\n- Obtener id_alumno del resultado\n- Usar ese id en consultar_clases\n\n---\n\n### Sobre formato de teléfono\n- Si falta código país, asumir 54\n- Si falta el 9 entre 54 y código de área, insertarlo\n- Ejemplo: \"1123912507\" → \"5491123912507\"\n\n---\n\n### Sobre CUD\n- NO pedir número\n- Pedir **condición** (autista, TGD, dislexia, etc.)\n- Guardar en campo `condicion_alumno`\n\n---\n\n### Sobre puntos finales\n- NO usar punto al final de la última oración en instrucciones simples\n- Ejemplo CORRECTO: \"Necesitamos el teléfono completo con código de área\"\n- Ejemplo INCORRECTO: \"Necesitamos el teléfono completo con código de área.\"\n\n---\n\n### Sobre huecos en agenda\n- El workflow `buscar_profesor` maneja la lógica anti-hueco\n- Tú no necesitas preocuparte por eso\n- Confía en las opciones que devuelve la herramienta\n\n---\n\n### Sobre seguridad\n- NUNCA modifiques datos de otro alumno\n- NUNCA reveles información de otros alumnos o profesores\n- Cada usuario solo puede gestionar SUS propias clases\n\n---\n\n### Sobre memoria\n- NO confíes en la memoria de conversaciones anteriores\n- SIEMPRE usa `verificar_alumno` para confirmar identidad\n- El id_alumno puede cambiar entre conversaciones\n\n---\n\n**Este es el prompt definitivo. Síguelo al pie de la letra.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3936,208],"id":"9b4192d0-c8a0-4c43-8cb6-116c3f3ddfb4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3520,304],"id":"d12e9988-e14c-4bdc-b755-897be1dbc661","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3696,336],"id":"6c80e67a-5c9b-4e96-9401-4ce4e653a984","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"p8Hev6452fvdnc8m","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[3696,736],"id":"28329b83-1b6a-44b4-acb0-4a1ef463602d","name":"Think"},{"parameters":{"description":"Verifica si una fecha y hora está dentro del horario de atención \ndel instituto. Devuelve true/false y motivo si no es válida.\nInput: fecha_hora (ISO 8601)","workflowId":{"__rl":true,"value":"aIETOT5bdvUJ4hez","mode":"list","cachedResultUrl":"/workflow/aIETOT5bdvUJ4hez","cachedResultName":"comprobar_hora"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_preferida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_preferida', ``, 'string') }}"},"matchingColumns":["fecha_preferida"],"schema":[{"id":"fecha_preferida","displayName":"fecha_preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4544,640],"id":"cbc54284-fb19-4058-9c81-17dd7759b194","name":"comprobar_hora"},{"parameters":{"description":"=Utilizar esta herramienta cuando:\n- el usuario de a entender que quiere hablar con un humano\n- el usuario se muestre molesto\n- no tengas claro que hacer\n\nTransfiere la conversación a una operadora humana en Chatwoot.\nInput:\n{\n  \"contact_id\": {{ $json.contact_id }}\n}","workflowId":{"__rl":true,"value":"7JlErSNWNcmTtoVJ","mode":"list","cachedResultUrl":"/workflow/7JlErSNWNcmTtoVJ","cachedResultName":"hablar_con_humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contact_id":"={{ $json.contact_id }}"},"matchingColumns":["contact_id"],"schema":[{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4160,640],"id":"1c4ffe06-c093-461a-8d1f-ce1fcb2cdb4a","name":"hablar_con_humano"},{"parameters":{"assignments":{"assignments":[{"id":"398e1f2d-7232-4dc6-866b-b9962f927fae","name":"concat_message","value":"={{ $json.concat_message }}","type":"string"},{"id":"ba103300-c413-45b0-b3d2-e701081899a6","name":"sessionId","value":"={{ $('data_messsage_extraction').item.json.sender }}","type":"string"},{"id":"adc8c987-75b7-42ae-8789-d312bda351fc","name":"contact_id","value":"={{ $('data_messsage_extraction').item.json.contact_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2752,192],"id":"098ef606-6fc0-4f7e-b5c3-25e6199b34bf","name":"all_important_data"},{"parameters":{"descriptionType":"manual","toolDescription":"=Usa esta herramienta para chequear la existencia de un alumno en la base de datos.\nUsa esta herramienta para obtener los datos de un alumno ya registrado previamente en la base de datos.\n\nVerifica si el alumno existe en la base de datos filtrando por su número de teléfono. Devuelve sus datos si existe, o null si no existe. \nInput: telefono (string con código de país, ej: 5491123912507)","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"db_alumnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"filtersUI":{"values":[{"lookupColumn":"telefono_principal","lookupValue":"={{ $('data_messsage_extraction').item.json.sender }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3056,640],"id":"c7876042-f008-4d81-873e-0e8ed8c0cced","name":"verificar_alumno","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"No requiere input.\n\nUsa esta herramienta para listar las materias del instituto.","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":654411774,"mode":"list","cachedResultName":"materias_db","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=654411774"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3552,800],"id":"e9a5996a-acf5-4398-9ade-4a92e411109c","name":"obtener_materias","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"description":"=Busca profesores que dicten la materia solicitada.\n<input_buscar_profesor>\n{\n  \"id_materia_solicitada\": 1,\n  \"duracion_minutos\": 60,\n  \"profesor_preferido\": \"Santiago Pica\",\n  \"id_alumno\": 1,\n  \"id_modalidad\": 1\n}\n</input_buscar_profesor>\n","workflowId":{"__rl":true,"value":"B4afVH9B2hBoyK98","mode":"list","cachedResultUrl":"/workflow/B4afVH9B2hBoyK98","cachedResultName":"buscar_profesor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_materia_solicitada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_materia_solicitada', ``, 'number') }}","duracion_minutos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_minutos', ``, 'number') }}","id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', ``, 'number') }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', ``, 'number') }}","profesor_preferido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesor_preferido', `Si el alumno no especifico profesor_preferido rellenar con \"\" o dejar en empty`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_materia_solicitada","displayName":"id_materia_solicitada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"duracion_minutos","displayName":"duracion_minutos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"profesor_preferido","displayName":"profesor_preferido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3840,640],"id":"d41ee8ab-6259-441f-9517-352369f43791","name":"buscar_profesor"},{"parameters":{"description":"=Esta herramienta es utilizada por la herramienta \"registrar_alumno\" y devuelve una estructura la cual para ser tomada en cuenta debe ser \"valido\": true y \"resultado\": \"OK\". También entrega un \"detalle\". Por último entrega el \"nuevo_id_alumno\" que es el que debe utilizar la herramienta \"registrar_alumno\", en la sección de id_alumno.","workflowId":{"__rl":true,"value":"hVLPWb0gGR6zuDGp","mode":"list","cachedResultUrl":"/workflow/hVLPWb0gGR6zuDGp","cachedResultName":"generar_nuevo_id_alumno"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4016,800],"id":"942be78c-c7ea-41cf-b09b-e32a69734d2f","name":"generar_nuevo_id_alumno"},{"parameters":{"description":"=Esta herramienta es utilizada por la herramienta \"crear_cita\" y devuelve una estructura la cual para ser tomada en cuenta debe ser \"valido\": true y \"resultado\": \"OK\". También entrega un \"detalle\". Por último entrega el \"nuevo_id_clase\" que es el que debe utilizar la herramienta \"crear_cita\", en la sección de id_clase.","workflowId":{"__rl":true,"value":"UMmbsno2ZoIlRv49","mode":"list","cachedResultUrl":"/workflow/UMmbsno2ZoIlRv49","cachedResultName":"generar_nuevo_id_clase"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3840,800],"id":"23c94d55-dc09-4010-9fbd-66b9dec0041a","name":"generar_nuevo_id_clase"},{"parameters":{"descriptionType":"manual","toolDescription":"Recibe de input el id_alumno\n\nUtiliza esta herramienta para obtener la información de todas las clases que tiene un alumno en particular.\n\nDevuelve todas las clases agendadas del alumno.\nInput: id_alumno (number)","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"reservas(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_alumno","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3552,640],"id":"f2e2f9ab-1f8a-40f5-acb6-7118c0b88d24","name":"consultar_clases","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"description":"=Utiliza esta herramienta cuando el usuario quiera cancelar una clase.\n\n<input>\n{\n  \"id_alumno\": <id_alumno>,\n  \"fecha_formato_ISO8601\": \"<fecha_hora_inicio ORIGINAL de la clase en ISO 8601>\",\n  \"nuevo_id_estado_clase\": <nuevo estado>\n}\n</input>\n","workflowId":{"__rl":true,"value":"2ICGXpQxT8mS2m8k","mode":"list","cachedResultUrl":"/workflow/2ICGXpQxT8mS2m8k","cachedResultName":"eliminar_cita"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', ``, 'number') }}","nuevo_id_estado_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nuevo_id_estado_clase', ``, 'number') }}","fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nuevo_id_estado_clase","displayName":"nuevo_id_estado_clase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4000,640],"id":"fb8789f9-b240-4ea3-b030-bf060153a3be","name":"eliminar_cita"},{"parameters":{"descriptionType":"manual","toolDescription":"=Crea la reserva de clase en la base de datos.\nSiempre comprueba que la hora sea valida con la herramienta \"comprobar_hora\".\nPuedes utilizar todas las herramientas que desees.","operation":"append","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"reservas(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_clase', `Unico, not null, generado con la herramienta generar_nuevo_id_clase`, 'string') }}","fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', `fecha de inicio de la clase a reservar en formato ISO 8601`, 'string') }}","duracion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duracion_clase', `Duración de la clase en minutos.\nPosibles datos de este campo:\n- 60\n- 90\n- 120`, 'string') }}","id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', ``, 'string') }}","id_profesor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profesor', `id_profesor, del profesor seleccionado`, 'string') }}","id_materia":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_materia', `id_materia de la materia solicitada por el alumno, obtener con la herramienta obtener_materias.`, 'string') }}","id_modalidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_modalidad', `id_modalidad de la modalidad solicitada por el alumno, obtener con la herramienta obtener_modalidad.\nPosibles datos de este campo:\n- 1\n- 2`, 'string') }}","id_estado_clase":"=2","descripcion_clase":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion_clase', `Rellenar con información adicional de esta misma clase que pueda resultar de interés para el alumno y los administrativos.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"id_clase","displayName":"id_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duracion_clase","displayName":"duracion_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_inicio_clase","displayName":"hora_inicio_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_fin_clase","displayName":"hora_fin_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_completo_alumno","displayName":"nombre_completo_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_profesor","displayName":"id_profesor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_completo_profesor","displayName":"nombre_completo_profesor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_materia","displayName":"id_materia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_materia","displayName":"nombre_materia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_modalidad","displayName":"id_modalidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modalidad","displayName":"modalidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_estado_clase","displayName":"id_estado_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"estado_clase","displayName":"estado_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descripcion_clase","displayName":"descripcion_clase","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3392,640],"id":"659353de-f1f6-41f7-a0ef-ae280cc13a62","name":"crear_cita","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $('Webhook').item.json.body.whatsappInboundMessage.audio.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[992,352],"id":"f70a46c3-853a-4fea-950e-c7ed13c8511a","name":"download_audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1216,352],"id":"ddd6a33e-1501-476b-a59f-3878ac931088","name":"transcribe_the_audio","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"No requiere input.\n\nUsa esta herramienta para listar las posibles modalidades de las clases, asi como la relacion con su id_modalidad.","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":462736891,"mode":"list","cachedResultName":"modalidad_db","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=462736891"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3216,800],"id":"6fbc9495-b7ce-4870-86e6-a54b4241904c","name":"obtener_modalidad","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"No requiere input.\n\nUsa esta herramienta para listar los posibles estados de las clases, asi como la relacion con su id_estado_clase.","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1041407453,"mode":"list","cachedResultName":"estados_clase_db","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1041407453"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3392,800],"id":"5e99aad1-298a-40a6-af60-140f45cf28b0","name":"obtener_estados_clases","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"description":"=Utilizar esta herramienta cuando el alumno desee cancelar una clase ya reservada para determinar el nuevo estado de la clase.\n<input>\n  \"fecha_formato_ISO8601\": <fecha_hora_inicio de la clase a cancelar>\n</input>\nRetornara el nuevo_id_estado_clase en caso de que efectivamente se cancele. Este, si se confirma la cancelacion, es el que se le debe enviar como input a la herramienta eliminar_cita","workflowId":{"__rl":true,"value":"eAY2lqKQAK2ig67P","mode":"list","cachedResultUrl":"/workflow/eAY2lqKQAK2ig67P","cachedResultName":"definir_nuevo_id_estado_clase"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_formato_ISO8601":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formato_ISO8601', ``, 'string') }}"},"matchingColumns":["fecha_formato_ISO8601"],"schema":[{"id":"fecha_formato_ISO8601","displayName":"fecha_formato_ISO8601","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4368,640],"id":"41a9700d-405f-4823-acde-6918c1a3a238","name":"definir_nuevo_id_estado_clase"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3472,80],"id":"44d1b5ea-5f3e-42a3-a5b6-5c6e6bbe3d97","name":"message_to_human"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1863051755,"mode":"list","cachedResultName":"db_profesores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1863051755"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,96],"id":"a9e48af8-47dc-487a-b008-31091a242c67","name":"get_teachers_data","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"telefono_profesor"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,96],"id":"08368885-3b89-4ecf-86be-4ed4fae72195","name":"join_teachers_data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d746567-d382-42b6-8f67-65568246172d","leftValue":"={{ $json.telefono_profesor }}","rightValue":"={{ $('data_messsage_extraction').item.json.sender }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,96],"id":"573781e8-1b47-4e87-a4de-4d667e99c779","name":"is_teacher"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[768,16],"id":"1d5acfd7-4d2d-4cda-aa5f-febcc2743e64","name":"teacher_dont_answer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a3f2aba0-2f33-4b05-972b-e927255eacac","leftValue":"={{ $('data_messsage_extraction').item.json.message_type }}","rightValue":"=text_message","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,208],"id":"65293e40-5884-496a-9b47-faacf422a67e","name":"is_a_text_message"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).chat_id }}","rightValue":"={{ $('data_messsage_extraction').item.json.chat_id }}","operator":{"type":"string","operation":"notEquals"},"id":"ea522f43-53f8-498e-bc9d-44e8db0fa25f"}],"combinator":"and"},"renameOutput":true,"outputKey":"=Ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e2d70099-8aca-4c6e-b5b3-52612b49e5e9","leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus(5, 'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"looseTypeValidation":"={{ false }}","options":{"fallbackOutput":"extra","renameFallbackOutput":"wait"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2080,176],"id":"f99df1e5-0c0a-4466-aac4-811e4cd26d06","name":"switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2304,16],"id":"fa7ee57a-5857-4e74-925c-4880322efbc9","name":"ignore"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1984,464],"id":"02a7af09-d6ff-44a2-9777-fcd8ac1818b5","name":"wait","webhookId":"d74e3db8-864a-48cb-9aa9-3968cd7f63a9"},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta, solo si el alumno no esta registrado en la base de datos, para registrarlo en la base de datos.","operation":"append","documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"db_alumnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"columns":{"mappingMode":"defineBelow","value":{"id_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_alumno', `El id_alumno, unico, not null, generado por la herramienta generar_nuevo_id_alumno.`, 'string') }}","nombre_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_alumno', `El nombre del alumno, si tiene dos nombres colocar ambos.\n<ejemplo>\njuan cruz\n</ejemplo>`, 'string') }}","apellido_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido_alumno', `El apellido del alumno`, 'string') }}","telefono_principal":"={{ $json.sessionId }}","correo_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('correo_alumno', `Un correo valido.`, 'string') }}","escuela/colegio/universidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('escuela_colegio_universidad', `Nombre de la institución escuela/colegio/universidad en la que estudia el alumno.`, 'string') }}","madre/padre/tutor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('madre_padre_tutor', `nombre y apellido del madre/padre/tutor del alumno.`, 'string') }}","CUD":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CUD', `SI el alumno tiene Certificado Único de Discapacidad (CUD), completar con la discapacidad del alumno.\nSI el alumno no tiene Certificado Único de Discapacidad (CUD), completar con \"\".`, 'string') }}","psicopedagoga":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicopedagoga', `Se utilizara para un checkbox.\nDebe ir true o false.\nLa única información que puede formar parte de este campo:\n- true\n- flase`, 'string') }}","fono":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fono', `Se utilizara para un checkbox.\nDebe ir true o false.\nLa única información que puede formar parte de este campo:\n- true\n- flase`, 'string') }}","psicologo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicologo', `Se utilizara para un checkbox.\nDebe ir true o false.\nLa única información que puede formar parte de este campo:\n- true\n- flase`, 'string') }}","teo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('teo', `Se utilizara para un checkbox.\nDebe ir true o false.\nLa única información que puede formar parte de este campo:\n- true\n- flase`, 'string') }}","telefono_alternativo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono_alternativo', `El telefono del madre/padre/tutor\n\nCon el formato [codigoPais][codigoArea][numero].\n\n## EJEMPLO\n- 54911239125\n- 54911439157`, 'string') }}","condicion_alumno":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('condicion_alumno', `Completar solo si tiene CUD con la condicion del alumno`, 'string') }}","psicopedagoga_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicopedagoga_nombre', ``, 'string') }}","psicopedagoga_telefono_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicopedagoga_telefono_contacto', ``, 'string') }}","fono_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fono_nombre', ``, 'string') }}","fono_telefono_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fono_telefono_contacto', ``, 'string') }}","psicologo_telefono_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicologo_telefono_contacto', ``, 'string') }}","psicologo_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('psicologo_nombre', ``, 'string') }}","teo_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('teo_nombre', ``, 'string') }}","teo_telefono_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('teo_telefono_contacto', ``, 'string') }}","nivel_educativo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel_educativo', ``, 'string') }}"},"matchingColumns":["id_alumno"],"schema":[{"id":"id_alumno","displayName":"id_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nombre_alumno","displayName":"nombre_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"apellido_alumno","displayName":"apellido_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono_principal","displayName":"telefono_principal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefono_alternativo","displayName":"telefono_alternativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"correo_alumno","displayName":"correo_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"escuela/colegio/universidad","displayName":"escuela/colegio/universidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nivel_educativo","displayName":"nivel_educativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"madre/padre/tutor","displayName":"madre/padre/tutor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CUD","displayName":"CUD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"condicion_alumno","displayName":"condicion_alumno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicopedagoga","displayName":"psicopedagoga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicopedagoga_nombre","displayName":"psicopedagoga_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicopedagoga_telefono_contacto","displayName":"psicopedagoga_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fono","displayName":"fono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fono_nombre","displayName":"fono_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fono_telefono_contacto","displayName":"fono_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicologo","displayName":"psicologo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicologo_nombre","displayName":"psicologo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"psicologo_telefono_contacto","displayName":"psicologo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"teo","displayName":"teo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"teo_nombre","displayName":"teo_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"teo_telefono_contacto","displayName":"teo_telefono_contacto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3216,640],"id":"8efa8dec-d9e1-4b85-9e4f-da5774d380d4","name":"registrar_alumno","credentials":{"googleSheetsOAuth2Api":{"id":"VxcD5Gjgg8ziQMmk","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa4e974f-8f40-48a8-9919-d312647ace52","leftValue":"={{ $json.items[0].tags[0] }}{{ $json.items[0].tags[0] }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2960,192],"id":"ba1ec55b-602a-400c-b354-54758281997e","name":"human_should_respond"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.whatsappInboundMessage.audio }}","rightValue":"audio","operator":{"type":"object","operation":"exists","singleValue":true},"id":"e5351974-02cb-4772-8fc0-1ed77dbf8e92"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edcb1dfc-961b-45ec-ab24-306ae036c33f","leftValue":"={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}","rightValue":"text","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,176],"id":"d4349a36-6d25-4e4e-ad26-6fc8c981a95b","name":"is_message_or_audio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,384],"id":"d9110165-7b10-4255-8882-6e12f5171e31","name":"neither_audio_nor_message"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"whatsapp.inbound","operator":{"type":"string","operation":"contains"},"id":"0bc273e3-5ad3-40f6-ad62-5496d877b410"}],"combinator":"and"},"renameOutput":true,"outputKey":"inbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"94598980-9d81-4729-bcd4-5d3040fb7332","leftValue":"={{ $json.body.type }}","rightValue":"whatsapp.smb.message","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outbound"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1248,176],"id":"2ad34980-353e-4a20-a5fb-ef2a709c354b","name":"Switch"},{"parameters":{"url":"https://api.ycloud.com/v2/contact/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter.phoneNumber","value":"={{ $('Webhook').item.json.body.whatsappMessage.to }}"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-848,400],"id":"6d2f2018-f305-455d-8b65-27647b814f7d","name":"filter_contact1"},{"parameters":{"method":"PATCH","url":"=https://api.ycloud.com/v2/contact/contacts/{{ $json.items[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"},{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"tags\": [\n    \"humano\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-656,400],"id":"182ab9da-2ba3-4c14-b50f-7f3e681de8eb","name":"turn_off_bott"},{"parameters":{"url":"https://api.ycloud.com/v2/contact/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter.phoneNumber","value":"={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1024,80],"id":"27db3cbd-cc23-469d-a771-a5ef5de4cb4b","name":"filter_contact2"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"00ee113449e3fcc1b267fba27693a4b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"+5491178268382\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\",\n    \"preview_url\": true\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4432,176],"id":"d90cbcb5-d22d-43ad-8d99-20fd2ef5f2e8","name":"send_message"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3216,80],"id":"d113123c-e3fe-4b45-a924-8cb2ae823203","name":"Insert rows in a table","credentials":{"postgres":{"id":"p8Hev6452fvdnc8m","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1024,400],"id":"d677c290-0ca9-45b6-9fe1-e9efef3ccc6a","name":"Insert rows in a table1","credentials":{"postgres":{"id":"p8Hev6452fvdnc8m","name":"Postgres account"}}},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[4640,352],"id":"27f37540-40cf-4323-a856-83e5c36e2ef9","name":"Auto-fixing Output Parser"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4880,528],"id":"3f63e933-9d5a-4179-a159-0685aa1d6558","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4704,528],"id":"40e5bd89-cb56-4e24-a8aa-ebfd7e76dd2d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"={{ $json.message_type }}","type":"string"},{"id":"20f1284e-971b-4f80-9f2b-7769a3281493","name":"sender","value":"={{ $('Webhook').item.json.body.whatsappInboundMessage.from.replace(/\\+/g, '') }}","type":"string"},{"id":"2594ea0a-0ab0-42bc-bc5f-1198e2dda07c","name":"data_time","value":"={{ $('Webhook').item.json.body.createTime }}","type":"string"},{"id":"311bac51-f392-4600-8be3-63318ecda8c9","name":"contact_id","value":"={{ $('filter_contact2').item.json.items[0].id }}","type":"number"},{"id":"baf6d041-9f04-4d1b-9242-a98f6a222191","name":"chat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,96],"id":"1ab122b6-e62f-4a8b-b5ca-db4a80356f4e","name":"data_messsage_extraction"},{"parameters":{"assignments":{"assignments":[{"id":"00057f7e-f31a-4f49-8fda-2d3e666e13ff","name":"message_type","value":"={{ $json.message_type }}","type":"string"},{"id":"20f1284e-971b-4f80-9f2b-7769a3281493","name":"sender","value":"={{ $('Webhook').item.json.body.whatsappInboundMessage.from.replace(/\\+/g, '') }}","type":"string"},{"id":"2594ea0a-0ab0-42bc-bc5f-1198e2dda07c","name":"data_time","value":"={{ $('Webhook').item.json.body.createTime }}","type":"string"},{"id":"311bac51-f392-4600-8be3-63318ecda8c9","name":"conversation_id","value":"={{ $('filter_contact2').item.json.items[0].id }}","type":"number"},{"id":"baf6d041-9f04-4d1b-9242-a98f6a222191","name":"chat_id","value":"={{ $('Webhook').item.json.body.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,384],"id":"35a177db-6055-4270-9a47-5f1b20c331a6","name":"data_messsage_extraction1"},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":["all"]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1472,176],"id":"cbbdaf88-d30d-40b4-8da9-65ec4ab92228","name":"WhatsApp Trigger","webhookId":"7455b0b3-1f17-48f1-8d97-21a2fb9f0416"}],"connections":{"text_message.txt":{"main":[[{"node":"buffer","type":"main","index":0}]]},"voice_message.txt":{"main":[[{"node":"buffer","type":"main","index":0}]]},"buffer":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"get_buffer_data":{"main":[[{"node":"switch","type":"main","index":0}]]},"delete_buffer":{"main":[[{"node":"join_messages","type":"main","index":0}]]},"join_messages":{"main":[[{"node":"all_important_data","type":"main","index":0}]]},"Webhook":{"main":[[]]},"voice_messsage_extraction":{"main":[[{"node":"data_messsage_extraction","type":"main","index":0}]]},"text_message_extraction":{"main":[[{"node":"data_messsage_extraction","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_hora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"hablar_con_humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"all_important_data":{"main":[[{"node":"human_should_respond","type":"main","index":0}]]},"verificar_alumno":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"obtener_materias":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_profesor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"generar_nuevo_id_alumno":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"generar_nuevo_id_clase":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_clases":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"download_audio":{"main":[[{"node":"transcribe_the_audio","type":"main","index":0}]]},"transcribe_the_audio":{"main":[[{"node":"voice_message.txt","type":"main","index":0}]]},"obtener_modalidad":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"obtener_estados_clases":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"definir_nuevo_id_estado_clase":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_teachers_data":{"main":[[{"node":"join_teachers_data","type":"main","index":0}]]},"join_teachers_data":{"main":[[{"node":"is_teacher","type":"main","index":0}]]},"is_teacher":{"main":[[{"node":"teacher_dont_answer","type":"main","index":0}],[{"node":"is_a_text_message","type":"main","index":0}]]},"is_a_text_message":{"main":[[{"node":"text_message.txt","type":"main","index":0}],[{"node":"download_audio","type":"main","index":0}]]},"switch":{"main":[[{"node":"ignore","type":"main","index":0}],[{"node":"delete_buffer","type":"main","index":0}],[{"node":"wait","type":"main","index":0}]]},"wait":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"registrar_alumno":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"human_should_respond":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"is_message_or_audio":{"main":[[{"node":"voice_messsage_extraction","type":"main","index":0}],[{"node":"text_message_extraction","type":"main","index":0}],[{"node":"neither_audio_nor_message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"filter_contact2","type":"main","index":0}],[{"node":"Insert rows in a table1","type":"main","index":0}]]},"filter_contact1":{"main":[[{"node":"turn_off_bott","type":"main","index":0}]]},"filter_contact2":{"main":[[]]},"Insert rows in a table":{"main":[[{"node":"message_to_human","type":"main","index":0}]]},"Insert rows in a table1":{"main":[[{"node":"filter_contact1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"data_messsage_extraction":{"main":[[{"node":"get_teachers_data","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"00466b5d-979a-48fd-acaa-90008366032c","activeVersionId":null,"versionCounter":86,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-03-10T01:47:53.766Z","createdAt":"2026-03-10T01:47:53.766Z","role":"workflow:owner","workflowId":"4qMtXSJUsqZsgHof","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":null,"description":null}}