n8n_workflows/send_reminders.json
{"updatedAt":"2026-07-07T22:33:18.095Z","createdAt":"2026-04-13T02:19:59.955Z","id":"G0YJpHqnNZRFTmRa","name":"send_reminders","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send-reminders-91d2f8ec61f3589a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,0],"id":"c748e2c4-29c2-4b43-8bfd-67732561ec56","name":"Webhook","webhookId":"send-reminders-91d2f8ec61f3589a"},{"parameters":{"jsCode":"const tipo = $input.first().json.body?.type || 'dia_anterior';\nconst tz = 'America/Argentina/Buenos_Aires';\nconst ahora = DateTime.now().setZone(tz);\nconst dias = ['LUNES','MARTES','MIERCOLES','JUEVES','VIERNES','SABADO','DOMINGO'];\n\nif (tipo === '1h_antes') {\n  const objMin = ahora.plus({ minutes: 45 });\n  const objMax = ahora.plus({ minutes: 75 });\n  return [{ json: {\n    tipo,\n    fecha_objetivo: ahora.toISODate(),\n    hora_objetivo_min: objMin.toFormat('HH:mm'),\n    hora_objetivo_max: objMax.toFormat('HH:mm'),\n    weekday_objetivo: ahora.weekday,\n    dia_str_objetivo: dias[ahora.weekday - 1]\n  }}];\n} else {\n  const manana = ahora.plus({ days: 1 }).startOf('day');\n  return [{ json: {\n    tipo,\n    fecha_objetivo: manana.toISODate(),\n    hora_objetivo_min: null,\n    hora_objetivo_max: null,\n    weekday_objetivo: manana.weekday,\n    dia_str_objetivo: dias[manana.weekday - 1]\n  }}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,0],"id":"a1f0d1e1-1111-4111-8111-111111111111","name":"set_contexto"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"reservas(SISTEMA)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,0],"id":"7aa1bd67-f62d-4fc1-9a8e-64f92e70e091","name":"get_reservas","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-224,0],"id":"b2f0d1e1-2222-4222-8222-222222222222","name":"join_reservas"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":437020005,"mode":"list","cachedResultName":"CLASES_FIJAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=437020005"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-32,0],"id":"c3f0d1e1-3333-4333-8333-333333333333","name":"get_clases_fijas","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,0],"id":"d4f0d1e1-4444-4444-8444-444444444444","name":"join_clases_fijas"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":1982528110,"mode":"list","cachedResultName":"ALUMNOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=1982528110"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[352,0],"id":"e5f0d1e1-5555-4555-8555-555555555555","name":"get_alumnos","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[544,0],"id":"f6f0d1e1-6666-4666-8666-666666666666","name":"join_alumnos"},{"parameters":{"documentId":{"__rl":true,"value":"SPREADSHEET_ID_PLACEHOLDER","mode":"id"},"sheetName":{"__rl":true,"value":481398233,"mode":"list","cachedResultName":"PROFESORES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/SPREADSHEET_ID_PLACEHOLDER/edit#gid=481398233"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[752,0],"id":"aa10d1e1-aaaa-4aaa-8aaa-aaaaaaaaaaa1","name":"get_profesores","credentials":{"googleSheetsOAuth2Api":{"id":"7VHUNiAJqbxQRgWE","name":"Google Sheets account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[928,0],"id":"bb10d1e1-bbbb-4bbb-8bbb-bbbbbbbbbbb2","name":"join_profesores"},{"parameters":{"jsCode":"const ctx = $('set_contexto').first().json;\nconst tipo = ctx.tipo;\nconst fechaObjetivo = ctx.fecha_objetivo;\nconst weekdayObjetivo = ctx.weekday_objetivo;\nconst reservas = $('join_reservas').first().json.data || [];\nconst fijas = $('join_clases_fijas').first().json.data || [];\nconst alumnos = $('join_alumnos').first().json.data || [];\nconst profesores = $('join_profesores').first().json.data || [];\n\nconst phoneByAlumno = {};\nfor (const a of alumnos) {\n  if (a.id_alumno != null && a.telefono_principal) {\n    phoneByAlumno[a.id_alumno] = String(a.telefono_principal).trim();\n  }\n}\n\nconst phoneByProfesor = {};\nfor (const p of profesores) {\n  if (p.id_profesor != null && p.telefono_profesor) {\n    phoneByProfesor[p.id_profesor] = String(p.telefono_profesor).trim();\n  }\n}\n\nconst nivelByAlumno = {};\nfor (const a of alumnos) {\n  if (a.id_alumno != null && a.nivel_educativo) {\n    nivelByAlumno[a.id_alumno] = String(a.nivel_educativo).trim();\n  }\n}\n\nconst DIA_A_WEEKDAY = { LUNES:1, MARTES:2, MIERCOLES:3, JUEVES:4, VIERNES:5, SABADO:6, DOMINGO:7 };\n\nfunction horaAMinutos(s) {\n  const parts = String(s || '0:0').split(':').map(Number);\n  return (parts[0] || 0) * 60 + (parts[1] || 0);\n}\nfunction minutosAHora(m) {\n  return String(Math.floor(m / 60)).padStart(2, '0') + ':' + String(m % 60).padStart(2, '0');\n}\nfunction parseISODate(s) {\n  if (!s) return null;\n  try {\n    return DateTime.fromISO(String(s).replace(/['\"/]/g, ''), { zone: 'America/Argentina/Buenos_Aires' });\n  } catch (e) { return null; }\n}\nfunction normalizarTelefono(t) {\n  if (!t) return null;\n  let n = String(t).replace(/[^0-9]/g, '');\n  if (!n) return null;\n  if (n.startsWith('0')) n = '549' + n.substring(1);\n  else if (!n.startsWith('5')) n = '549' + n;\n  return n;\n}\nfunction enVentana1h(hora_str) {\n  if (!ctx.hora_objetivo_min || !ctx.hora_objetivo_max) return false;\n  const h = horaAMinutos(hora_str);\n  const minV = horaAMinutos(ctx.hora_objetivo_min);\n  const maxV = horaAMinutos(ctx.hora_objetivo_max);\n  return h >= minV && h < maxV;\n}\n\nconst result = [];\nconst dtObjetivo = DateTime.fromISO(fechaObjetivo, { zone: 'America/Argentina/Buenos_Aires' }).startOf('day');\nconst fechaDDMMYYYY = dtObjetivo.toFormat('dd/MM/yyyy');\n\n// Emite hasta dos items por clase: uno al alumno y uno al profesor.\n// El item profesor sale aunque el alumno no tenga telefono, y viceversa.\nfunction pushClase(base, id_alumno, id_profesor, nombre_alumno) {\n  const telAlumno = normalizarTelefono(phoneByAlumno[id_alumno]);\n  if (telAlumno) {\n    result.push(Object.assign({}, base, { destinatario: 'alumno', id_alumno, telefono_normalizado: telAlumno }));\n  }\n  const telProfesor = normalizarTelefono(phoneByProfesor[id_profesor]);\n  if (telProfesor) {\n    result.push(Object.assign({}, base, { destinatario: 'profesor', id_alumno, id_profesor, alumno: nombre_alumno || '', nivel: nivelByAlumno[id_alumno] || '', telefono_normalizado: telProfesor }));\n  }\n}\n\nfor (const r of reservas) {\n  if (Number(r.id_estado_clase) !== 1) continue;\n  const dt = parseISODate(r.fecha_formato_ISO8601);\n  if (!dt || !dt.isValid) continue;\n  if (dt.toISODate() !== fechaObjetivo) continue;\n  if (tipo === '1h_antes' && !enVentana1h(dt.toFormat('HH:mm'))) continue;\n  pushClase({ id_clase: r.id_clase, fuente: 'reserva', tipo,\n    fecha: fechaDDMMYYYY, hora_inicio: dt.toFormat('HH:mm'),\n    duracion: String(r.duracion_clase || ''), profesor: r.nombre_completo_profesor || '',\n    modalidad: r.modalidad || '', materia: r.nombre_materia || '', link_clase: r.link_clase || '' },\n    r.id_alumno, r.id_profesor, r.nombre_completo_alumno);\n}\n\nfor (const cf of fijas) {\n  if (Number(cf.id_estado_clase_fija) !== 1) continue;\n  const wd = DIA_A_WEEKDAY[String(cf.dia_semana_clase_fija || '').toUpperCase()];\n  if (wd !== weekdayObjetivo) continue;\n  const fIni = parseISODate(cf.fecha_inicio_clase_fija);\n  const fFin = parseISODate(cf.fecha_fin_clase_fija);\n  if (fIni && fIni.isValid && dtObjetivo < fIni) continue;\n  if (fFin && fFin.isValid && dtObjetivo > fFin) continue;\n  if (tipo === '1h_antes' && !enVentana1h(cf.hora_inicio_clase_fija)) continue;\n  const ini = horaAMinutos(cf.hora_inicio_clase_fija);\n  const fin = horaAMinutos(cf.hora_fin_clase_fija);\n  pushClase({ id_clase: 'fija_' + cf.id_clase_fija, fuente: 'fija', tipo,\n    fecha: fechaDDMMYYYY, hora_inicio: minutosAHora(ini),\n    duracion: String(fin - ini), profesor: cf.nombre_completo_profesor || '',\n    modalidad: cf.modalidad || '', materia: cf.nombre_materia || '', link_clase: '' },\n    cf.id_alumno, cf.id_profesor, cf.nombre_completo_alumno);\n}\n\nif (!result.length) return [{ json: { sin_clases: true, fecha_objetivo: fechaObjetivo, tipo } }];\nreturn result.map(function(r) { return { json: r }; });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"id":"07f0d1e1-7777-4777-8777-777777777777","name":"build_lista"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filtro-tiene-telefono","leftValue":"={{ $json.telefono_normalizado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1312,0],"id":"18f0d1e1-8888-4888-8888-888888888888","name":"filter_con_telefono"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,176],"id":"185a3812-c7b8-481a-ba17-f0a6644267a6","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,304],"id":"29f0d1e1-9999-4999-8999-999999999999","name":"wait_rate_limit","webhookId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1664,160],"id":"8833766b-d04c-46cf-9476-95c2aa327176","name":"all_sent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filtro-destinatario-profesor","leftValue":"={{ $json.destinatario }}","rightValue":"profesor","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1680,304],"id":"cc10d1e1-cccc-4ccc-8ccc-ccccccccccc3","name":"is_profesor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"16520489-6749-492c-a2a7-86209a3417ad","leftValue":"={{ $json.modalidad }}","rightValue":"VIRTUAL","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1888,96],"id":"3a365082-4a2a-43b1-b39a-b0a1c8955f9e","name":"is_virtual"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filtro-modalidad-virtual-prof","leftValue":"={{ $json.modalidad }}","rightValue":"VIRTUAL","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1888,496],"id":"dd10d1e1-dddd-4ddd-8ddd-ddddddddddd4","name":"is_virtual_profesor"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.telefono_normalizado }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"recordatorio_virtual_alumno\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"fecha\",\n            \"text\": \"{{ $json.fecha }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"hora_inicio\",\n            \"text\": \"{{ $json.hora_inicio }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"profesor\",\n            \"text\": \"{{ $json.profesor }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"modalidad\",\n            \"text\": \"Virtual\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"link\",\n            \"text\": \"{{ $json.link_clase || \" \" }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"duracion\",\n            \"text\": \"{{ $json.duracion }}\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2128,-16],"id":"70460bd3-4c00-4dee-a58f-45820c5feb5f","name":"send_recordatorio_virtual_alumno","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.telefono_normalizado }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"recordatorio_presencial_alumno\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"fecha\",\n            \"text\": \"{{ $json.fecha }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"hora_inicio\",\n            \"text\": \"{{ $json.hora_inicio }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"profesor\",\n            \"text\": \"{{ $json.profesor }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"modalidad\",\n            \"text\": \"Presencial\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"link\",\n            \"text\": \"https://maps.app.goo.gl/cyain7bsRa7HzAgP9\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"duracion\",\n            \"text\": \"{{ $json.duracion }}\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2128,208],"id":"16d784d6-47e5-41c3-8f2b-020871c252c2","name":"send_recordatorio_presencial_alumno","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.telefono_normalizado }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"recordatorio_virtual_profesor\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"materia\",\n            \"text\": \"{{ $json.materia || \" \" }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"nivel\",\n            \"text\": \"{{ $json.nivel || \" \" }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"fecha\",\n            \"text\": \"{{ $json.fecha }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"hora_inicio\",\n            \"text\": \"{{ $json.hora_inicio }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"duracion\",\n            \"text\": \"{{ $json.duracion }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"link\",\n            \"text\": \"{{ $json.link_clase || \" \" }}\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2128,416],"id":"ee10d1e1-eeee-4eee-8eee-eeeeeeeeeee5","name":"send_recordatorio_virtual_profesor","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.telefono_normalizado }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"recordatorio_presencial_profesor\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"materia\",\n            \"text\": \"{{ $json.materia || \" \" }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"nivel\",\n            \"text\": \"{{ $json.nivel || \" \" }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"fecha\",\n            \"text\": \"{{ $json.fecha }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"hora_inicio\",\n            \"text\": \"{{ $json.hora_inicio }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"duracion\",\n            \"text\": \"{{ $json.duracion }}\"\n          },\n          { \"type\": \"text\", \"parameter_name\": \"link\",\n            \"text\": \"https://maps.app.goo.gl/cyain7bsRa7HzAgP9\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2128,640],"id":"ff10d1e1-ffff-4fff-8fff-fffffffffff6","name":"send_recordatorio_presencial_profesor","onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"set_contexto","type":"main","index":0}]]},"set_contexto":{"main":[[{"node":"get_reservas","type":"main","index":0}]]},"get_reservas":{"main":[[{"node":"join_reservas","type":"main","index":0}]]},"join_reservas":{"main":[[{"node":"get_clases_fijas","type":"main","index":0}]]},"get_clases_fijas":{"main":[[{"node":"join_clases_fijas","type":"main","index":0}]]},"join_clases_fijas":{"main":[[{"node":"get_alumnos","type":"main","index":0}]]},"get_alumnos":{"main":[[{"node":"join_alumnos","type":"main","index":0}]]},"join_alumnos":{"main":[[{"node":"get_profesores","type":"main","index":0}]]},"get_profesores":{"main":[[{"node":"join_profesores","type":"main","index":0}]]},"join_profesores":{"main":[[{"node":"build_lista","type":"main","index":0}]]},"build_lista":{"main":[[{"node":"filter_con_telefono","type":"main","index":0}]]},"filter_con_telefono":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"all_sent","type":"main","index":0}],[{"node":"wait_rate_limit","type":"main","index":0}]]},"wait_rate_limit":{"main":[[{"node":"is_profesor","type":"main","index":0}]]},"is_profesor":{"main":[[{"node":"is_virtual_profesor","type":"main","index":0}],[{"node":"is_virtual","type":"main","index":0}]]},"is_virtual":{"main":[[{"node":"send_recordatorio_virtual_alumno","type":"main","index":0}],[{"node":"send_recordatorio_presencial_alumno","type":"main","index":0}]]},"is_virtual_profesor":{"main":[[{"node":"send_recordatorio_virtual_profesor","type":"main","index":0}],[{"node":"send_recordatorio_presencial_profesor","type":"main","index":0}]]},"send_recordatorio_virtual_alumno":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"send_recordatorio_presencial_alumno":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"send_recordatorio_virtual_profesor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"send_recordatorio_presencial_profesor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"ac443009-374a-4166-a173-1089ff5ac618","activeVersionId":"ac443009-374a-4166-a173-1089ff5ac618","versionCounter":202,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-04-13T02:19:59.955Z","createdAt":"2026-04-13T02:19:59.955Z","role":"workflow:owner","workflowId":"G0YJpHqnNZRFTmRa","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version ac443009","description":""}}