n8n_workflows/send_message.json
{"updatedAt":"2026-06-18T23:47:42.610Z","createdAt":"2026-04-14T15:39:29.869Z","id":"6ISX6h3p6tgttZKB","name":"send_message","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"output\": \"a string\",\n  \"account_id\": 1,\n  \"conversation_id\": 2,\n  \"message_id\": \"wamid.xxx\"\n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-720,880]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-368,1056],"id":"d356a438-9bf7-47e8-8ae9-c88d8195fec6","name":"OpenAI Chat Model14","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"frequencyPenalty":0,"presencePenalty":0,"temperature":0.1,"topP":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-256,1232],"id":"9984fe04-cbf2-4250-ac5a-a981ddfdcee8","name":"OpenAI Chat Model15","credentials":{"openAiApi":{"id":"TZ6bN24gtQEoPXoy","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"response\": {\n      \"part_1\": \"Parte uno de la respuesta\",\n      \"part_2\": \"Parte dos de la respuesta (opcional)\",\n      \"part_3\": \"Parte tres de la respuesta (opcional)\"\n    }\n}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-256,1072],"id":"e1b0636e-8959-4b73-8ffb-5459bdef3159","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').first().json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Identity\nYou are a **WhatsApp message output formatter**.\n\nYour messages must sound **natural for Argentina**, using informal **Argentinian Spanish (voseo)** as commonly used in WhatsApp conversations.\n\n---\n\n# Purpose\nYour task is to take the input text and return it in **JSON format** according to the Output Parser.\n\nThe output may be divided into **up to three parts**, but **only part_1 is mandatory**.  \nIf the message is short, **part_2 and part_3 may be empty or omitted**.\n\n---\n\n# Instructions\n\n- **part_1 must always contain text.**\n- **part_2 and part_3 may be empty (\"\") or omitted if unnecessary.**\n\nIf the message becomes long, split it into **2 or 3 logical parts**.\n\nNever include any information that **does not come from the input text**.\n\nRemove the following characters from the text:\n\n```\n*  ¡  #\n```\n**Remove the ```.``` at the end of the message**\n\nRemove **line breaks** inside the messages.\n\nDo **not add, remove, or reorder information**.\n\n---\n\n# Language Style (Argentinian Spanish)\n\nAll messages must use **informal Argentinian Spanish (voseo)**.\n\nPrefer these forms:\n\n| Neutral Spanish | Argentinian Spanish |\n|-----------------|--------------------|\n| tú | vos |\n| tienes | tenés |\n| quieres | querés |\n| puedes | podés |\n| te gustaría | querés |\n| eres | sos |\n| debes | debés |\n| puedes confirmar | podés confirmar |\n| prefieres | preferís |\n| aquí | acá |\n\nExample transformations:\n\n- \"¿Quieres cancelar la clase?\" → \"¿Querés cancelar la clase?\"\n- \"Tienes una clase mañana\" → \"Tenés una clase mañana\"\n- \"Puedes elegir otro horario\" → \"Podés elegir otro horario\"\n\nMessages should sound **natural, friendly, and conversational**, as if written by a real person in Argentina.\n\n---\n\n# Message Length Guidelines\n\n- Aim for **around 20 words per part**.\n- If necessary for clarity, parts may contain **up to ~25 words**.\n- **Prioritize natural, clear messages over strict word limits.**\n\nDo not split sentences unnaturally just to respect the word limit.\n\nEach message part should:\n- be **clear**\n- be **easy to read in WhatsApp**\n- **make sense on its own**\n\n---\n\n# Splitting Rules\n\nSplit messages **only when necessary**.\n\nPrefer splitting at natural points such as:\n- sentence boundaries\n- logical pauses\n- topic changes\n\nDo **not create awkward or incomplete sentences**.\n\n---\n\n# Output Rules\n\n- Output must be **valid JSON only**.\n- Never output text outside the JSON.\n- Do not include explanations.\n- Do not include comments.\n\n---\n\n# Input\n\nRead the content provided in **Input to format**.\n\nClean and segment the text according to the rules above.\n\nReturn **only the resulting JSON**."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-368,880],"id":"7a6c4a04-2ebd-42c8-840a-280d5754fd0a","name":"Basic LLM Chain1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[336,1040],"id":"43836d35-18a1-4a19-b9c3-532df655a6ad","name":"second_message_does_not_exists"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1088,1040],"id":"992bd408-0f63-4936-9c2d-c2b3e94a5f85","name":"third_message_does_not_exists"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[512,864],"id":"cb04e7b8-41de-435d-8513-a9817142aa0a","name":"wait1","webhookId":"6870ce85-e0b3-4cf7-a739-4a2cde0ee80f"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,848],"id":"3810e329-b6c0-4918-b483-caa48ca13a5b","name":"wait2","webhookId":"6870ce85-e0b3-4cf7-a739-4a2cde0ee80f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"652de2bc-de14-42a1-91db-2c70a5587fa5","leftValue":"={{ $('Basic LLM Chain1').item.json.output.response.part_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[112,880],"id":"8303b512-303b-487b-a555-d9551460c138","name":"second_exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"652de2bc-de14-42a1-91db-2c70a5587fa5","leftValue":"={{ $('Basic LLM Chain1').item.json.output.response.part_3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[880,864],"id":"cd60dda5-9c65-486e-92d7-241f4f1f56dd","name":"third_exists"},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.account_id }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Basic LLM Chain1').item.json.output.response.part_1 }}"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,880],"id":"1e03d7e8-0708-4556-ae1c-5c1ef759e285","name":"send_message1","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.account_id }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Basic LLM Chain1').item.json.output.response.part_2 }}"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,864],"id":"00d92186-6d4b-4d29-b38f-fd1b9d42c932","name":"send_message2","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"=https://educarechat.educare.sbs/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.account_id }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Basic LLM Chain1').item.json.output.response.part_3 }}"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1408,848],"id":"457b4c8c-84be-40f8-a185-6727028b890f","name":"send_message3","credentials":{"httpHeaderAuth":{"id":"5PYtJ6mnofIldSrj","name":"chatwoot-MIA"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('When Executed by Another Workflow').first().json.message_id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-528,880],"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"typing_1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('When Executed by Another Workflow').first().json.message_id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,864],"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"typing_2","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer META_WA_TOKEN_PLACEHOLDER"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('When Executed by Another Workflow').first().json.message_id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1088,848],"id":"c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f","name":"typing_3","onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"typing_1","type":"main","index":0}]]},"typing_1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"typing_2":{"main":[[{"node":"wait1","type":"main","index":0}]]},"typing_3":{"main":[[{"node":"wait2","type":"main","index":0}]]},"OpenAI Chat Model14":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model15":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"send_message1","type":"main","index":0}]]},"wait1":{"main":[[{"node":"send_message2","type":"main","index":0}]]},"wait2":{"main":[[{"node":"send_message3","type":"main","index":0}]]},"second_exists":{"main":[[{"node":"typing_2","type":"main","index":0}],[{"node":"second_message_does_not_exists","type":"main","index":0}]]},"third_exists":{"main":[[{"node":"typing_3","type":"main","index":0}],[{"node":"third_message_does_not_exists","type":"main","index":0}]]},"send_message1":{"main":[[{"node":"second_exists","type":"main","index":0}]]},"send_message2":{"main":[[{"node":"third_exists","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"a7562cda-4ba1-4b8d-85cc-1492735ca39f","activeVersionId":"a7562cda-4ba1-4b8d-85cc-1492735ca39f","versionCounter":93,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-04-14T15:39:29.869Z","createdAt":"2026-04-14T15:39:29.869Z","role":"workflow:owner","workflowId":"6ISX6h3p6tgttZKB","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version a7562cda","description":""}}