n8n_workflows/upload_image_to_meta.json
{"updatedAt":"2026-07-06T20:48:30.663Z","createdAt":"2026-06-18T23:03:40.745Z","id":"ByVV85fjQqTCHBPe","name":"upload_image_to_meta","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"eb259e81-63b4-4bc0-9b63-417dca758809","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-736,80]},{"parameters":{"httpMethod":"POST","path":"refresh-media-ids-631204ce","options":{}},"id":"webhook-refresh-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-736,-80],"webhookId":"39309dbf-487a-4704-a98f-f68289c9a069"},{"parameters":{"filePath":"/home/node/.n8n-files/precio_precensiales.png"},"id":"read-presenciales","name":"Leer presenciales","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-528,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"image/png"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"upload-presenciales","name":"Upload presenciales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-304,0]},{"parameters":{"assignments":{"assignments":[{"id":"asgn-id-pres","name":"id_presenciales","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"set-id-presenciales","name":"Guardar ID presenciales","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,0]},{"parameters":{"filePath":"/home/node/.n8n-files/precio_virtuales.png"},"id":"read-virtuales","name":"Leer virtuales","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[144,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"image/png"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"upload-virtuales","name":"Upload virtuales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[368,0]},{"parameters":{"assignments":{"assignments":[{"id":"asgn-id-virt","name":"id_virtuales","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"set-id-virtuales","name":"Guardar ID virtuales","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0]},{"parameters":{"filePath":"/home/node/.n8n-files/imagen_plantilla_educare_clase_pendienteDePago.png"},"id":"read-clase-pendiente","name":"Leer clase pendiente pago","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[2112,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"image/png"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"upload-clase-pendiente","name":"Upload clase pendiente pago","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2336,0]},{"parameters":{"assignments":{"assignments":[{"id":"asgn-pres-final","name":"id_presenciales","value":"={{ $('Guardar ID presenciales').item.json.id_presenciales }}","type":"string"},{"id":"asgn-virt-final","name":"id_virtuales","value":"={{ $('Guardar ID virtuales').item.json.id_virtuales }}","type":"string"},{"id":"asgn-quienes-final","name":"id_quienes_somos","value":"={{ $('Guardar ID quienes somos').item.json.id_quienes_somos }}","type":"string"},{"id":"asgn-politicas-final","name":"id_politicas_cancelacion","value":"={{ $('Guardar ID politicas cancelacion').item.json.id_politicas_cancelacion }}","type":"string"},{"id":"asgn-clase-final","name":"id_clase_pendiente_pago","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"resultado-final","name":"IDs resultado","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,0]},{"parameters":{"method":"POST","url":"https://n8n.educare.sbs/api/v1/data-tables/uksimNDmsNXcOu5p/rows/upsert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"SUPABASE_JWT_PLACEHOLDER"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ filter: { filters: [{ columnName: 'id', condition: 'eq', value: 1 }] }, data: { id_presenciales: $json.id_presenciales, id_virtuales: $json.id_virtuales, id_clase_pendiente_pago: $json.id_clase_pendiente_pago, id_quienes_somos: $json.id_quienes_somos, id_politicas_cancelacion: $json.id_politicas_cancelacion } }) }}","options":{}},"id":"http-guardar-tabla","name":"Guardar en tabla","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2784,0]},{"parameters":{"filePath":"/home/node/.n8n-files/quienes_somos_imagen.jpeg"},"id":"read-quienes-somos","name":"Leer quienes somos","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[784,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"image/jpeg"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"upload-quienes-somos","name":"Upload quienes somos","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1008,0]},{"parameters":{"assignments":{"assignments":[{"id":"asgn-id-quienes","name":"id_quienes_somos","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"set-id-quienes-somos","name":"Guardar ID quienes somos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,0]},{"parameters":{"filePath":"/home/node/.n8n-files/politicas_de_cancelacion_imagen.jpeg"},"id":"read-politicas","name":"Leer politicas cancelacion","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[1456,0]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/976800925526826/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer META_WA_TOKEN_PLACEHOLDER"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"image/jpeg"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"upload-politicas","name":"Upload politicas cancelacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1680,0]},{"parameters":{"assignments":{"assignments":[{"id":"asgn-id-politicas","name":"id_politicas_cancelacion","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"set-id-politicas","name":"Guardar ID politicas cancelacion","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,0]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Leer presenciales","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Leer presenciales","type":"main","index":0}]]},"Leer presenciales":{"main":[[{"node":"Upload presenciales","type":"main","index":0}]]},"Upload presenciales":{"main":[[{"node":"Guardar ID presenciales","type":"main","index":0}]]},"Guardar ID presenciales":{"main":[[{"node":"Leer virtuales","type":"main","index":0}]]},"Leer virtuales":{"main":[[{"node":"Upload virtuales","type":"main","index":0}]]},"Upload virtuales":{"main":[[{"node":"Guardar ID virtuales","type":"main","index":0}]]},"Guardar ID virtuales":{"main":[[{"node":"Leer quienes somos","type":"main","index":0}]]},"Leer clase pendiente pago":{"main":[[{"node":"Upload clase pendiente pago","type":"main","index":0}]]},"Upload clase pendiente pago":{"main":[[{"node":"IDs resultado","type":"main","index":0}]]},"IDs resultado":{"main":[[{"node":"Guardar en tabla","type":"main","index":0}]]},"Leer quienes somos":{"main":[[{"node":"Upload quienes somos","type":"main","index":0}]]},"Upload quienes somos":{"main":[[{"node":"Guardar ID quienes somos","type":"main","index":0}]]},"Guardar ID quienes somos":{"main":[[{"node":"Leer politicas cancelacion","type":"main","index":0}]]},"Leer politicas cancelacion":{"main":[[{"node":"Upload politicas cancelacion","type":"main","index":0}]]},"Upload politicas cancelacion":{"main":[[{"node":"Guardar ID politicas cancelacion","type":"main","index":0}]]},"Guardar ID politicas cancelacion":{"main":[[{"node":"Leer clase pendiente pago","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"8e463f1c-767e-4fa3-b8ed-976ab3cd0731","activeVersionId":"8e463f1c-767e-4fa3-b8ed-976ab3cd0731","versionCounter":32,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-18T23:03:40.745Z","createdAt":"2026-06-18T23:03:40.745Z","role":"workflow:owner","workflowId":"ByVV85fjQqTCHBPe","projectId":"gF8WLdww3biV88i1","project":{"updatedAt":"2026-03-10T01:45:10.817Z","createdAt":"2026-03-10T01:43:25.786Z","id":"gF8WLdww3biV88i1","name":"Mateo Viotti <mateo.viotti@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"865393ea-08e3-46be-aa75-c93edaa04d4e"}}],"versionMetadata":{"name":"Version 8e463f1c","description":""}}